.trend-heading{
    height: 200px;
    padding:5px;
    /* list-style:none;
    width:100% */
    /* transition:all 250ms cubic-bezier(0.5, 0, 0.1, 1); */
    border:1px solid #818182;
    overflow:hidden;
}

.trendbox{
    height: 100px;
    padding:5px;
    /* list-style:none;
    width:100% */
    /* transition:all 250ms cubic-bezier(0.5, 0, 0.1, 1); */
    border:1px solid #818182;
    overflow:hidden;
}

.query-map{
        /*height: inherit;*/
        height: 600px;
        width: 100%;
        margin: 0;
}
