/* 
    Author     : Liam O'Sullivan
*/

/*For text included with dc-data-count*/
.filter-text{
    color: #3182bd;
    font-weight: bold;
    font-size: 30px; 
}

.context-text{
    text-align: justify;
    text-justify: inter-word;
    /*margin: 20px 8px 10px 8px;*/
    grid-area: ct;
}

/*mobile first*/
.query-wrapper{
    background-color: whitesmoke;
    margin: 0px 0px 0px 0px;
    display: grid;;
    width:100%;
    height: 1500px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap:1em;
     grid-auto-rows:100px; 
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "ct" 
        "v1"       
        "v1"
        "v2"
        ;

}


.viz1 {
    height: auto;
    width:auto;
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr; 
    grid-area: v1;
}
.viz2 {
    display: grid;
    align-content: space-between;
/*    grid-template-areas: 
        "tp"
        ;      */
    grid-template-columns: 1fr; 
    grid-area: v2;
}
/*420
@media screen and (min-width: 420px)  {
    #page{
        display: grid;
        width:100%;
        height: 600px;

                grid-gap:1em;
                grid-auto-rows:100px; 
                grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
            "context1 v1 v1"        
            "context2 v1 v1"
            ;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;

    }
}   
iPad Pro
@media screen and (min-width: 1024px)  {
    #page{
        display: grid;
        width:100%;
        height:600px ;
        grid-gap:1em;
         grid-auto-rows:100px; 
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
            "context1 v1 v1"        
            "context2 v1 v1"
            ;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;

    }
}*/
/*Desktop*/
@media screen and (min-width: 1200px)  {
    .query-wrapper{
        /*//margin: 0px 20px 0px 20px;*/
        padding: 0px 20px 0px 20px;
        height: 600px;
        width: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr;
        /*        grid-gap:1em;
                 grid-auto-rows:100px; 
                grid-auto-rows: minmax(100px, auto);*/
        grid-template-areas:
            "v2 v1"
            "v2 v1"
            "v3 v1"
            "v3 v1"
            "ct ct"
            ;
    }

    .context-text{
        /*background-color: blue;*/
        text-align: justify;
        text-justify: inter-word;
        grid-area: ct;
    }

/*    .button-table{
        grid-area: bt;
    }*/

    .viz1 {
        /*background-color: grey;*/
        height: auto;
        width: auto;
        display: grid;
        align-content: space-between;
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        grid-area: v1;
    }
    .viz2 {
        /*background-color: red;*/
        padding: 0px 20px 40px 0px;
        height: auto;
        display: grid;
        align-content: space-between;
/*        grid-template-areas: 
            "tp"
            ;      */
        grid-template-columns: 1fr; 
        grid-area: v2;
    }
    .viz3 {
        padding: 0px 20px 40px 0px;
        /*background-color: green;*/
        height: auto;
        display: grid;
        align-content: space-between;
/*        grid-template-areas: 
            "tp"
            ;      */
        grid-template-columns: 1fr; 
        grid-area: v3;
    }
}

/*#page > div:nth-child(odd){
    background-color: lightgrey;
}*/
