.plotly-chart-medium{
  height: 500px;
}

.housing-story-map-title{
        /*height: inherit;*/
        /* height: 600px; */
        width: 100%;
        margin: 0;
         font-family: "PT Sans"; /*from plotly_config_stories */
         font-size: 20px;
         color: '#313131';
}

#commuter-map{
  position: relative;
  height: 400px;
  width: 100%
}

#unfinished-estates-map{
  position: relative;
  height: 400px;
  width: 100%
}
