.map-key{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.housing-story-map-title{
  /*height: inherit;*/
  /* height: 600px; */
  width: 100%;

  padding-top: 100px;
  margin-top: -80px;
  margin-bottom: 20px;
  font-family: "PT Sans"; /*from plotly_config_stories */
  font-size: 30px;
  color: '#313131';
}

#commuter-map{
  position: relative;
  height: 500px;
  width: 100%;
  /*margin-bottom: 100px;*/
  margin-top: 40px;
}

#unfinished-estates-map{
  position: relative;
  height: 500px;
  width: 100%;
  /*margin-bottom: 80px;*/
  margin-top: 40px;
}

#airbnb-properties-map{
  position: relative;
  height: 500px;
  width: 100%;
  /*margin-bottom: 50px;*/
  margin-top: 40px;
}

#planning-permissions-map {
  position: relative;
  height: 500px;
  width: 100%;
  /*margin-bottom: 80px;*/
  margin-top: 40px;
}

#phase_container {
  padding:0 2.5% 0 2.5%;
  /*min-height: 500px;*/
  position: relative;
  /*display: block;*/
}

#graphic{
  padding:0 2.5% 0 2.5%;
  text-align: center;
  z-index: -1;
  /*padding-top: 200px;
  margin-top: 200px; */
}

#graph{
  display: inline-block;
 /* position: sticky;*/
  vertical-align: top;
  /*height: 300px;
  background-color: white;
  /*border-bottom: 1px solid #aaa;*/
  z-index: 1;
  top: 1px;
  /*padding-top: 120px; */
  margin-top: 0px;
  /*margin-top: 100px;*/
  /*margin-bottom: 40px;*/
  
}

/*
#graph.gscroll-fixed{
  position: fixed;
  top: 0px;
}*/

svg{
  overflow: none;
}

#svg-container{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

#section-container{
  /*580 is the guarenteed size of the plotly medium plot*/
  height:580px;
  
}

#chart-and-source{
  font-size: 10px;
  /*ensures that there is double the spacing between each plot/map and the next heading
    (3rem here and 3rem top margin on headings)*/
  margin-bottom: 3rem;
}

.data-source{
  font-size: 10px;
  text-align: right;
}

/*
#section-text{
  height: 100%;
  width:33.33%;
  float:left;
  display: flex;
  align-items: center;
}
*/