@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; display: block; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; display: block; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: hidden; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: hidden; }
}

.parent {
    display: grid;
    grid-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    /* flex-direction: row; */;
    max-width: 1800px;
    margin: 0 auto;
    background-color: #1c2022;
}
.narrative {
    /* width: 33.3%; */
    grid-column: 1/5;
    grid-row: 1;
}

.narrative-item {

    /* min-height: 300px; */
    color: #ccc;
    transition: color 200ms;
    padding-top: 30vh;
    height: auto;
    color: darkgrey;
}

.narrative-item.active {
    color: white;
}
.rightcol {
    /* width: 66.6%; */
    grid-column: 5/13;
    grid-row: 1;
}
.two-step-sticky-wrapper{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding-top: 30vh;
  min-height: 70vh;
  height: auto;
}

.chart{
  /* opacity: 0; */
  background-color: transparent;


}

.chart[data-status="shown"] {
 opacity: 1;
 -webkit-animation: fadeIn 200ms;
 animation: fadeIn 200ms;
}

.chart[data-status="hidden"] {
  opacity: 0;
  -webkit-animation: fadeOut 200ms;
  animation: fadeOut 200ms;
}

.mobile-chart {
    display: none;
}

@media screen and (max-width: 768px) {
    .narrative {
        width: 100%;
    }
    .rightcol {
        display: none;
    }
    .mobile-chart {
        display: block;
    }
    .narrative-item {
        color: black;
        height: auto;
    }
}
}
