@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; display: block; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; display: block; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: hidden; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: hidden; }
}

.parent {
    display: flex;
    flex-direction: row;
    max-width: 1344px;
    margin: 50px auto;
}
.narrative {
    width: 33.3%;
}

.narrative-item {

    min-height: 300px;
    color: #ccc;
    transition: color 200ms;
    padding-top: 400px;
}

.narrative-item.active {
    color: black;
}
.rightcol {
    width: 66.6%;

}
.chart{
  /* opacity: 0; */
  background-color: black;

}

.chart[data-status="shown"] {
 opacity: 1;
 -webkit-animation: fadeIn 200ms;
 animation: fadeIn 200ms;
}

.chart[data-status="hidden"] {
  opacity: 0;
  -webkit-animation: fadeOut 200ms;
  animation: fadeOut 200ms;
}

.mobile-chart {
    display: none;
}

@media screen and (max-width: 768px) {
    .narrative {
        width: 100%;
    }
    .rightcol {
        display: none;
    }
    .mobile-chart {
        display: block;
    }
    .narrative-item {
        color: black;
        height: auto;
    }
}
}
