<div class="wrapper">
    <!--    <div class='context-text'>
            <h1>Dublin Planning Tool</h1>
             Time Chart  
    
            <p>Number of Applications Received Over Time</p>
    
    
        </div>-->

    <!-- Map -->  
    <div class="viz1">
        <div id="planning-map">
        </div>
    </div>

    <div class="button-table" style="height:200px">
        <table style="width:100%; text-align:left; 
               font-family: 'Proxima Nova', sans-serif; font-weight: normal; font-size: 12pt;">
            <tr>   
                <td>
                    <label class="switch">
                        <input type="checkbox" id="date-switch" checked>
                        <span class="slider-switch"></span>
                    </label>                   
                </td>
                <td>
                    Date Range (Applications Received)
                </td>

                <td>
                    Start date:<input type="date" id="start_date" style="height:auto"/>
                </td>
                <td>

                </td>
                <td>
                    End date:
                    <input type="date" id="end_date" style="height:auto"/>
                </td>

            </tr>
            <tr>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="authorirty-switch" checked>
                        <span class="slider-switch"></span>
                    </label>                   
                </td>
                <td>
                    Local Authority
                </td>
                <td>
                    <!--<input type="image" src="/images/themes/health/Hospital.png" id="hospital_check" style="width:60px; height:60px"/>-->
                    <input type="checkbox" class="la-checkbox" id="dcc-check" 
                           value="Dublin City Council"  />Dublin City

                </td>
                <td>
                    <!--<input type="image" src="/images/themes/health/GP.png" id="gp_check" style="width:60px; height:60px"/>-->
                    <input type="checkbox" class="la-checkbox" id="fing-check" 
                           value="Fingal County Council"  />Fingal
                </td>
                <td>
                    <!--<input type="image" src="/images/themes/health/Dentist.png" id="dentist_check" style="width:60px; height:60px"/>-->
                    <input type="checkbox" class="la-checkbox" id="dlr-check" 
                           value="Dun Laoghaire Rathdown County Council"  />Dún Laoghaire-Rathdown
                </td>
                <td>
                    <!--<input type="image" src="/images/themes/health/Pharmacy.png" id="pharmacy_check" style="width:60px; height:60px"/>-->
                    <input type="checkbox" class="la-checkbox" id="sdc-check" 
                           value="South Dublin County Council"  />South Dublin
                </td>

            </tr>
            <tr>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="decision-switch" checked>
                        <span class="slider-switch"></span>
                    </label>                   
                </td>
                <td>
                    Decision Type
                </td>
                <td>
                    <!--<input type="image" src="/images/themes/health/Hospital.png" id="hospital_check" style="width:60px; height:60px"/>-->
                    <input type="checkbox" class="decision-checkbox" id="granted_check" 
                           value="GRANT"  />Grant

                </td>
                <td>
                    <!--<input type="image" src="/images/themes/health/GP.png" id="gp_check" style="width:60px; height:60px"/>-->
                    <input type="checkbox" class="decision-checkbox" id="denied_check" 
                           value="REFUSE"  />Refuse
                </td>
                <td>
                    <!--<input type="image" src="/images/themes/health/Dentist.png" id="dentist_check" style="width:60px; height:60px"/>-->
                    <input type="checkbox" class="decision-checkbox" id="invalid_check"
                           value="INVALID"  />Invalid
                </td> 
                <td>
                    <!--<input type="image" src="/images/themes/health/Dentist.png" id="dentist_check" style="width:60px; height:60px"/>-->
                    <input type="checkbox" class="decision-checkbox" id="other_check" 
                          value="OTHER"  />Other
                </td> 
            </tr>
            <tr>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="area-switch" checked>
                        <span class="slider-switch"></span>
                    </label>                   
                </td>
                <td>
                    Site Area Range
                </td>
                <td>
                    <input type="number" id="min-area-nb" style="height:auto" />Min
                </td>
                <td>

                </td>
                <td>
                    <div id="area-slider"></div>
                </td>
                <td>
                    <input type="number" id="max-area-nb" style="height:auto" />Max
                </td>                        
            </tr>
<tr>
                <td>
                                      
                </td>
                <td>
                    Search for Application Number
                </td>
                <td>
                    <!--<form name="app-number-form">-->
                    <input type="text" id="app-number-search" style="height:auto" />
                    <!--<input name="Submit"  type="submit" value="Search" >-->
                    <!--</form>-->
                </td>
                <td>
                    <div id = 'search-result'>
                        
                    </div>
                </td>
                <td>
                </td>
                                        
            </tr>


        </table>
    </div>            

    <!--    Decision 
        <div >
            Application Decision
        </div>
    -->   
    <div class="viz2">
        <div id="decision-row-chart"></div>
    </div>
    <!-- Time Chart -->
    <div class="viz3">

        <div id="time-chart">
        </div>
        <div id="size-chart">
        </div>

    </div>

    <!--
            <div class="chart-title">
                Total Number of Applications Selected
            </div>-->
    <!--    <div class='dc-data-count'>
            <p>Currently showing<br><span id='number-records-nd'></span>
                <span class="filter-text" id="type-filter-text"></span>
                <br>out of a total of<br><span class='total-count'></span><br> 
                planning applications.
            </p>
        </div>-->
</div>



