<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>

        </div>
        <div class="col-md-4">
            <form role="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">
                        Application Number
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <button type="submit" class="btn btn-bcd">
                    Search
                </button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">

                    <div class ="tool-map" id="planning-map">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    Chart
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Chart
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    Chart
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-bcd">
            </button>
        </div>
        <div class="col-md-2">
            <p>
                Local Authority
            </p>
        </div>
        <div class="col-md-8">
            <div class="btn-group" role="group">
                <button class="btn btn-bcd" >
                    Dublin City
                </button> 
                <button class="btn btn-bcd" type="button">
                    Dublin South
                </button> 
                <button class="btn btn-bcd" type="button">
                    Dun-Laoighre/Rathdown
                </button> 
                <button class="btn btn-bcd" type="button">
                    Fingal
                </button>
            </div>
        </div>
        <div class="col-md-1">
            halp
        </div>

    </div>
    <div class="row">
        <div class="col-md-1">

            <button type="button" class="btn btn-bcd">

            </button>
        </div>
        <div class="col-md-2">
            <p>
                Decision type
            </p>
        </div>
        <div class="col-md-8">
            <div class="btn-group" role="group">

                <button class="btn btn-bcd" type="button">
                    Grant
                </button> 
                <button class="btn btn-bcd" type="button">
                    Refuse
                </button> 
                <button class="btn btn-bcd" type="button">
                    Other
                </button> 
                <button class="btn btn-bcd" type="button">
                    Invalid
                </button>
            </div>
        </div>
        <div class="col-md-1">
            halp
        </div>

    </div>
    <div class="row">
        <div class="col-md-1">			 
            <button type="button" class="btn btn-bcd">

            </button>
        </div>
        <div class="col-md-2">
            <p>
                Date range
            </p>
        </div>
        <div class="col-md-3">
            <form role="form">
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Start date
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form role="form">
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Slider
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form role="form">
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        End date
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">			 
            <button type="button" class="btn btn-bcd">

            </button>
        </div>
        <div class="col-md-2">
            <p>
                Size range
            </p>
        </div>
        <div class="col-md-3">
            <form role="form">
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Min area
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form role="form">
                <div id="area-slider">

                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form role="form">
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Max area
                    </label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-bcd">
            </button>
        </div>
        <div class="col-md-2">
            <p>
                *	
            </p>
        </div>

        <div class="col-md-1">
            <button class="btn btn-bcd btn-block" type="button">
                DCC
            </button> 
        </div>
        <div class="col-md-1">  
            <button class="btn btn-bcd btn-block" type="button">
                SDC
            </button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-bcd btn-block" type="button">
                DLR
            </button> 
        </div>
        <div class="col-md-1">
            <button class="btn btn-bcd btn-block" type="button">
                FCC
            </button>
        </div>
        <div class="col-md-5">*
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
