extends layout

block content
  h1 Statbank Tool
  p
    button#get-all-metadata Refresh all metadata
  p
    select#table-code-dropdown
      option Choose a Statbank table code
    //- 
    //- .col-md-8
    //-   #statbank-loading.mt-2 
    //- .col-md-12
    //-   #statbank-test-text.mt-2
    //-   #statbank-test-datalist.mt-2
  
block append scripts
  script(src='/javascripts/tools/statbank.js' type='module')
