<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" alt="Card image" src="/images/tools/planning_card_image.png">
                    <div class="card-block">
                        <h5 class="card-title">
                            Planning Applications
                        </h5>
                        <p class="card-text">
                        Explore planning applications across the four local authorities. 
                        Planning applications are located on a map and can be filtered in various ways,
                        including by date range, size of development and application status.
                        You can also search directly for an application number.
                        <p align="center">
                            <a class="btn btn-bcd" href="tools/planning" >Launch</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top" alt="" src="">
                    <div class="card-block">
                        <h5 class="card-title">
                            Census 2016 in Dublin
                        </h5>
                        <p class="card-text">
                        Explore the information gathered as part of the 2016 Census.
                        </p>
                        <p align="center">
                            <a class="btn btn-bcd" href="tools/census2016">Launch</a> 
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>