.row.wrapper.py-1
  .col-12
    //div.pt-20 
    p.lead What is it?   
    p The AIRO Data Store has been created by the team at AIRO and NIRSA as a means of 
      |making the working data more accessible to the public. 
      
      
    p.lead Where is it used?
    p Instead of just dumping out masses of raw data, they are cleaned up, adding additional 
      |value and hopefully making it useful for use. The main trick is to ensure that it has 
      |a spatial component for use in GIS.
        
      
    //p 
      a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://airo.maynoothuniversity.ie/datastore" target="_blank") AIRO
