.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p The All-Island Research Observatory (AIRO) undertakes academic and applied mapping   
      |research and produces spatial datasets and specialist tools to aid in their analysis. | Based at Maynooth University, AIRO is the leading spatial analysis and planning unit | within the National Institute for Regional and Spatial Analysis (NIRSA).  
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://airo.maynoothuniversity.ie/data-visualisations" target="_blank") AIRO Visualisations

  .col-lg-8.accordian-screenshot-container
    img(src="../images/portal/screenshots/airo-vis-2.png" class="accordian-screenshot")
