.row.wrapper.py-1
  .col-lg-12.m-0.p-0
    p.lead What is it?
  .col-md-8.m-0.p-0   
    p Irish Rail on mobile devices is a Free to download and will provide customers with the following;
      ul 
        li Real time train information (real-time) including delays and remaining time to departure.
        li Journey planner (timetables) functionality.
        li Augmented Reality - station location services.
        li Identification of nearby stations based on current location.
        li Details of intermediate stations and whether there are any changes on route.
        li Compact display of route alternatives, including door-to-door navigation and walking distances.
        li Favourite function for destinations and routes including auto-history for past queries.
        li Re-entry on last screen when leaving or re-starting the application.
    //-   a(href="../themes#demographics") Themes: Demographics
  .col-md-4.m-0.p-0.app-store-icon-container
    img(src="../images/app-icons/app_irish_rail.png" class="app-icon")
      
.row
  .col-12.m-0.p-0
    p.lead Availability
  //- div.row.m-0.p-0        
  .col-lg-4.col-6.app-icon-container
    div.m-0.p-0
      a(href="https://itunes.apple.com/ie/app/iarnrod-eireann-irish-rail/id588339413?mt=8" target="_blank")
        img(src="../images/app-icons/apple-store-logo.png" class="app-store-icon")
  .col-lg-4.col-6.app-icon-container
    div.m-0.p-0
      a(href="https://play.google.com/store/apps/details?id=de.hafas.android.irishrail" target="_blank")
        img(src="../images/app-icons/google-play-logo.png" class="app-store-icon")
      
