.row.wrapper.py-1
  .col-lg-12.m-0.p-0
    p.lead What is it?
  .col-md-8.m-0.p-0   
    p With the Parking Tag mobile app you can pay for parking using your registered credit or debit card instead.
      | Parking Tag is a Pay by Phone parking solution which can be used in Dublin City, 
      | Dún Laoghaire-Rathdown, Fingal and South Dublin County Council and now in Arklow Town, Wicklow Town and Dún.
      
    //-   a(href="../themes#demographics") Themes: Demographics
  .col-md-4.m-0.p-0.app-store-icon-container
    img(src="../images/app-icons/app_park_tag.png" class="app-icon")
      
.row
  .col-12.m-0.p-0
    p.lead Availability
  //- div.row.m-0.p-0        
  .col-lg-4.col-6.app-icon-container
    div.m-0.p-0
      a(href="https://itunes.apple.com/ie/app/parkingtag/id716673381?mt=8" target="_blank")
        img(src="../images/app-icons/apple-store-logo.png" class="app-store-icon")
  .col-lg-4.col-6.app-icon-container
    div.m-0.p-0
      a(href="https://play.google.com/store/apps/details?id=com.payzone.parkingtag" target="_blank")
        img(src="../images/app-icons/google-play-logo.png" class="app-store-icon")
      
