.row.wrapper.py-1
  .col-lg-12.m-0.p-0
    p.lead What is it?
  .col-md-8.m-0.p-0   
    p Nisi vidisse mentitum non velit non laborum ad malis iis multos an commodo, si 
      |ne exquisitaque, minim ullamco eu mentitum, qui qui praetermissum, ne velit 
      |probant iudicem, nescius te laboris.
    //-   a(href="../themes#demographics") Themes: Demographics
  .col-md-4.m-0.p-0.app-store-icon-container
    img(src="../images/app-icons/app_irish_rail.png" class="app-icon")
      
.row
  .col-12.m-0.p-0
    p.lead Availability
  //- div.row.m-0.p-0        
  .col-lg-4.col-6.app-icon-container
    div.m-0.p-0
      a(href="https://itunes.apple.com/ie/app/luas/id427959886?mt=8" target="_blank")
        img(src="../images/app-icons/apple-store-logo.png" class="app-store-icon")
  .col-lg-4.col-6.app-icon-container
    div.m-0.p-0
      a(href="https://play.google.com/store/apps/details?id=ie.dovetail.rpa.luas" target="_blank")
        img(src="../images/app-icons/google-play-logo.png" class="app-store-icon")
      
