.row.wrapper.py-1
  .col-lg-12.m-0.p-0
    p.lead What is it?
  .col-md-8.m-0.p-0   
    p  The Dublin Airport App helps you on your journey with the following features:
      ul
        li Live departing and arriving flight information.
        li Real time security queue times.
        li Gate numbers, check-in areas and baggage carousel information.
        li Time to go to gate status along with delayed and cancelled flight information.
        li Book Dublin Airport Car Parks, Fast Track, Lounges, Airport Club and Platinum Services.
        li Browse, shop, fly and buy with the latest offers from The Loop.


    //-   a(href="../themes#demographics") Themes: Demographics
  .col-md-4.m-0.p-0.app-store-icon-container
    img(src="../images/app-icons/app_dublin_airport.png" class="app-icon")
      
.row
  .col-12.m-0.p-0
    p.lead Availability
  //- div.row.m-0.p-0        
  .col-lg-4.col-6.app-icon-container
      div.m-0.p-0
        a(href="https://itunes.apple.com/ie/app/dublin-airport/id411482375?mt=8" target="_blank")
          img(src="../images/app-icons/apple-store-logo.png" class="app-store-icon")
  .col-lg-4.col-6.app-icon-container
    div.m-0.p-0
      a(href="https://play.google.com/store/apps/details?id=com.daa" target="_blank")
        img(src="../images/app-icons/google-play-logo.png" class="app-store-icon")
      
