.row.wrapper.py-1
  .col-lg-12.m-0.p-0
    p.lead What is it?
  .col-md-8.m-0.p-0   
    p This App gives you all the information you need to make use of Luas direct from Luas.
      |This App includes:
      ul
        li Live Info – Real time Live Information for next trams to all stops.
        li Fares - Point to Point Fare Calculator.
        li Map – An interactive Map of all Luas Stops, Park + Rides and Lost+ Founds with links to Live Information for that stop 
           and Directions to that stop from your location.
        li Times – Details of Luas Operating Times for both lines 7 Days a week.
        li News – All the latest Luas info direct to your phone including Travel Updates, details of Holiday Services 
           and all the latest Luas Competitions and News.   
        li Contacts - Use the links throughout the App to Freephone the Luas Call Centre at 1800 300 604, email the Luas Call Centre at info@luas.ie or find out 
            more about Luas on the Luas Mobile Website www.m.luas.ie.
    //-   a(href="../themes#demographics") Themes: Demographics
  .col-md-4.m-0.p-0.app-store-icon-container
    img(src="../images/app-icons/app_luas.png" class="app-icon")
      
.row
  .col-12.m-0.p-0
    p.lead Availability
  //- div.row.m-0.p-0        
  .col-lg-4.col-6.app-icon-container
    div.m-0.p-0
      a(href="https://itunes.apple.com/ie/app/luas/id427959886?mt=8" target="_blank")
        img(src="../images/app-icons/apple-store-logo.png" class="app-store-icon")
  .col-lg-4.col-6.app-icon-container
    div.m-0.p-0
      a(href="https://play.google.com/store/apps/details?id=ie.dovetail.rpa.luas" target="_blank")
        img(src="../images/app-icons/google-play-logo.png" class="app-store-icon")
      
