.row.wrapper.py-1
  .col-lg-4
    p.lead What is it ?   
    p This site shares the latest on water quality and other information at the 
     | moment you search for it for over 200 beaches. You can discover beaches near 
     | you, find out which beaches have safe water quality, check out tides and learn about beach amenities. 
     | You can also be informed of swim restrictions and annual water quality ratings.  
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://www.beaches.ie/find-a-beach/#/" target="_blank")  Find a Beach

  .col-lg-8.accordian-screenshot-container
    img(src="../images/portal/screenshots/b3.png" class="accordian-screenshot")
