.row.wrapper.py-1
  .col-12
    //div.pt-20 
    p.lead What is it?   
    p The Central Statistics Office (CSO) is Ireland's national statistical office whose 
      |purpose is to impartially collect, analyse and make available statistics about 
      |Ireland’s people, society and economy.
         
    p.lead Where is it used?
    p At national level, CSO official statistics inform decision making across a range of 
      |areas including construction, health, welfare, the environment and the economy. At |
      |European level they provide an accurate picture of Ireland’s economic and social 
      |performance and enable comparisons between Ireland and other countries.
      p 
      a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="www.cso.ie" target="_blank") Central Statisics Office
