.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Data.gov.ie is intended to provide easy access to datasets that are free to use, 
      |reuse, and redistribute. The portal is operated by the Government Reform Unit of the 
      |Department of Public Expenditure and Reform.
    
    br 
      
    p.lead Where is it used?
    p The concept of Open Data is about making data held by public bodies available and 
      |easily accessible online for reuse and redistribution. As public bodies have 
      |progressed in areas like eGovernment and data analytics, the potential of data and, 
      |in particular,Open Data to help deliver economic, social and democratic benefits has 
      |become clearer.The data.gov.ie portal brings these datasets together in a single |searchable website.
    
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://data.gov.ie/" target="_blank") Data.gov

  .col-lg-8.accordian-screenshot-container
     img(src="../images/portal/screenshots/datagov_ie.png" class="accordian-screenshot")


//- .row.wrapper.py-1
  .col-12
    //div.pt-20 
    p.lead What is it?   
    p Data.gov.ie is intended to provide easy access to datasets that are free to use, 
      |reuse, and redistribute. The portal is operated by the Government Reform Unit of the 
      |Department of Public Expenditure and Reform.
      
      .col-lg-8.accordian-screenshot-container
        img(src="../images/portal/screenshots/datagov_ie.png" class="accordian-screenshot")
            
    p.lead Where is it used?
    p The concept of Open Data is about making data held by public bodies available and 
      |easily accessible online for reuse and redistribution. As public bodies have 
      |progressed in areas like eGovernment and data analytics, the potential of data and, 
      |in particular,Open Data to help deliver economic, social and democratic benefits has 
      |become clearer.The data.gov.ie portal brings these datasets together in a single |searchable website.
      
    //p 
      a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://data.gov.ie/" target="_blank") Data.gov
