.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p The Dublin Economic Monitor is a joint initiative on behalf of the four Dublin local authorities to track developments in the capital’s economy.
      |The Dublin City Region (i.e. the 4 Dublin local authorities combined) plays an increasingly important role in the economy of Ireland and it is important that its performance is properly tracked.
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://www.dublineconomy.ie/" target="_blank") Dublin Economic Monitor

  .col-lg-8.accordian-screenshot-container
     img(src="../images/portal/screenshots/Demon.png" class="accordian-screenshot")

//- Original Code
//- .row.wrapper.py-1
  .col-8
    //div.pt-20 
    p.lead What is it   
    p The AIRO Data Store has been created by the team at AIRO and NIRSA as a means of 
      |making the working data more accessible to the public. 
  
    .col-lg-8.accordian-screenshot-container
        img(src="../images/portal/screenshots/Air-datastore.png" class="accordian-screenshot")
        
    p.lead Where is it used?
    p Instead of just dumping out masses of raw data, they are cleaned up, adding additional 
      |value and hopefully making it useful for use. The main trick is to ensure that it has 
      |a spatial component for use in GIS.
        
      
    //p 
      a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://airo.maynoothuniversity.ie/datastore" target="_blank") AIRO
    
      
    
      
