.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p This website is a portal to data collected in and around Ireland’s maritime zone. 
      |It collects together data and information provided by a number of organisations into one place. 
      |The development of this website has been funded by the Marine Institute.
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://www.digitalocean.ie/" target="_blank") Digital Ocean

  .col-lg-8.accordian-screenshot-container
    img(src="../images/portal/screenshots/digital-ocean-2.png" class="accordian-screenshot")
