.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Dublin Bikes API provides real time and static data. Static data provides stable 
      |information like station position, number of bike stands, payment terminal 
      |availability, etc.' Dynamic data provides station state, number of available bikes, 
      |number of free bike stands, etc.
      
    p.lead Where is it used?
    p As public bodies have progressed in areas like eGovernment and data analytics, the 
      |potential of data and, in particular, Open Data to help deliver economic, social and 
      |democratic benefits has become clearer. The data.gov.ie portal brings these datasets 
      |together in a single searchable website.
    
      p 
        a(href="../themes#transport") Themes: Transport
      p
        a(href="../queries#getting_around") Queries: Getting Around
      p.lead Source link    
      p
        a(href="https://dublinbikes.staging.derilinx.com/" target="_blank") Derilinx Dublin Bikes

  .col-lg-8.accordian-screenshot-container
     a(href="https://dublinbikes.staging.derilinx.com/" target="_blank")
        img(src="../images/portal/screenshots/dubbikesapi.png" class="accordian-screenshot")


//- old.row.wrapper.py-1
  .col-12
    div.pt-20
    p.lead What is it?   
    p Dublin Bikes API provides real time and static data. Static data provides stable 
      |information like station position, number of bike stands, payment terminal 
      |availability, etc.' Dynamic data provides station state, number of available bikes, 
      |number of free bike stands, etc.
    
      .col-lg-8
         img(src="../images/portal/screenshots/DubBikesAPI.png" class="accordian-screenshot")
           
    p.lead Where is it used?
    p As public bodies have progressed in areas like eGovernment and data analytics, the 
      |potential of data and, in particular, Open Data to help deliver economic, social and 
      |democratic benefits has become clearer. The data.gov.ie portal brings these datasets 
      |together in a single searchable website.
        
      
    p 
      a(href="../themes#transport") Themes: Transport
    p
      a(href="../queries#getting_around") Queries: Getting Around
    p.lead Source link    
    p
      a(href="https://dublinbikes.staging.derilinx.com/" target="_blank") Derilinx Dublin Bikes
