.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p This site provides continuous real time data from a number of sources. This includes the network of air quality monitoring stations that 
      |are part of the national air quality monitoring network managed in cooperation between the Environmental Protection Agency and Dublin City Council, as well as other stations set up by Dublin City Council to monitor local air quality conditions.
      
    
    
         
      p
        a(href="https://dublincityairandnoise.ie//" target="_blank") Dublin City Air and Noise 

  .col-lg-8.accordian-screenshot-container
     img(src="../images/portal/screenshots/dublin-cityairandnoise.png" class="accordian-screenshot")


//- old.row.wrapper.py-1
  .col-12
    div.pt-20
    p.lead What is it?   
    p Dublin Bikes API provides real time and static data. Static data provides stable 
      |information like station position, number of bike stands, payment terminal 
      |availability, etc.' Dynamic data provides station state, number of available bikes, 
      |number of free bike stands, etc.
    
      .col-lg-8
         img(src="../images/portal/screenshots/DubBikesAPI.png" class="accordian-screenshot")
           
    p.lead Where is it used?
    p As public bodies have progressed in areas like eGovernment and data analytics, the 
      |potential of data and, in particular, Open Data to help deliver economic, social and 
      |democratic benefits has become clearer. The data.gov.ie portal brings these datasets 
      |together in a single searchable website.
        
      
    p 
      a(href="../themes#transport") Themes: Transport
    p
      a(href="../queries#getting_around") Queries: Getting Around
    p.lead Source link    
    p
      a(href="https://dublinbikes.staging.derilinx.com/" target="_blank") Derilinx Dublin Bikes
