.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Timelapse is a global, zoomable video that lets you see how the Earth has 
      | changed over the past 35 years
      |.
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://earthengine.google.com/timelapse/#v=53.36368,-6.16708,10.615,latLng&t=0.01" target="_blank") Google Earth Timelapse

  .col-lg-8.accordian-screenshot-container
    a(href="https://earthengine.google.com/timelapse/#v=53.36368,-6.16708,10.615,latLng&t=0.01" target="_blank")
      img(src="../images/portal/screenshots/dublin-growth-2.png" class="accordian-screenshot")
