.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p It is an initiative of the four Dublin Local Authorities to engage with smart 
      |technology providers, researchers and citizens to solve challenges and improve city 
      |life.
    p.lead Where is it used?
    ul
       li.n-text Acts as a reference site to validate smart city technologies
       li.n-text Move from research to reality
       li.n-text Builds a collaboration framework to solve Dublin’s challenges
       li.n-text Delivers more efficient city services
       li.n-text Increased engagement with citizens and service users
       li.n-text Enhances the quality of life.
    
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://data.smartdublin.ie/dataset" target="_blank") Dublinked

  .col-lg-8.accordian-screenshot-container
     img(src="../images/portal/screenshots/Dublinked.png" class="accordian-screenshot")




//- Original .row.wrapper.py-1
  .col-12
    //div.pt-20 
    p.lead What is it?   
    p It is an initiative of the four Dublin Local Authorities to engage with smart 
      |technology providers, researchers and citizens to solve challenges and improve city 
      |life.
    
      .col-lg-8.accordian-screenshot-container
          img(src="../images/portal/screenshots/Dublinked.png" class="accordian-screenshot")
    
    p.lead Where is it used?
    ul
       li Acts as a reference site to validate smart city technologies
       li Move from research to reality
       li Builds a collaboration framework to solve Dublin’s challenges
       li Delivers more efficient city services
       li Increased engagement with citizens and service users
       li Enhances the quality of life.
    //- p 
      a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://data.smartdublin.ie/dataset" target="_blank") Dublinked
