.row.wrapper.py-1
  .col-12
    //div.pt-20 
    p.lead What is it?   
    p This geoportal is designed to make data about the environment easier to find, browse 
      |and understand. 
    
      .col-lg-8
        img(src="../images/portal/screenshots/EPAGeoSpitial.png" class="accordian-screenshot")
          
    p.lead Where is it used?
    p The EPA has a large GIS database all of which is freely available under Creative 
     |Commons Attribution license 4.0 unless it states otherwise.

    //p 
      a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://gis.epa.ie/Home" target="_blank") EPA
