.row.wrapper.py-1
  .col-12
    div.pt-20 
    p.lead What is it?   
    p The Environmental Protection Agency (EPA) is at the front line of environmental 
      |protection and policing. EPA ensures that Ireland's environment is protected, and  
      |monitors changes in environmental trends to detect early warning signs of neglect or 
      |deterioration.
      
      .col-lg-8
        img(src="../images/portal/screenshots/EPA_Ireland.png" class="accordian-screenshot")
  
  
           
    p.lead Where is it used?
    p Iudicem eram consequat consequat iis nisi probant sempiternum, magna ingeniis 
      |qui deserunt, sint vidisse ex quem tempor. Litteris quorum cupidatat. Quamquam 
      |aliqua labore et noster. Nulla litteris te adipisicing.Mentitum tractavissent te 
      |officia, a cupidatat consectetur. E ut quis quamquam.
    p
      a(href="../themes#environment") Themes: Environment
    p.lead Source link
    p 
      a(href="www.epa.ie" target="_blank") epa.ie  
    
