.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p The Fingal County Council Development Plan 2017 - 2023 was made by the elected Members 
      | at a Special Council Meeting on 16th February 2017.
      | The Fingal Development Plan will have effect from 16th March 2017 and will be used 
      | in the determination of all planning applications from this date.
       
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://fingalcoco.maps.arcgis.com/apps/webappviewer/index.html?id=3fa7d9df584c4d93aab202638db9dd1a" target="_blank") Fingal Planning Applications

  .col-lg-8.accordian-screenshot-container
    a(href="http://fingalcoco.maps.arcgis.com/apps/webappviewer/index.html?id=3fa7d9df584c4d93aab202638db9dd1a" target="_blank")
      img(src="../images/portal/screenshots/fingal-planning-2.png" class="accordian-screenshot")
