.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p  FixMyStreet is a site to help people report, view, or discuss local problems they’ve 
      | found to their local council by simply locating them on a map
      |.
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://fixmystreet.ie/reports/Dublin+City" target="_blank") Fix My Street

  .col-lg-8.accordian-screenshot-container
    a(href="https://fixmystreet.ie/reports/Dublin+City" target="_blank")
      img(src="../images/portal/screenshots/fix-my-street.png" class="accordian-screenshot")
