.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p The Heritage Maps viewer site is owned by the Heritage Council (HC) and operated on  
      |their behalf by Compass Informatics Ltd. 
      |The HC Heritage Maps viewer has been provided to enable visitors visualise heritage 
      |data and is intended as a tool for the personal investigation of heritage issues 
      |.
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://www.heritagemaps.ie/WebApps/DublinBayArea/index.html" target="_blank") Heritage Maps

  .col-lg-8.accordian-screenshot-container
    a(href="https://www.heritagemaps.ie/WebApps/DublinBayArea/index.html" target="_blank")
      img(src="../images/portal/screenshots/heritage-maps-2.png" class="accordian-screenshot")
