.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p It is a map search facility that provides access to the records of the National 
      |Monuments Service "Sites and Monuments Record" (SMR) and the National Inventory of 
      |Architectural Heritage.
      |The SMR records are represented on the map canvas as red dots. It is important to 
      |note that only records that are precisely located are visible on the map. The red dot 
      |equates with the known approximate centre of the record and is not indicative of its 
      |geographic extent. The records of the National Inventory of Architectural Heritage (
      |NIAH) are represented on the map canvas as blue dots.
      
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://webgis.buildingsofireland.ie/HistoricEnvironment/index.html" target="_blank") Historic Environment

  .col-lg-8.accordian-screenshot-container
    a(href="https://webgis.buildingsofireland.ie/HistoricEnvironment/index.html" target="_blank")
      img(src="../images/portal/screenshots/historic-environment-2.png" class="accordian-screenshot")
