.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Nisi vidisse mentitum non velit non laborum ad malis iis multos an commodo, si 
      |ne exquisitaque, minim ullamco eu mentitum, qui qui praetermissum, ne velit 
      |probant iudicem, nescius te laboris.
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://webgis.buildingsofireland.ie/HistoricEnvironment/index.html" target="_blank") Historic Environment

  .col-lg-8.accordian-screenshot-container
    a(href="https://webgis.buildingsofireland.ie/HistoricEnvironment/index.html" target="_blank")
      img(src="../images/portal/screenshots/historic-environment-2.png" class="accordian-screenshot")
