.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p A Government department that is responsible for housing, planning and local government
      |.
      p.lead Where is it used?
      p The departemt publishs statistics under the following subject areas; Housing (includes 
        |Homelessness and Traveller Accommodation), Planning , Fire. The options on this page 
        |provide a means of searching for statistics within each of those areas.      
        p
          a(href="../themes#housing") Themes: Housing
        p.lead Source link    
        p
          a(href="https://www.housing.gov.ie/statistics" target="_blank") Housing Statistics

  .col-lg-8.accordian-screenshot-container
    a(href="http://www.housing.gov.ie/statistics/" target="_blank")
      img(src="../images/portal/screenshots/Housinf_Planning.png" class="accordian-screenshot")  


//- old.row.wrapper.py-1
  .col-12
    div.pt-20
    p.lead What is it?   
    p A Government department that is responsible for housing, planning and local government
      |.
    
      .col-lg-8
        img(src="../images/portal/screenshots/Housinf_Planning.png" class="accordian-screenshot")  
    
    p.lead Where is it used?
    p The departemt publishs statistics under the following subject areas; Housing (includes 
      |Homelessness and Traveller Accommodation), Planning , Fire. The options on this page 
      |provide a means of searching for statistics within each of those areas.
         
      
    p
      a(href="../themes#housing") Themes: Housing
    p.lead Source link    
    p
      a(href="https://www.housing.gov.ie/statistics" target="_blank") Housing Statistics
