.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p  Inside Airbnb is an independent,non-commercial set of tools and data that allows you 
      |to explore how Airbnb is really being used in cities around the world. By analyzing 
      |publicly available information about a city's Airbnb's listings, Inside Airbnb |provides filters and key metrics so you can see how Airbnb is being used to compete |with the residential housing market.
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://insideairbnb.com/dublin/" target="_blank") Inside Airbnb

  .col-lg-8.accordian-screenshot-container
    a(href="http://insideairbnb.com/dublin/" target="_blank")
      img(src="../images/portal/screenshots/inside-airbnb.png" class="accordian-screenshot")
