.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Ireland after NAMA blog was established after a one day symposium held in NUI Maynooth, 
      |on November 23rd, 2009, entitled ‘Geography after NAMA’.
      |Ireland after NAMA uses the establishment of the National Assets 
      |Management Agency as a symbolic, watershed event in the evolution 
      |of the crisis. It therefore does not focus on NAMA per se, 
      |though it does provide commentary on the debate, policy and 
      |workings of that organisation. 
         
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://irelandafternama.wordpress.com/" target="_blank") Ireland after NAMA

  .col-lg-8.accordian-screenshot-container
     img(src="../images/portal/screenshots/IAN.png" class="accordian-screenshot")

//- Original Code
//- .row.wrapper.py-1
  .col-8
    //div.pt-20 
    p.lead What is it   
    p The AIRO Data Store has been created by the team at AIRO and NIRSA as a means of 
      |making the working data more accessible to the public. 
  
    .col-lg-8.accordian-screenshot-container
        img(src="../images/portal/screenshots/Air-datastore.png" class="accordian-screenshot")
        
    p.lead Where is it used?
    p Instead of just dumping out masses of raw data, they are cleaned up, adding additional 
      |value and hopefully making it useful for use. The main trick is to ensure that it has 
      |a spatial component for use in GIS.
        
      
    //p 
      a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://airo.maynoothuniversity.ie/datastore" target="_blank") AIRO
    
      
    
      
