.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p IrelandCovid-19 hub is a website that provides  
      | information based on official figures provided by the Health Protection Surveillance Centre 
      | (HPSC) and the Health Service Executive (HSE). Datasets, charts and maps are updated on an on-going basis and in line with newly published data.  This site was 
      | built using the GeoHive platform, Ireland's Geospatial Data Hub.
         
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://covid19ireland-geohive.hub.arcgis.com/" target="_blank") Ireland's COVID-19 Data Hub 

  .col-lg-8.accordian-screenshot-container
     img(src="../images/portal/screenshots/IrelandCov-19.png" class="accordian-screenshot")
