.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p IrelandCovid-19 hub is a website that provides information 
      | information based on official figures provided by the Health Protection Surveillance Centre 
      | (HPSC) and the Health Service Executive (HSE). Datasets, charts and maps are updated on an on-going basis and in line with newly published data.  This site was 
      | built using the GeoHive platform, Ireland's Geospatial Data Hub.
         
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://covid19ireland-geohive.hub.arcgis.com/" target="_blank") Ireland's COVID-19 Data Hub 

  .col-lg-8.accordian-screenshot-container
     img(src="../images/portal/screenshots/IrelandCov-19.png" class="accordian-screenshot")

//- Original Code
//- .row.wrapper.py-1
  .col-8
    //div.pt-20 
    p.lead What is it   
    p The AIRO Data Store has been created by the team at AIRO and NIRSA as a means of 
      |making the working data more accessible to the public. 
  
    .col-lg-8.accordian-screenshot-container
        img(src="../images/portal/screenshots/Air-datastore.png" class="accordian-screenshot")
        
    p.lead Where is it used?
    p Instead of just dumping out masses of raw data, they are cleaned up, adding additional 
      |value and hopefully making it useful for use. The main trick is to ensure that it has 
      |a spatial component for use in GIS.
        
      
    //p 
      a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://airo.maynoothuniversity.ie/datastore" target="_blank") AIRO
    
      
    
      
