.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Irish Rail is Ireland’s national railway operator, providing passenger and 
      |freight rail services. The Irish Rail Realtime API provides realtime station 
      |and train data including estimation of train times based on current train location. 
      |This is a REST API returning XML formatted data.
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://api.irishrail.ie/realtime/" target="_blank") Irish Rail Realtime API

  .col-lg-8.accordian-screenshot-container
    a(href="http://api.irishrail.ie/realtime/" target="_blank")
      img(src="../images/portal/screenshots/irish-rail-realtime.png" class="accordian-screenshot")
