.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p A secure online national map viewer provides access to lands zoned for residential 
      |or primarey residential purposes in statutory local authority development plans and 
      |local area plans across Ireland and the location and quantity of lands 
      |that may be regarded as being undeveloped and available for residential development 
      |as of the 31st March 2014.
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://environmentgovie.maps.arcgis.com/apps/webappviewer/index.html?id=58f92f0517fc4ee0956f8933afc40719" target="_blank") Residential Land Survey 2014

  .col-lg-8.accordian-screenshot-container
    a(href="http://environmentgovie.maps.arcgis.com/apps/webappviewer/index.html?id=58f92f0517fc4ee0956f8933afc40719" target="_blank")
      img(src="../images/portal/screenshots/land-survey.png" class="accordian-screenshot")
