.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p The LUAS Forecasts system provides a real-time feed of expected LUAS arrivals 
      |for every stop on the Red and Green Lines. The LUAS uses an Automatic Vehicle 
      |Location System (AVLS) to locate trams. The Forecasting system uses these 
      |updates to predict arrival times at platforms on the lines.
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://data.gov.ie/dataset/luas-forecasting-api" target="_blank") Luas Forecasting API

  .col-lg-8.accordian-screenshot-container
    a(href="https://data.gov.ie/dataset/luas-forecasting-api" target="_blank")
      img(src="../images/portal/screenshots/Luas-Forecasting-API.png" class="accordian-screenshot")
