.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Mapnificent shows you the area you can reach with public transport from any point in a 
      |given time. It is available for major cities in the US and world wide.
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://www.mapnificent.net/dublin/" target="_blank") Mapnificient

  .col-lg-8.accordian-screenshot-container
    a(href="https://www.mapnificent.net/dublin/" target="_blank")
      img(src="../images/portal/screenshots/mapnificent.png" class="accordian-screenshot")
