.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p MarineTraffic is an open, community-based project, which provides real-time 
     |information on the movements of ships and the current location of ships in harbours |and ports. A database of information on the vessels includes for example details of 
     |the location where they were built plus dimensions of the vessels, gross tonnage and 
     |International Maritime Organisation (IMO) number.
        
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://www.marinetraffic.com/en/ais/home/centerx:-6.194/centery:53.361" target="_blank") Marine Traffic

  .col-lg-8.accordian-screenshot-container
    a(href="https://www.marinetraffic.com/en/ais/home/centerx:-6.194/centery:53.361" target="_blank")
      img(src="../images/portal/screenshots/marine-traffic-2.png" class="accordian-screenshot")
