.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Met Éireann is Ireland's National Meteorological Service and a line division of the Department of Housing, Planning and Local Government. 
      |Our mission is to monitor, analyse and predict Ireland’s weather and climate, and to provide a 
      |quality meteorological and related information to our customers.
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://data.gov.ie/dataset/met-eireann-weather-forecast-api/resource/5d156b15-38b8-4de9-921b-0ffc8704c88e" target="_blank") Met Éireann Weather Forecast API

  .col-lg-8.accordian-screenshot-container
    a(href="https://data.gov.ie/dataset/met-eireann-weather-forecast-api/resource/5d156b15-38b8-4de9-921b-0ffc8704c88e" target="_blank")
      img(src="../images/portal/screenshots/Met-Eireann-Weathet-Api.png" class="accordian-screenshot")
