.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p MyHome.ie is Ireland's premium online property platform covering multiple property 
      |searches allowing users to search for new and second hand homes, rentals, shared |accommodation, Irish holiday homes, commercial property, overseas property for sale |and overseas holiday rentals.
          
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://www.myhome.ie" target="_blank") MyHome

  .col-lg-8.accordian-screenshot-container
    a(href="https://www.myhome.ie" target="_blank")
      img(src="../images/portal/screenshots/myhome.png" class="accordian-screenshot")
