.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Nisi vidisse mentitum non velit non laborum ad malis iis multos an commodo, si 
      |ne exquisitaque, minim ullamco eu mentitum, qui qui praetermissum, ne velit 
      |probant iudicem, nescius te laboris.
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://www.myhome.ie" target="_blank") MyHome

  .col-lg-8.accordian-screenshot-container
    a(href="https://www.myhome.ie" target="_blank")
      img(src="../images/portal/screenshots/myhome.png" class="accordian-screenshot")
