.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p A web map portal providing spatial information relevant to the planning process in  
      |Ireland. This site is an initiative of the Department of Housing, Planning and Local |Government in conjunction with Irish Local Authorities.
           
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://www.myplan.ie" target="_blank") MyPlan

  .col-lg-8.accordian-screenshot-container
    a(href="http://www.myplan.ie" target="_blank")
      img(src="../images/portal/screenshots/myplan.png" class="accordian-screenshot")
