.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Northern Ireland's Open Data Portal, developed by the Open Data Team as part 
      |of the Digital NI initiative. The portal has been created to facilitate easy 
      |access to Northern Ireland public sector data for both reuse and redistribution. 
      |The data that is available will not be of a sensitive or personal nature, 
      |but is the raw data that drives the public sector and its services.
      
  
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://www.opendatani.gov.uk/" target="_blank") OpenDataNI

  .col-lg-8.accordian-screenshot-container
    a(href="https://www.opendatani.gov.uk/" target="_blank")
      img(src="../images/portal/screenshots/OPenDataNi.png" class="accordian-screenshot")



//- .row.wrapper.py-1
  .col-12
    //div.pt-20 
    p.lead What is it?   
    p Fingal Open Data has been created by Fingal County Council  
      |to enable citizens to access data relating to Fingal. It provides access to data from 
      |Fingal County Council and other public sector organisations that publish Fingal 
      |related data.
    
      .col-lg-8
        img(src="../images/portal/screenshots/FingalOpenData.png" class="accordian-screenshot")
    //- p.lead Where is it used?
    //- p Iudicem eram consequat consequat iis nisi probant sempiternum, magna ingeniis 
    //-   |qui deserunt, sint vidisse ex quem tempor. Litteris quorum cupidatat. Quamquam 
    //-   |aliqua labore et noster. Nulla litteris te adipisicing.Mentitum tractavissent te 
    //-   |officia, a cupidatat consectetur. E ut quis quamquam.
    //- p 
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://data.fingal.ie/" target="_blank") Fingal Open Data
