.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p The Residential Property Price Register is produced by the Property Services 
      |Regulatory Authority (PSRA) pursuant to section 86 of the Property Services 
      |(Regulation) Act 2011. It includes Date of Sale, Price and Address of all 
      |residential properties purchased in Ireland since the 1st January 2010, 
      |as declared to the Revenue Commissioners for stamp duty purposes.
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://www.propertypriceregister.ie/" target="_blank") Residential Property Price Register

  .col-lg-8.accordian-screenshot-container
    a(href="https://www.propertypriceregister.ie/" target="_blank")
      img(src="../images/portal/screenshots/PSRA.png" class="accordian-screenshot")
