.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Web-based Tool to help in Properly disposing of household rubbish 
      |in Dublin. This tool only covers Domestic kerbside rubbish collection
      |By entering the user's street the app will walk you through it.
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://waste.civictech.ie/" target="_blank") Waste Disposal

  .col-lg-8.accordian-screenshot-container
    a(href="https://waste.civictech.ie/" target="_blank")
      img(src="../images/portal/screenshots/Rubbish-disposal.png" class="accordian-screenshot")
