.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p This viewer displays data regarding the known wreck locations contained within 
      |the Wreck Inventory of Ireland Database (WIID)
      |.
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://dahg.maps.arcgis.com/apps/webappviewer/index.html?id=89e50518e5f4437abfa6284ff39fd640" target="_blank") Wreck Viewer

  .col-lg-8.accordian-screenshot-container
    a(href="https://earthengine.google.com/timelapse/#v=53.36368,-6.16708,10.615,latLng&t=0.01" target="_blank")
      img(src="../images/portal/screenshots/ship-wrecks-2.png" class="accordian-screenshot")
