.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p TII was established following the statutory merger of the National Roads Authority and the Railway Procurement Agency under the Roads Act 2015. 
      |The data sets on TII are complied with the DATEX II standard for real-time travel information exchange,
      |and updated at 5 minute intervals. 
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="http://data.tii.ie/" target="_blank") Transport Infrastructure Ireland

  .col-lg-8.accordian-screenshot-container
    a(href="http://data.tii.ie/" target="_blank")
      img(src="../images/portal/screenshots/TII.png" class="accordian-screenshot")
