.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p Transport for Ireland is the “single public transport brand” established 
      |by the National Transport Authority to promote and integrate public transport 
      |services in Ireland. Transportforireland.ie unites service information 
      |across all modes to help make public transport even easier to navigate.
      | The information is summarised to keep the site as user-friendly as possible. 
    
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://www.transportforireland.ie/transitData/PT_Data.html" target="_blank") Transport for Ireland

  .col-lg-8.accordian-screenshot-container
    a(href="https://www.transportforireland.ie/transitData/PT_Data.html" target="_blank")
      img(src="../images/portal/screenshots/Transport-for-Ireland.png" class="accordian-screenshot")
