.row.wrapper.py-1
  .col-lg-4
    p.lead What is it?   
    p A web-based tool to help in properly disposing of household rubbish in Dublin. By entering your street, the app will give information on domestic kerbside rubbish collection.
      
    //-   a(href="../themes#demographics") Themes: Demographics
    p.lead Source link        
    p
      a(href="https://waste.civictech.ie/" target="_blank") Civictech.ie Waste Disposal tool

  .col-lg-8.accordian-screenshot-container
    a(href="https://waste.civictech.ie/" target="_blank")
      img(src="../images/portal/screenshots/Rubbish-disposal.png" class="accordian-screenshot")
