.row.wrapper.py-1
  .col-4
    //    h3 Public Transport and Parking in the City <img height='15px' width='15px' src='/images/clock-circular-outline-w.svg'>
    div.pt-20 
      p 
        .row
            p.col-2 <img align="right" height='30px' width='30px' src='/images/transport/bicycle-w-15.svg'>  
            p.col-4 Dublin Bikes
            //p.col-2 <img id = 'bike-activity-icon' align="right" height='30px' width='30px' src='/images/icons/alert-triangle.svg'> 
            //#bike-age.p.col-4 Unavailable

        p Click on a Dublin Bikes station icon to get information for that location.
            //p For additional information on particular modes of travel see our 
                |<a href="../themes#transport">Transport Themes</a>
    
  .col-md-8
    <div class="btn-group d-flex">  
      <button id="day-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value="day">Day</button>
      <button id="week-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value="week">Week</button>
      <button id="month-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value="month">Month</button>
      <button id="year-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value="year">Year</button>
      //<button id="motorways-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 disabled" value="motorways">Motorway</button>
      //<button id="trains-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 disabled" value="dublinLuas">Train</button>
    </div>
    #dublin-bikes-map.mt-2
      
      
