.row.wrapper.py-1
  .col-4
    h3 Public Transport and Parking in the City <img height='15px' width='15px' src='/images/clock-circular-outline-w.svg'>
    p The map shows various locations for Dublin's public transit 
      |options. Current status of associated real-time travel data is indicated with an 
      <img height='15px' width='15px' src='/images/icons/activity.svg'> when live
      |  or 
      <img height='15px' width='15px' src='/images/icons/alert-triangle.svg'> when unavailable
      
        .row
            p.col-6 <img align="center" height='15px' width='15px' src='/images/transport/bicycle-w-15.svg'>  Dublin Bikes 
            p.col-3 <img id = 'bike-activity-icon' align="right" height='15px' width='15px' src='/images/icons/alert-triangle.svg'> 
            #bike-age.p.col-3 Unavailable

            p.col-6 <img align="center" height='15px' width='15px' src='/images/transport/bus-w-15.svg'>  Dublin Bus 
            p.col-3 <img id ='bus-activity-icon' align="right" height='15px' width='15px' src='/images/icons/alert-triangle.svg'>
            #bus-age.p.col-3 Unavailable

            p.col-6 <img align="center" height='15px' width='15px' src='/images/transport/rail-light-w-15.svg'>  Luas (tram) 
            p.col-3  <img id ='luas-activity-icon' align="right" height='15px' width='15px' src='/images/icons/alert-triangle.svg'>
            #luas-age.p.col-3 Unavailable 

            p.col-6 <img align="center" height='15px' width='15px' src='/images/transport/rail-w-15.svg'>  Train 
            p.col-3 <img id ='train-activity-icon' align="right" height='15px' width='15px' src='/images/icons/alert-triangle.svg'>
            #train-age.p.col-3 Unavailable 

            p.col-6 <img align="center" height='15px' width='15px' src='/images/transport/car-w-15.svg'>  Motorway 
            p.col-3 <img id ='motorway-activity-icon' align="right" height='15px' width='15px' src='/images/icons/alert-triangle.svg'>
            #motorway-age.p.col-3 Unavailable 

            p.col-6 <img align="center" height='15px' width='15px' src='/images/transport/parking-garage-w-15.svg'>  Car park 
            p.col-3 <img id ='parking-activity-icon' align="right" height='15px' width='15px' src='/images/icons/alert-triangle.svg'>    
            #parking-age.p.col-3 Unavailable 
    
    p Explore and interact with the map to find out more. Click on an icon to 
      |get up-to-date, real-time information for that location
    p For additional information on particular modes of travel see our 
      |<a href="../themes#transport">Transport Themes</a>
    
    div#chart-public-transport-select1
  
  .col-lg-8
    div.ml-5.pt-2
      <button type="button" class="btn btn-dark employment-btn public_transport_bikes" value="dublinBikes">Bikes</button>
      <button type="button" class="btn btn-dark employment-btn public_transport_buses" value="dublinBuses">Buses</button>
      <button type="button" class="btn btn-dark employment-btn public_transport_carparks" value="dublinCarparks">Car Parks</button>
      <button type="button" class="btn btn-dark employment-btn public_transport_luas" value="dublinLuas">Luas</button>
      <button type="button" class="btn btn-dark employment-btn public_transport_all" value="all" >All</button>
    div#getting-around-map
      
      
