.row.wrapper.py-1
  .col-4
    //    h3 Public Transport and Parking in the City <img height='15px' width='15px' src='/images/clock-circular-outline-w.svg'>
    div.pt-20 
      p The map shows various locations for Dublin's travel 
        |options. Current status of associated real-time transit data is indicated with an 
        <img height='15px' width='15px' src='/images/icons/activity.svg'> when live
        |  or 
        <img height='15px' width='15px' src='/images/icons/alert-triangle.svg'> when unavailable.
      
        .row
            p.col-2 <img align="right" height='30px' width='30px' src='/images/transport/bicycle-w-15.svg'>  
            p.col-4 Dublin Bikes Test
            p.col-2 <img id = 'bike-activity-icon' align="right" height='30px' width='30px' src='/images/icons/alert-triangle.svg'> 
            #bike-age.p.col-4 Unavailable

            p.col-2 <img align="right" height='30px' width='30px' src='/images/transport/bus-w-15.svg'>  
            p.col-4 Dublin Bus 
            p.col-2 <img id ='bus-activity-icon' align="right" height='30px' width='30px' src='/images/icons/alert-triangle.svg'>
            #bus-age.p.col-4 Unavailable
            
            p.col-2 <img align="right" height='30px' width='30px' src='/images/transport/parking-garage-w-15.svg'>  
            p.col-4 Car park 
            p.col-2 <img id ='parking-activity-icon' align="right" height='30px' width='30px' src='/images/icons/alert-triangle.svg'>    
            #parking-age.p.col-4 Unavailable 

            p.col-2 <img align="right" height='30px' width='30px' src='/images/transport/rail-light-w-15.svg'>  
            p.col-4 Luas (tram) 
            p.col-2  <img id ='luas-activity-icon' align="right" height='30px' width='30px' src='/images/icons/alert-triangle.svg'>
            #luas-age.p.col-4 Unavailable 
            
            p.col-2 <img align="right" height='30px' width='30px' src='/images/transport/car-w-15.svg'>  
            p.col-4 Motorway 
            p.col-2 <img id ='motorway-activity-icon' align="right" height='30px' width='30px' src='/images/icons/alert-triangle.svg'>
            #motorway-age.p.col-4 Unavailable 

            p.col-2 <img align="right" height='30px' width='30px' src='/images/transport/rail-w-15.svg'>  
            p.col-4 Train 
            p.col-2 <img id ='train-activity-icon' align="right" height='30px' width='30px' src='/images/icons/alert-triangle.svg'>
            #train-age.p.col-4 Unavailable 
    
        p Explore and interact with the map to find out more. Click on an icon to 
            |get up-to-date, real-time information for that location.
        p For additional information on particular modes of travel see our 
            |<a href="../themes#transport">Transport Themes</a>
    
    //div#chart-public-transport-select1
  .col-md-8
    <div class="btn-group d-flex">  
      <button id="bikes-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value="dublinBikes">Bikes</button>
      <button id="bus-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value="dublinBuses">Bus</button>
      <button id="carparks-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value="dublinCarparks">Car Park</button>
      <button id="luas-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value="luasLayer">Luas</button>
      <button id="motorways-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 disabled" value="motorways">Motorway</button>
      <button id="trains-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 disabled" value="dublinLuas">Train</button>
    </div>
    #getting-around-map.mt-2
      
      
