.row.wrapper.py-1
  .col-md-5
    .row
        p Explore and interact with the map to find out more. 
        p For additional information on particular housing statistics themes, see our 
            |<a href="../themes#housing">Housing Themes</a>
    
  .col-md-7
    .row
      .col-md-3
        p.lead Residential Cost 
      .col-md-9  
        <div class="btn-group d-flex">
          <button id="rent-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value="rent">Rent</button>
          <button id="price-average-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 " value="priceAve">House Price</button>      
          <button id="price-index-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 " value="priceIndex">Property Price Index</button>
        </div>
    .row
      .col-md-3
        p.lead Building
      .col-md-9  
        <div class="btn-group d-flex">  
          <button id="supply-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 " value="supply">Supply</button>
          <button id="completions-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 " value="completions">Completions</button>
          <button id="connections-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 " value="connections">Connections</button>
          <button id="planning-checkbox" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 " value="planning">Planning Applications</button>
        </div>
    .row      
      .col-md-3
        .trend-heading
          p.lead Trend
          h3 Rent
          p From: 01-2011 
          p To: 01-2015 
                
        .trendbox
          p.lead Fingal
          h3 456 UP 5%
        
        .trendbox
          p.lead Dublin City
          h3 123 UP 5%
        
        .trendbox
          p.lead South Dublin
          h3 789 UP 5%
          
        .trendbox
          p.lead Dun-Laoighre / Rathdown
          h3 012 UP 7%
           
      .col-md-9
         .query-map#homes-housing-map
    
.row.wrapper.py-1    
    section 
      .wrap
        .container
          //include queries_housing_charts
