.row.wrapper.py-1
  //- .col-4
  //-   div.pt-20 
  //-     p Statbank test
    
  .col-md-12
    //- <div class="btn-group d-flex">  
    //-   <button id="" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 disabled" value=""></button>
    //-   <button id="" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 disabled" value=""></button>      
    //-   <button id="" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 disabled" value=""></button>
    //-   <button id="" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value=""></button>
    //-   <button id="" type="checkbox" class="btn btn-bcd-toggle btn-sm w-100 ml-1 mr-1 active" value=""></button>
    //- </div>
    #statbank-test-text.mt-2
    #statbank-test-datalist.mt-2

      
//- .row.wrapper.py-1
    #chart-housePrices.chart-holder
      
