<div class='query-wrapper'>
    <div class='context-text' id='text'>
        <h3>The chart currently shows waiting periods over time for 
            <b><span id="specialism_text">all types of treatment</span></b>,
            at <b><span id="hospital_text">all hospitals</span></b>, 
            for patients <b><span id="age_text"> of all ages</span></b>.</h3>
    </div>

    <div class="viz1"> 
        <div id="waiting-list-chart" >
        </div>
    </div>
    <div class ='viz2'>
        Do you have an upcoming treatment or procedure?<br><br>
        You can see how long people have waited for it by selecting 
        options from the menus below.
    </div>
    <div class ='viz3'>

        <div id="select2" style="width:100%" >
            Choose your treatment type or specialization:
            <!--            <a class='reset'
                           href='javascript:select2.filterAll();dc.redrawAll();'
                           style='visibility: hidden;'>Reset</a>        -->
            <br>
        </div>
        <div id="select3" style="width:100%" >
            Choose your age range below:
            <!--            <a class='reset'
                           href='javascript:select3.filterAll();dc.redrawAll();'
                           style='visibility: hidden;'>Reset</a>
            -->
            <br>
        </div>
        <div id="select1" style="width:100%">
            Choose a hospital:
            <!--            <a class='reset'
                           href='javascript:select1.filterAll();dc.redrawAll();'
                           style='visibility: hidden;'>Reset</a>-->
            <br>
        </div>

    </div>
</div>


