/*
    Author     : Liam
*/
/*TODO use proper rules here instead of individual repetition*/
/* .leaflet-popup-content {
  width: 200px !important;
  height: 150px !important;
} */

/* css to customize Leaflet default styles  */
/* .custom .leaflet-popup-tip, */
/*for charts in popoups*/

/* .custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  border-radius: 0px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.1);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
  } */

.bikesStationPopup .leaflet-popup-content-wrapper {
    background: #001f35;
}

.bikesStationPopup .leaflet-popup-content {
    color: #ffffff;
    width: 200px !important;
    height: 175px !important;
    /* font-size:16px;
    line-height:24px;
    border-radius: 0px;
     */

    /* color:#fff; text colour */
}


/* .dc-chart .axis {
    display: none;

} */

.dc-chart .axis text {
  /* font-size: 50px; */
  fill: #ffffff;
}
.dc-chart svg g g.axis.y {
  display: none;
}


#chart-water-map {
  /*height: inherit;*/
  height: 400px;
  width: 100%;
  margin: 20px;
}

#chart-sound-map {
  /*height: inherit;*/
  height: 400px;
  width: 100%;
  margin: 20px;
}

#chart-air-map {
  /*height: inherit;*/
  height: 400px;
  width: 100%;
  margin: 20px;
}

#chart-public-transport {
  /*height: inherit;*/
  height: 400px;
  width: 100%;
  margin: 20px;
}

#chart-private-transport {
  /*height: inherit;*/
  height: 400px;
  width: 100%;
  margin: 20px;
}

#chart-transport-bikes {
  /*height: inherit;*/
  height: 400px;
  width: 100%;
  margin: 20px;
}

#chart-transport-bus {
  /*height: inherit;*/
  height: 400px;
  width: 100%;
  margin: 20px;
}

#chart-transport-luas {
  /*height: inherit;*/
  height: 400px;
  width: 100%;
  margin: 20px;
}

#chart-transport-parking {
  /*height: inherit;*/
  height: 400px;
  width: 100%;
  margin: 20px;
}

#chart-environment-map {
  /*height: inherit;*/
  height: 500px;
  width: 100%;
  margin: 20px;
}
