extends layout

block content
  div(class="container mt-2 py-5 px-5")
    div.mb-5
        h1 API Example Queries
    div.mb-5
        h2 Census 2016 Dataset
        b List GEOGIDs for all small areas in the Dublin region:
        p <a href= '/api/census2016/smallareas/list' target='_blank'>/census2016/smallareas/list</a>
        b Get all data associated with an example small area:
        p <a href= '/api/census2016/smallareas/example' target='_blank'>/dublinbikes/stations/example</a>
        b Get the data for a particular small area from its GEOGID:
        p
          text.api-query /census2016/smallareas/*GEOGID*
    div.mb-5
        h2 Dublin Bikes Dataset
        b List static data associated with all Dublin Bikes stations (e.g. location, number, name):
        p <a href= '/api/dublinbikes/stations/list' target='_blank'>/dublinbikes/stations/list</a>
        b Get all data associated with an example Dublin Bikes station:
        p <a href= '/api/dublinbikes/stations/example' target='_blank'>/dublinbikes/stations/example</a>
        b Get static and dynamic data for a particular station by its number:
        p 
          text.api-query /dublinbikes/stations/*number*

        b List today's dynamic data for a particular station by its number:
        p 
          text.api-query  /dublinbikes/stations/*number*/today
          
    div.mb-5
        h2 Noise Monitioring Dataset
        b List static data associated with all noise monitors (e.g. location, number, name):
        p <a href= '/api/noise/monitors/list' target='_blank'>/noise/monitors/list</a>
        b Get all data associated with an example noise monitor:
        p <a href= '/api/noise/monitors/example' target='_blank'>/noise/monitors/example</a>
        b Get static and dynamic data for a particular monitor by its number:
        p 
          text.api-query /api/noise/monitors/*number*

        b List today's dynamic data for a particular station by its number:
        p 
          text.api-query  /api/noise/monitors/*number*/today
