extends layout

block content
  h1=title
  h2 Requests
  h3 <a href='/api/v1/bikes/' target='_blank'>/bikes</a>
  p Return data for all bikes stations
  h3 bikes/'NUMBER'
  p Return the bikes data for a given station number
  
