extends layout

block content
    div(class="container mt-2 py-5 px-5")
        h1= title
        h2 Datasets
        p <a href= 'census2016'>Census 2016</a>
        p <a href= 'dublinbikes'>Dublin Bikes</a>
        p <a href= 'api_housing'>Housing</a>
  
