extends layout

block content
  h1=title
  h2 Requests
  h3 smallarea/'GEOGID'
  p Return the census data for a given small area GEOGID number

  h3 smallareas
  p Return a list of all small areas' GEOGID numbers
