extends layout

block content
  .container.py-5
    .row
      .col-12.py-5
        h1 There's been an error!
        h2= message
        h2= error.status
        //- pre #{error.stack}
        h2 
          a(href="/") return to Home page
