extends layout
include component/card-rt
include component/card-chart 
include component/home__card-chart 

block append head
  
  //- link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")
  link(rel="stylesheet", href="/stylesheets/lib/flickity.min.css")
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/home-carousel.css")
  link(rel="stylesheet", href="/stylesheets/home-about.css")
  link(rel="stylesheet", href="/stylesheets/card.css")
  //- link(rel="stylesheet", href="/stylesheets/tabs.css")
  //- link(rel='stylesheet', href='/stylesheets/icon-nav.css')
  script(src="lib/flickity.pkgd.min.js" type="text/javascript" defer)
  script(src='javascripts/home/flickity_utils.js' type="text/javascript" defer)
  script(src="lib/d3v5/d3.js" type="text/javascript" defer)
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" defer)
  
  script(src='lib/set-interval-async.iife.js' type="text/javascript")
  script(src='javascripts/dublinco.js' type="text/javascript" defer)
  script(src='javascripts/home/home-helper-functions.js' type="text/javascript" defer)
  script(src='javascripts/home/about-dublin.js' type="text/javascript" defer)
  script(src='javascripts/home/about-regions.js' type="text/javascript" defer)
  //- script(src='javascripts/map.js')
  
  script(src='javascripts/charts/card_line_chart.js' type="text/javascript" defer)
  script(src='javascripts/charts/card_bar_chart.js' type="text/javascript" defer)
  script(src='javascripts/coerce.js' type="text/javascript" defer)
  script(src='javascripts/home/data_glance.js' type="text/javascript" defer)
  script(src='javascripts/home/card_time.js' type="text/javascript" defer)
  //- script(src='javascripts/home/card_weather.js' type="text/javascript")
  script(src='javascripts/home/card_weather_current.js' type="text/javascript" defer)
  script(src='javascripts/home/card_bikes.js' type="module")
  script(src='javascripts/home/card_traveltimes.js' type="text/javascript" defer)
  script(src='javascripts/home/card_population.js' type="text/javascript" defer)
  script(src='javascripts/home/card_housecompletions.js' type="text/javascript" defer)
  script(src='javascripts/home/card_propertyprice.js' type="text/javascript" defer)
  script(src='javascripts/home/home_resize.js' type="text/javascript" defer)

block navigation

block content
  #hero 
    #hero-grid
        #hero-title
            div 
              #hero-title__text--top DUBLIN
              #hero-title__text--bottom DASHBOARD
        #hero-time-weather
            #hero-time
                #hero-time__box  
                    #hero-time__clock  
                    #hero-time__date
            #hero-weather
                include component/card-weather
      
        #hero-carousel
            <div class="carousel" data-flickity='{ "freeScroll": true, "wrapAround": false, "freeScrollFriction": 0.05,"selectedAttraction": 0.05, "cellSelector": ".carousel-cell", "cellAlign": "left", "percentPosition": false, "pageDots": true, "adaptiveHeight": true, "setGallerySize": false}'>

              .carousel-cell
                #employment-card.card-wrapper 
                  //-  +home__card-chart("themes#unemployment", "card", "Unemployment", "Count", "unemployment-chart")
                  +home__card-chart({
                    title: 'unemployment',
                    subtitle:  'rate (%)',
                    id: 'unemployment-card',
                    info: '',
                    buttons: [{
                      href :'/themes#employment',
                      name:'More in THEMES'
                    }],
                    plotoptions:{
                      chartid: 'unemployment-card__chart',
                      data:{
                      href: '../data/statbank/QLF08.json',
                      },
                      src: '/javascripts/home/card_employment.js',
                      format:''
                    }
                  }) 
              //- .carousel-cell
                #bikes-card.card-wrapper
                  +card-rt("themes#dublin-bikes", "card", "Dublin Bikes", "Updating", "rt-bikes")
              
              //- .carousel-cell
                #traveltimes-card.card-wrapper
                  +card-rt("queries", "card", "Motorway Delays", "test","rt-travelTimes")
              
              //- .carousel-cell
                #population-card.card-wrapper
                  +card-chart("themes#population-dublin", "card", "Population", "Count","population-chart")
              
          
              
              //- .carousel-cell
                #property-price-card.card-wrapper
                  +card-chart("themes#house-rppi", "card", "Property Price", "Index", "property-price-chart")    
              
              //- .carousel-cell
                #house-completions-card.card-wrapper
                  +card-chart("themes#quarterly-new-dwelling-completions", "card", "House Completions", "Units","house-completions-chart")
              
              //- .carousel-cell
               p MORE    
                  
              //- </div>
            </div>
            
          
            //-         //- include component/carousel-charts.pug
        #hero-icon-navs
            include component/icon-nav.pug
        #hero-scroll-arrow.home-scroll-arrow
          a(href='#about-dublin')
            <svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" ></path></svg>
        
            //- include component/toggle-button.pug
  #about-dublin 
    //-.position-anchor
    #about-dublin__header 
      h1 ABOUT DUBLIN
    #about-dublin__card
      p#region__open Dublin is the capital and largest city in Ireland. 
        |It is located in the province of Leinster and covers a total area of 
        span#region__area xxx.xx
        |. 

        |Dublin has a total population of 
        span#region__population x,xxx,xxx 
        |  people, with a median age of 
        span#region__age xx.x 
        |  years. The median household income is 
        span#region__income €xx.xx
        |.
      p Between 2011 and 2016, the population of Dublin 
        span#region__populationIndicator declined/increased 
        |from 
        span#region__prePopulation xxxxxx 
        |  to 
        span#region__population xxxxxx 
        |, a 
        span#region__populationChange x.xx% decrease/increase 
        |. 
        |  The median household income for the region 
        span#region__incomeIndicator grew/shrunk 
        |from 
        span#region__income__prev €xx.xx 
        |  to 
        span#region__income €xx.xx
        |, a 
        span#region__income__change x.xx% decrease/increase
        |.
      p There are four local authorities whose remit collectively encompasses the geographic area of the county and city of Dublin. 
        | Select a council on the map in the next section to see specific information. 
        //- #regions-map
        
    //- #about-scroll-arrow.home-scroll-arrow
      a(href='#regions-info')
        <svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" ></path></svg>
      
  #regions-info
    #regions-info__map
      svg#map
    //- #regions-info_flex
    #regions-info__cta SELECT A COUNTY COUNCIL ON THE MAP TO LEARN MORE 
    #regions-info__cta-arrow 
      <svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" ></path></svg>
    #regions-info__card
      #regions-info__card__header
        h1#local__title Dublin City
      #regions-info__card__body
        p 
          span#local__open 
          | It covers an area of 
          span#local__area
          |.  
          span#local__title__small  
          |  has a total population of 
          span#local__total-popualtion 
          |  people, with a median age of 
          span#local__age xx.x 
          |  years.
          //- |and a median household income of 
          //- span#local__income €xx.xx.
        p Between 2011 and 2016 the population of  
          span#local__title__small Dublin
          |  
          span#local__populationIndicator  
          |from 
          span#local__prePopulation xxxxxx 
          |  to 
          span#local__curPopulation xxxxxx 
          |, a 
          span#local__populationChange x.xx% decrease/increase
          |.
      
    
  #about-dublin-dashboard
    #about-dublin-dashboard__header 
      h1 ABOUT THE DASHBOARD
    #about-dublin-dashboard__twitter
      p 
        a(href ='https://twitter.com/dublindashboard?lang=en' target="_blank") Follow @dublindashboard on Twitter
    #about-dublin-dashboard__card
      p Dublin Dashboard provides citizens, public sector workers and companies with real-time information, time-series indicator data, and interactive maps about all aspects of the city. It enables users to gain detailed, up to date intelligence about the city that aids everyday decision making and fosters evidence-informed analysis. 
      p Data is pulled together from major  sources -- including Dublin City Council, Dublinked, Central Statistics Office, Eurostat, and government departments, and links to a variety of existing applications -- to provide thousands of interactive data visualisations. The underlying data is freely available so others can undertake their own analysis and build their own applications and visualisations.
        
    //- #about-dublin-dashboard.position-anchor
  //- section.map
    .content-wrapper.content-wrapper--very-dark-blue
      .container
      //- .position-anchor#about-dublin-dashboard
        include component/about-dd.pug

  //- include component/scroll-to-top

block append scripts
  //- script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js" type="text/javascript")
  

  
  //- script(src='javascripts/search.js')
