extends layout

block append head
  link(rel="stylesheet", href="/stylesheets/tabs.css")
  //- favicon
  link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")

block navigation

block content
  section.hero
    .bg-img(style='background-image:url("images/dublin-2.jpg")')
      .content-wrapper.content-wrapper--grad-overlay
        .container
          .row
            .col-sm-12.mb-3
              h2.text-center.hero__title DUBLIN DASHBOARD
          include component/carousel-charts.pug
          //- include component/searchbar.pug
          include component/icon-nav.pug
          //- include component/toggle-button.pug

  section.map
    .content-wrapper.content-wrapper--darkblue
      .container
        include component/lp-map.pug

  //- include component/scroll-to-top

block append scripts
  script(src="lib/d3v5/d3.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js")
  script(src="https://unpkg.com/set-interval-async" type="text/javascript")
  script(src='javascripts/dublinco.js')
  script(src='javascripts/map.js')
  script(src='javascripts/home/data_glance.js')
  script(src='javascripts/home/card_weather.js')
  script(src='javascripts/home/card_bikes.js')
  script(src='javascripts/home/card_traveltimes.js')
  script(src='javascripts/home/card_time.js')
