extends layout
include component/card-rt
include component/card-chart 

block append head

  
  link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")
  link(rel="stylesheet", href="/stylesheets/home.css")
  link(rel="stylesheet", href="/stylesheets/home-about.css")
  link(rel="stylesheet", href="/stylesheets/card.css")
  //- link(rel="stylesheet", href="/stylesheets/tabs.css")
  //- link(rel='stylesheet', href='/stylesheets/icon-nav.css')

block navigation

block content
  #hero 
    #hero-grid
        #hero-title
            div 
              #hero-title__text--top DUBLIN
              #hero-title__text--bottom DASHBOARD
        #hero-time-weather
            #hero-time
                #hero-time__box  
                    #hero-time__clock  
                    #hero-time__date
            #hero-weather
                #hero-weather__box
                    div
                        #hero-weather__left-top -- C 
                        #hero-weather__left-bottom Prec -- mm
                    div
                        #hero-weather__symbol    
                    div
                        #hero-weather__right-top ~ -
                        #hero-weather__right-bottom -- kph 
                        
            //- 
      
        #hero-carousel
            <div class="carousel" data-flickity='{ "freeScroll": true, "wrapAround": true, "freeScrollFriction": 0.05,"selectedAttraction": 0.05, "cellSelector": ".carousel-cell", "cellAlign": "center", "percentPosition": false, "pageDots": true, "adaptiveHeight": true}'>
              .carousel-cell
                #bikes-card.card-wrapper
                  +card-rt("themes#dublin-bikes", "card text-white o-hidden border-yellow", "Dublin Bikes", "Updating", "rt-bikes")
              
              .carousel-cell
                #traveltimes-card
                  +card-rt("queries", "card text-white o-hidden border-yellow", "Motorway Delays", "test","rt-travelTimes")
              
              .carousel-cell
                #population-card
                  +card-chart("themes#population", "card text-white o-hidden border-blue", "Population", "Count","population-chart")
              
              .carousel-cell
                #employment-card 
                  +card-chart("themes#employment", "card text-white o-hidden border-blue", "Unemployment", "Count", "unemployment-chart") 
              
              .carousel-cell
                #property-price-card
                  +card-chart("themes#property-price-monthly", "card text-white o-hidden border-blue", "Property Price", "Index", "property-price-chart")    
              
              .carousel-cell
                #house-completions-card
                  +card-chart("themes#unitscompmonth", "card text-white o-hidden border-blue", "House Completions", "Units","house-completions-chart")
              
              //- .carousel-cell
               p MORE    
                  
              //- </div>
            </div>
            
          
            //-         //- include component/carousel-charts.pug
        #hero-icon-navs
            include component/icon-nav.pug
        #hero-scroll-arrow
            div
              p V
        
            //- include component/toggle-button.pug
  #about-dublin 
    //-.position-anchor
    #about-dublin__header 
      h1 ABOUT DUBLIN
    #about-dublin__card
      p#region__open Dublin is the capital and largest city in Ireland. 
        |It is located in the province of Leinster and covers a total area of 
        span#region__area xxx.xx
        |. 

        |Dublin has a total population of 
        span#region__population x,xxx,xxx 
        |  people, with a median age of 
        span#region__age xx.x 
        |  years. The median household income is 
        span#region__income €xx.xx
        |.
      p Between 2011 and 2016, the population of Dublin 
        span#region__populationIndicator declined/increased 
        |from 
        span#region__prePopulation xxxxxx 
        |  to 
        span#region__population xxxxxx 
        |, a 
        span#region__populationChange x.xx% decrease/increase 
        |. 
        |  The median household income for the region 
        span#region__incomeIndicator grew/shrunk 
        |from 
        span#region__income__prev €xx.xx 
        |  to 
        span#region__income €xx.xx
        |, a 
        span#region__income__change x.xx% decrease/increase
        |.
      p There are four local authorities whose remit collectively encompasses the geographic area of the county and city of Dublin.
        | Select a council on the map in the next section to see specific information. 
        //- #la-map
    
    //- #la-map__map
      
      //- img(inline src="src/images/icons/search-icon.svg")
      //- svg(class="" width="300" height="600" viewBox="0 0 7 12")
        path(fill-rule="nonzero" d="M5.569 5.994L0 .726.687 0l6.336 5.994-6.335 6.002L0 11.27z")
      
  
    #la-info__map 
      img(src="/images/home/Zone_Map_Resting.svg")
    #la-map__header
      h1 SELECT A COUNTY COUNCIL TO LEARN MORE
    #la-info__card
      #la-info__card__header
        h1 Dublin City
      #la-info__card__body
        p Constias multos incididunt cupidatat in offendit ubi aliquip sed an illum fidelissimae te quibusdam legam dolor cernantur quae. Noster fabulas ut 
          | cupidatat. Mentitum ubi legam, aliqua firmissimum possumus velit laboris, sed doctrina ex proident, velit non se multos admodum.Nam minim ullamco 
          | instituendarum an quae graviterque officia quorum ingeniis ex ita ita animexpetendis a laborum tamen et cupidatat coniunctione. A ita consectetur, si te 
        
  #about-dublin-dashboard
    #about-dublin-dashboard__header 
      h1 ABOUT DUBLIN DASHBOARD
    #about-dublin-dashboard__twitter
      p Follow @dublindashboard on Twitter
    #about-dublin-dashboard__card
      p Dublin Dashboard provides citizens, public sector workers and companies with real-time information, time-series indicator data, and interactive maps about all aspects of the city. It enables users to gain detailed, up to date intelligence about the city that aids everyday decision making and fosters evidence-informed analysis.
      p The Dublin Dashboard pulls together data from major data sources -- including   Dublin City Council, Dublinked, Central Statistics Office, Eurostat, and government departments, and links to a variety of existing applications -- to provide thousands of interactive data visualisations. The underlying data is freely available so others can undertake their own analysis and build their own applications and visualisations.
        
    //- #about-dublin-dashboard.position-anchor
  //- section.map
    .content-wrapper.content-wrapper--very-dark-blue
      .container
      //- .position-anchor#about-dublin-dashboard
        include component/about-dd.pug

  //- include component/scroll-to-top

block append scripts
  script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js" type="text/javascript")
  script(src="lib/d3v5/d3.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js")
  script(src="https://unpkg.com/set-interval-async" type="text/javascript")
  script(src='javascripts/dublinco.js')
  script(src='javascripts/home/home-helper-functions.js')
  script(src='javascripts/home/about-dublin.js')
  //- script(src='javascripts/map.js')
  script(src='javascripts/charts/card_line_chart.js')
  script(src='javascripts/charts/card_bar_chart.js')
  script(src='javascripts/coerce.js' type="text/javascript")
  script(src='javascripts/home/data_glance.js' type="text/javascript")
  script(src='javascripts/home/card_time.js' type="text/javascript")
  script(src='javascripts/home/card_weather.js' type="text/javascript")
  script(src='javascripts/home/card_bikes.js' type="text/javascript")
  script(src='javascripts/home/card_traveltimes.js' type="text/javascript")
  script(src='javascripts/home/card_population.js' type="text/javascript")
  script(src='javascripts/home/card_unemployment.js' type="text/javascript")
  script(src='javascripts/home/card_housecompletions.js' type="text/javascript")
  script(src='javascripts/home/card_propertyprice.js' type="text/javascript")
  script(src='javascripts/home/home_resize.js' type="text/javascript")
  script(src='javascripts/home/flickity_utils.js' type="text/javascript")
  //- script(src='javascripts/search.js')
