doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title= title

    link(rel='stylesheet', href='/stylesheets/side-menu.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/accordion.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  block head

  body
    div(id="root" role="region" aria-label="root container")
      .wrapper
        include component/side-menu.pug
        .bcd--container
          main
            include component/navbar.pug
            //-add subnav.pug here if its the themes page
            block content
    
    block scripts
    script(src="/javascripts/vendor/jquery/jquery.min.js")
    script(src="/javascripts/vendor/popper.js/umd/popper.min.js")
    script(src="/javascripts/vendor/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/side-menu.js")



