extends layout  
//- Including Accordion mixins
include component/accordion

block append head
  


block navigation
  +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard","Portal")

block content
  div(class="container mt-2 py-5 px-5")
    div.row
      div.col-lg-12
        h1 Portal
        p.lead The Portal page conatins a list of Dublin data resources. This includes
          | the sources of our data on the Dublin Dashboard, other data services available for Dublin,
          | and mobile apps relating to Dublin.
    div.row
      div.col-lg-12.bg-dark-blue
        h2 Sources
        p.lead Data sources used on the Dublin Dashboard 
        div.col-sm-12.bg-dark-blue
          +accordion("one") 
            +accordion-item("Central Statistics Office (CSO)",  "")
              include portal/cso.pug
            //+accordion-item("Dublin City Council (DCC)",  "")
              include portal/dcc.pug
            +accordion-item("Dublin Bikes API",  "")
              include portal/dublin-bikes.pug
            +accordion-item("Environmental Protection Agency (EPA)",  "")
              include portal/epa.pug
          
            +accordion-item("Housing, Planning & Local Government, Dept. of",  "")
              include portal/hplc.pug
    div.row
      div.col-lg-12
        h2 Services
        p.lead Other Dublin data sites available from outside agencies
        div.col-sm-12
          +accordion("one") 
            +accordion-item("All-Ireland Research Observatory",  "http://airo.maynoothuniversity.ie/datastore")
            +accordion-item("Dublinked",  "https://data.smartdublin.ie/dataset")
            +accordion-item("data.gov.ie",  "https://data.gov.ie/")
            +accordion-item("EPA Geoportal",  "http://gis.epa.ie/Home")
            +accordion-item("Eurostat Urban Audit",  "https://ec.europa.eu/eurostat/web/regions-and-cities")
            +accordion-item("Fingal Open Data",  "http://data.fingal.ie/")
            +accordion-item("Fix My Street",  "https://fixmystreet.ie/reports/Dublin+City")
            +accordion-item("Fix Your Street",  "http://www.fixyourstreet.ie")
                        
    div.row
      div.col-lg-12.bg-dark-blue
        h2 Mobile Apps
        p.lead Quo consequat an cupidatat et proident an voluptate, senserit illustriora ex 
          |quamquam ad ab in elit eram magna, vidisse tempor arbitror laboris se est eu 
          |despicationes ab hic te efflorescere qui laborum e expetendis. Noster admodum 
          |eiusmod.
        div.col-sm-12
          +accordion("one") 
            +accordion-item("Central Statistics Office",  "")
            +accordion-item("Dublin City Council",  "")
            +accordion-item("Environmental Protection Agency",  "")
            +accordion-item("Housing, Planning & Local Government, Dept. of",  "")
      



block append scripts
  script(src='/javascripts/accordion.js' type="text/javascript")
