extends layout
include component/card-queries

block append head

  link(rel="stylesheet", href="/stylesheets/lib/flickity.min.css")
  link(rel="stylesheet", href="/stylesheets/queries.css")
  //- link(rel="stylesheet", href="/stylesheets/card.css")

block navigation

block content
  #queries-home 
    #queries-home__grid
      #queries-home__icon
        img(src='/images/icons/icons-48px/queries_Icon_48px.svg')
      #queries-home__title
        h1 Queries
      #queries-home__description
        p Data queries add context and meaning to 
          |the raw data available for the city. The 
          |queries below offer a narrative for issues affecting citizens 
          |of Dublin, with key points supported through interactive visualisations.
      #queries-home__carousel
        <div class="carousel" data-flickity='{ "freeScroll": true, "wrapAround": false, "freeScrollFriction": 0.05,"selectedAttraction": 0.05, "cellSelector": ".carousel-cell", "cellAlign": "left", "percentPosition": false, "pageDots": true, "adaptiveHeight": true}'>
        
          .carousel-cell
              +card-queries({title: 'Geodemographics', description: 'New data query under construction, please check back soon.'})
          .carousel-cell
              +card-queries({title: 'Query coming soon', description: 'New data query under construction, please check back soon.'})
          .carousel-cell
              +card-queries({title: 'Query coming soon', description: 'New data query under construction, please check back soon.'})    
        </div>

block append scripts
  //- script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js" type="text/javascript")
  
  script(src="./lib/flickity.pkgd.min.js" type="text/javascript")
