extends layout
//- Including Accordion mixins
include component/accordion

block navigation
    +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard")

block content
    div(class="container mt-5 py-5")
        div.row.my-5
            div.col-sm-12
              h2 Queries
              +accordion("one")
                +accordion-item("Hospital waiting lists- how long do patients wait for procedures?")
                  include queries_health.pug
                +accordion-item("Find planning applications near me")
                  |  Some content here
                  |Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  |nisi ut aliquip ex ea commodo consequat.
block append scripts
  script(src='/javascripts/accordion.js')
  