block append head
  link(rel="stylesheet", href="/stylesheets/queries/waiting_lists_grid.css")
  
block content
    .container.mt-15.py-5
        include queries/waiting_lists.html
  
block append scripts
    script(src="http://code.jquery.com/jquery-2.1.0.min.js")       
    script(src="/lib/crossfilter.js" type="text/javascript")
    script(src="https://d3js.org/d3.v5.js" type="text/javascript")
    script(src="/lib/dc.js" type="text/javascript")
    script(src="/lib/underscore-min.js" type="text/javascript")
    script(src="/javascripts/queries/waiting_lists.js" type="text/javascript")
