extends layout
include component/card-stories

block append head

  link(rel="stylesheet", href="/stylesheets/lib/flickity.min.css")
  link(rel="stylesheet", href="/stylesheets/stories.css")
  link(rel="stylesheet", href="/stylesheets/card.css")

block navigation

block content
  #stories-home 
    #stories-home__grid
      #stories-home__icon
        img(src='/images/icons/icons-48px/Stories_Icon_48px.svg')
      #stories-home__title
        h1 Stories
      #stories-home__description
        p Data stories add context and meaning to 
          |the raw data available for the city. The 
          |stories below offer a narrative for issues affecting citizens 
          |of Dublin, with key points supported through interactive visualisations.
      #stories-home__carousel
        <div class="carousel" data-flickity='{ "freeScroll": false, "wrapAround": false, "freeScrollFriction": 0.05,"selectedAttraction": 0.05, "cellSelector": ".carousel-cell", "cellAlign": "left", "percentPosition": false, "pageDots": true, "adaptiveHeight": true}'>
          .carousel-cell
            #stories-home__geodemos
              +card-stories({
              title: "Housing in the Dublin Region, 1991 to present",
              description: "A three-part story describing the historical phases of the housing crisis in Dublin."
              })
          .carousel-cell
            #stories-home__getting-around
              +card-stories({})
        </div>

block append scripts
  //- script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js" type="text/javascript")
  
  script(src="lib/flickity.pkgd.min.js" type="text/javascript")
  //- script(src="lib/d3v5/d3.js" type="text/javascript")
  //- script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js")
  //- script(src='lib/set-interval-async.iife.js' type="text/javascript")
  //- script(src='javascripts/dublinco.js' type="text/javascript")
  //- script(src='javascripts/home/home-helper-functions.js' type="text/javascript")
  //- script(src='javascripts/home/about-dublin.js' type="text/javascript")
  //- script(src='javascripts/home/about-regions.js' type="text/javascript")
  //- //- script(src='javascripts/map.js')
  //- script(src='javascripts/charts/card_line_chart.js' type="text/javascript")
  //- script(src='javascripts/charts/card_bar_chart.js' type="text/javascript")
  //- script(src='javascripts/coerce.js' type="text/javascript")
  //- script(src='javascripts/home/data_glance.js' type="text/javascript")
  //- script(src='javascripts/home/card_time.js' type="text/javascript")
  //- //- script(src='javascripts/home/card_weather.js' type="text/javascript")
  //- script(src='javascripts/home/card_weather_current.js' type="text/javascript")
  //- script(src='javascripts/home/card_bikes.js' type="text/javascript")
  //- script(src='javascripts/home/card_traveltimes.js' type="text/javascript")
  //- script(src='javascripts/home/card_population.js' type="text/javascript")
  //- script(src='javascripts/home/card_unemployment.js' type="text/javascript")
  //- script(src='javascripts/home/card_housecompletions.js' type="text/javascript")
  //- script(src='javascripts/home/card_propertyprice.js' type="text/javascript")
  //- script(src='javascripts/home/home_resize.js' type="text/javascript")
  //- script(src='javascripts/home/flickity_utils.js' type="text/javascript")
  //- //- script(src='javascripts/search.js')
