extends layout

//- Including component mixins
include component/accordion

block navigation
    +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard")

block content
    div(class="container mt-5 py-5")
        div.row.my-5
            .col-sm-6
              h2 Health Stories
              +accordion("one")
                +accordion-item("New Story One")
                  |  Some content here
                  |Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  |nisi ut aliquip ex ea commodo consequat.
                +accordion-item("New Story Two")
                  |  Some content here
                  |Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  |nisi ut aliquip ex ea commodo consequat. 
            .col-sm-6
              h2 Education Stories
              +accordion("two")
                +accordion-item("New Story Three")
                  |  Some content here
                  |Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                  |nisi ut aliquip ex ea commodo consequat. 

block append scripts
  script(src='/javascripts/accordion.js')