section#economy
    
    header.header.mt-5.pt-5.pt-2
      .row
        .col-6
          h1.header__h1 Environment
          p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-2 Environment Map

      .row.wrapper.py-3
        .col-lg-4
          h3 Water, Air and Sound
          p Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark employment-btn environment-all-btn" value="">All Monitor Sites</button>
            <button type="button" class="btn btn-dark employment-btn opw-water-btn" value="">OPW Water </button>
            <button type="button" class="btn btn-dark employment-btn hydronet-btn" value="">EPA Hydronet Water</button>
            <button type="button" class="btn btn-dark employment-btn sound-monitor-btn" value="">Sound</button>
            <button type="button" class="btn btn-dark employment-btn air-montior-btn" value="">Air</button>
            
          div#chart-environment-map

    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-2 Waste Management Statistics

      .row.wrapper.py-3
        .col-lg-4
          h3 Waste produced per Capita
          p Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark employment-btn employment_count" value="">Count</button>
            //- <button type="button" class="btn btn-dark employment-btn employment_qrate" value="">Rate</button>
          div#chart-

      .row.wrapper.py-3
        .col-lg-4
          h3 Household Recycling Rate-Dry Recyclables
          p Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.

        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Rate</button>
          #chart

      .row.wrapper.py-3
        .col-lg-4
          h3 Household Recycling Rate-Organics
          p Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Rate</button>
          #chart-pupilsSecondLevel

    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-2 Water Management Statistics
      
      .row.wrapper.py-3
        .col-lg-4
          h3 Annual Water Consumption per Capita
          p Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Count</button>
          #chart