header.header.mt-5.pt-5.pt-2
  .row
    .col-lg-6
      h1#economy.section-header Economy
      p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.

    .col-md-6.pt-5

article.article.pt-5
  .row
    .col-lg-12
      h2.header__h2.mb-2 Employment Statistics

  #employment.row.wrapper.py-4
    .col-lg-4.py-5
      h3 Numbers in Employment
      p 
        a(href="https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=QNQ22" target="_blank") Source: CSO 
          img(src='../images/external-link.svg' height='11px' width='11px')
      p Persons aged 15 years and over in Employment (Thousand)
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
      
      div#chart-select1
    .col-lg-8.py-5
      .pt-2
        <button type="button" class="btn btn-bcd active employment-btn employment_count" value="countData">Count</button>
        //- <button type="button" class="btn btn-bcd employment-btn employment_qrate" value="Quartley-On-Quartley  % Change"">Quartley % Change</button>
        <button type="button" class="btn btn-bcd employment-btn employment_arate" value="ILO Participation Rate (15 years and over) (%)">Annual % Change</button>
      #chart-employment.chart-holder

  #unemployed.row.wrapper.py-4
    .col-lg-4.py-5
      h3 Numbers Unemployed
      p
        a(href="https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=QNQ22" target="_blank") Source: CSO 
          img(src='../images/external-link.svg' height='11px' width='11px')
      p Unemployed Persons aged 15 years and over (Thousand)
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
      div#chart-select2.chart-holder
    .col-lg-8.py-5
      .pt-2
        <button type="button" class="btn btn-bcd active">Count</button>
        //- <button type="button" class="btn btn-bcd">Quartley % Change</button>
        <button type="button" class="btn btn-bcd">Annual % Change</button>
        <button type="button" class="btn btn-bcd">Rate</button>
      #chartNew.chart-2.chart-holder

  #grossValue.row.wrapper.py-4
    .col-lg-4.py-5
      h3 Gross Value Added
      p
        a(href="https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=raa01" target="_blank") Source: CSO 
          img(src='../images/external-link.svg' height='11px' width='11px')
      p Gross Value Added per Capita at Basic Prices
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8.py-5
      .pt-2
      #chart-gva.chart-holder

article#income_poverty.article
  .row
    .col-lg-12
      h2.header__h2 Income & Poverty
  
  .row.wrapper.py-4
    .col-lg-4.py-5
      h3 Median Real Household Disposable Income
      p
        a(href="https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=SIA20&PLanguage=0" target="_blank") Source: CSO 
          img(src='../images/external-link.svg' height='11px' width='11px')
      p Survey on Income and Living Conditions for Dublin
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8.py-5
      .pt-2
      #chart-disposable-income.chart-holder

  .row.wrapper.py-4
    .col-lg-4.py-5
      h3 Poverty Rating
      p
        a(href="https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=SIA20&PLanguage=0" target="_blank") Source: CSO 
          img(src='../images/external-link.svg' height='11px' width='11px')
      p Survey on Income and Living Conditions for Dublin
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8.py-5
      .pt-2
        //- <button type="button" class="btn btn-bcd active">Rate</button>
      #chart-poverty-rate.chart-holder

article.article
  .row
    .col-lg-12
      h2.header__h2 Industry Sectors

  .row.wrapper.py-4
    .col-lg-4.py-5
      h3 Numbers by Employment Sector in Dublin
      p
        a(href="https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=QNQ40&PLanguage=0" target="_blank") Source: CSO 
          img(src='../images/external-link.svg' height='11px' width='11px')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.

    .col-lg-8.py-5
      .pt-2
      #chart-employment-sector.chart-holder

  .row.wrapper.py-4
    .col-lg-4.py-5
      h3 Number of Employees by Size of Company
      p
        a(href="https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=BRA08&PLanguage=0" target="_blank") Source: CSO 
          img(src='../images/external-link.svg' height='11px' width='11px')
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8.py-5
      .pt-2
      #chart-employees-by-size.chart-holder

  .row.wrapper.py-4
    .col-lg-4.py-5
      h3 Overseas Visitors
      p
        a(href="http://www.failteireland.ie/Research-Insights/Tourism-Facts-and-Figures.aspx" target="_blank") Source: Failte Ireland/CSO/DCC  
          img(src='../images/external-link.svg' height='11px' width='11px')
      p Total Overseas Visitors to Dublin
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8.py-5
      .pt-2
      #chart-overseas-vistors.chart-holder