section#economy
    
    header.header.mt-5.pt-5.pt-2
      .row
        .col-6
          h1.header__h1 Transport
          p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-2

      .row.wrapper.py-3
        .col-lg-4
          h3 Realtime Public Transport
          p Source: XXX
          p Buses & Bikes
          p The map shows the locations of Dublin Bikes stations and the current 
            |number of bicycles available.
          p You can also click on a bus stop to see real time information.
          
          div#chart-select1
          .col-lg-8
            div.ml-5.pt-2
            <button type="button" class="btn btn-dark transport-btn bike_count" value="bikes">Dublin Bikes</button>
            <button type="button" class="btn btn-dark transport-btn-btn employment_qrate" value="Bus RTPI">Dublin Bus RTPI</button>
          //<button type="button" class="btn btn-dark transport-btn employment_arate" value="ILO Participation Rate (15 years and over) (%)">Annual % Change</button>
          #map-public-transport1

      .row.wrapper.py-3
        .col-lg-4
          h3 Car Park Spaces
          p Source: XXX
          p Availibility of spaces in multi-story car parks
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
          //  <button type="button" class="btn btn-dark active">Count</button>
          #map-public-transport
    
    
