header.header.mt-5.pt-5.pt-2
  .row
    .col-lg-6
      h1#demographics.section-header Demographics
      p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
article.article
  .row
    .col-lg-12
      h2.header__h2.mb-2 Population Statistics

  #population.row.wrapper.py-5
    .col-lg-4
      h3 Population of Dublin
      p Source: CSO
      p Annual Rate of Population Increase
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      .pt-2
        <button type="button" class="btn btn-bcd demogrpahics-btn demographics_count" value="countData">Count</button>
        <button type="button" class="btn btn-bcd demographics-btn demographics_arate" value="rateData"">Rate</button>
      div#chart-population.chart-holder

  .row.wrapper.py-5
    .col-lg-4
      h3 Females per 1000 Males in Dublin
      p Source: CSO
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
      div#chart-select2
    .col-lg-8
      .pt-2
        //- <button type="button" class="btn btn-bcd">Rate</button>
      #chart-femalespermales.chart-holder

  .row.wrapper.py-5
    .col-lg-4
      h3 Population Born Outside the State (Excluding N. Ireland)
      p Source: CSO
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      .pt-2
        //- <button type="button" class="btn btn-bcd active">Count</button>
      #chart-bornOutsideState.chart-holder

  .row.wrapper.py-5
    .col-lg-4
      h3 Age Profile of Dublin and Ireland
      p Source: CSO
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      .pt-2
        //- <button type="button" class="btn btn-bcd active">Count</button>
      #chart-ageProfile.chart-holder

article#income_poverty.article
  .row
    .col-lg-12
      h2.header__h2.mb-5 Household Statistics
  
  .row.wrapper.py-5
    .col-lg-4
      h3 Number of Households
      p Source: CSO
      p Number of Households (Number) in Dublin
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      .pt-2
        //- <button type="button" class="btn btn-bcd active">Count</button>
      #chart-households.chart-holder

  .row.wrapper.py-5
    .col-lg-4
      h3 Household Composition
      p Source: CSO
      p Private Permanent Households (Number) by Number of Persons
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      .pt-2
        //- <button type="button" class="btn btn-bcd active">Count</button>
      #chart-householdComposition.chart-holder