section#economy
    
    header.header.mt-5.pt-5.pt-2
      .row
        .col-lg-6
          h1.header__h1 Environment
          p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
    article.article
       
      .row.wrapper.py-3
        .col-lg-4
          h3 Water Monitoring Sites
          p Sources: 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.pt-2
            <button type="button" class="btn btn-bcd water-opw-btn" value="">OPW Water </button>
            <button type="button" class="btn btn-bcd water-hydronet-btn" value="">EPA Hydronet Water</button>
            <button type="button" class="btn btn-bcd water-all-btn" value="">All Monitor Sites</button>
            
          div#chart-water-map
          
      .row.wrapper.py-3
        .col-lg-4
          h3 Noise Level Monitoring
          p Source: <a href="https://data.gov.ie/dataset/noise_monitoring1" target="_blank">Data.gov (opens new)</a>
          p Real-time readings from Dublin City Council's 14 noise monitoring locations.
            | 
          p From the latest data, the highest level of noise was at XXX, 
            | where the recorded reading was XXX dB.
            | Meanwhile XX was the quietest, at XXXdB 
        .col-lg-8
          //div.pt-2
            <button type="button" class="btn btn-bcd opw-water-btn" value="">OPW Water </button>
            <button type="button" class="btn btn-bcd hydronet-btn" value="">EPA Hydronet Water</button>
            <button type="button" class="btn btn-bcd sound-monitor-btn" value="">Sound</button>
            <button type="button" class="btn btn-bcd air-montior-btn" value="">Air</button>
            <button type="button" class="btn btn-bcd environment-all-btn" value="">All Monitor Sites</button>
            
          div#chart-sound-map
          
      .row.wrapper.py-3
        .col-lg-4
          h3 Air Quality
          p Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.pt-2
            //<button type="button" class="btn btn-bcd opw-water-btn" value="">OPW Water </button>
            //<button type="button" class="btn btn-bcd hydronet-btn" value="">EPA Hydronet Water</button>
            //<button type="button" class="btn btn-bcd sound-monitor-btn" value="">Sound</button>
            //<button type="button" class="btn btn-bcd air-montior-btn" value="">Air</button>
            //<button type="button" class="btn btn-bcd environment-all-btn" value="">All Monitor Sites</button>
            
          div#chart-air-map

    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-2 Waste Management Statistics

      .row.wrapper.py-3
        .col-lg-4
          h3 Waste produced per Capita
          p 
            a(href="http://www.epa.ie/pubs/reports/waste/stats/#.VrNcerKLTIW") Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.pt-2
            <button type="button" class="btn btn-bcd active" value="">Count</button>
            //- <button type="button" class="btn btn-bcd employment_qrate" value="">Rate</button>
          div#chart-waste.chart-holder

      .row.wrapper.py-3
        .col-lg-4
          h3 Household Recycling Rate-Dry Recyclables
          p 
            a(href="http://www.epa.ie/pubs/reports/waste/stats/#.VrNcerKLTIW") Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.

        .col-lg-8
          div.pt-2
            <button type="button" class="btn btn-bcd active">Rate</button>
          #chart-recyclings.chart-holder

      .row.wrapper.py-3
        .col-lg-4
          h3 Household Recycling Rate-Organics
          p 
            a(href="http://www.epa.ie/pubs/reports/waste/stats/#.VrNcerKLTIW") Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.pt-2
            <button type="button" class="btn btn-bcd active">Rate</button>
          #chart-organicrecyclings.chart-holder

    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-2 Water Management Statistics
      
      .row.wrapper.py-3
        .col-lg-4
          h3 Annual Water Consumption per Capita
          p Source: Internal DCC Report *link not working
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.pt-2
            <button type="button" class="btn btn-bcd active">Count</button>
          #chart-watercons.chart-holder

      .row.wrapper.py-3
        .col-lg-4
          h3 Eastern River Basin District Water Quality Trends
          p 
            a(href="http://www.epa.ie/") Source: EPA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.pt-2
            <button type="button" class="btn btn-bcd active">Count</button>
          #chart-riverqualities.chart-holder

    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-2 Environmental Awareness Statistics
      
      .row.wrapper.py-3
        .col-lg-4
          h3 Schools Awarded the Green Flag in the Dublin Region
          p 
            a(href="http://www.dublincity.ie/main-menu-services-water-waste-and-environment-waste-and-recycling/waste-management-plan") Source: Dublin City Council
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.pt-2
            <button type="button" class="btn btn-bcd active">Count</button>
          #chart-greenflags.chart-holder

      .row.wrapper.py-3
        .col-lg-4
          h3 Number of Local Agenda 21 Funded Projects
          p 
            a(href="https://www.housing.gov.ie/search/sub-type/funding-allocation?query=local+agenda+21") Source: Department of Housing, Planning, Community and Local Government
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.pt-2
            <button type="button" class="btn btn-bcd active">Count</button>
          #chart-localagendas.chart-holder