extends layout

block navigation
    +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard")

block content
    .container.mt-5.py-5
        h1= title
//        p Welcome to #{title}


block append scripts
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="/javascripts/test.js")