extends layout

block navigation
    +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard", "Themes")

block content
  .container
    header.header.mt-5.pt-5
      .row
        .col-md-7
          h1= title
          p.header__lead Some description about the #{title}
            |. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
    section#transport
      article.header.mt-2.pt-5
        .row
          .col-md-5
            h1.header__h1 Transport
            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              |nisi ut aliquip ex ea commodo consequat.
            a(class="btn btn-bcd" href="themes/transport" role="button") View all Transport charts
    section#environment
      article.header.mt-2.pt-5
        .row
          .col-md-5
            h1.header__h1 Environment
            p.lead Dublin collects environmental data in numerous categories from 
                |environmental sensors and waste collection. Included in this section 
                |is information about water monitoring sites, noise level monitoring, 
                |air quality, waste management, household dry recycling, household 
                |organic recycling, water consumption, water quality in the eastern 
                |River Basin, Green Flag school awardees, and funding given for 
                |Local Agenda 21 Environmental Partnership.
            a(class="btn btn-bcd" href="themes/environment" role="button") View all Environment charts
    section#economy
      article.header.mt-2.pt-5
        .row
          .col-md-5
            h1.header__h1 Economy
            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              |nisi ut aliquip ex ea commodo consequat.
            a(class="btn btn-bcd" href="themes/economy" role="button") View all Economy charts
          .col-md-7
            .col-md-6.pt-5
              div(class="card o-hidden border-blue")
                div(class="card-header" style="font-weigth: 600; background: none;") Employment Quartley % Change
                div(class="card__body card-graph")
                  div(id="test-glance")
                  
    section#housing
      article.header.mt-2.pt-5
        .row
          .col-md-5
            h1.header__h1 Housing
            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              |nisi ut aliquip ex ea commodo consequat.
            a(class="btn btn-bcd" href="themes/housing" role="button") View all Housing charts
          .col-md-7
            .row
              .col-md-6.pt-5
                div(class="card o-hidden border-blue")
                  div(class="card-header" style="font-weigth: 600; background: none;") Average New Property Prices
                  div(class="card__body card-graph")
                    div(id="ap-glance")
              .col-md-6.pt-5
                div(class="card o-hidden border-blue")
                  div(class="card-header" style="font-weigth: 600; background: none;") Monthly House Unit Completions
                  div(class="card__body card-graph")
                    div(id="hc-glance")
    section#education
      article.header.mt-2.pt-5
        .row
          .col-md-5
            h1.header__h1 Education
            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              |nisi ut aliquip ex ea commodo consequat.
            a(class="btn btn-bcd" href="themes/education" role="button") View all education charts
    section#health
      article.header.mt-2.pt-5
        .row
          .col-md-5
            h1.header__h1 Health
            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              |nisi ut aliquip ex ea commodo consequat.
            a(class="btn btn-bcd" href="themes/health" role="button") View all Health charts
    section#demographics
      article.header.mt-2.pt-5.pb-5.mb-5
        .row
          .col-md-5
            h1.header__h1 Demographics
            p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              |nisi ut aliquip ex ea commodo consequat.
            a(class="btn btn-bcd" href="themes/demographics" role="button") View all Demographics charts
          .col-md-7
            .row
              .col-md-6.pt-5
                div(class="card o-hidden border-blue")
                  div(class="card-header" style="font-weigth: 600; background: none;") Monthly House Unit Completions
                  div(class="card__body card-graph")
                    div(id="pr-glance")

append scripts
    script(src="/lib/crossfilter.js" type="text/javascript")
    script(src="/lib/d3v5/d3.js" type="text/javascript")
    script(src="/lib/dc.js" type="text/javascript")
    script(src="/lib/underscore-min.js" type="text/javascript")
    script(src="/javascripts/themes/barChart.js" type="text/javascript")
    script(src="/javascripts/themes/stackbarChart.js" type="text/javascript")
    script(src="/javascripts/themes/stackedareaChart.js" type="text/javascript")
    script(src="/javascripts/themes/multiline-chart.js" type="text/javascript")
    script(src="/javascripts/themes/themes.js" type="text/javascript")
    //script(src="/javascripts/themes/trolleys.js" type="text/javascript")
