section#economy

    header.header.mt-5.pt-5.pt-2
      .row
        .col-md-6
          h1.header__h1 Economy
          p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.

        .col-md-6.pt-5
          div(class="card o-hidden border-blue" style="width: 350px; margin: auto;")
            div(class="card-header" style="font-weigth: 600; background: none;") Employment Quartley % Change
            div(class="card__body card-graph")
              div(id="test-glance")

          

    article.article.pt-5
      .row
        .col-lg-12
          h2.header__h2.mb-2 Employment Statistics

      .row.wrapper.py-3
        .col-lg-4
          h3 Numbers in Employment
          p Source: CSO
          p Persons aged 15 years and over in Employment (Thousand)
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
          
          div#chart-select1
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark employment-btn employment_count" value="countData">Count</button>
            <button type="button" class="btn btn-dark employment-btn employment_qrate" value="Quartley-On-Quartley  % Change"">Quartley % Change</button>
            <button type="button" class="btn btn-dark employment-btn employment_arate" value="ILO Participation Rate (15 years and over) (%)">Annual % Change</button>
          div#chart-employment

      .row.wrapper.py-3
        .col-lg-4
          h3 Numbers Unemployed
          p Source: CSO
          p Unemployed Persons aged 15 years and over (Thousand)
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
          div#chart-select2
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Count</button>
            <button type="button" class="btn btn-dark">Quartley % Change</button>
            <button type="button" class="btn btn-dark">Annual % Change</button>
            <button type="button" class="btn btn-dark">Rate</button>
          #chartNew.chart-2

      .row.wrapper.py-3
        .col-lg-4
          h3 Gross Value Added
          p Source: CSO
          p Gross Value Added per Capita at Basic Prices
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Count</button>
          #chart-gva
    
    article#income_poverty.article
      .row
        .col-lg-12
          h2.header__h2.mb-5 Income & Poverty
      
      .row.wrapper.py-3
        .col-lg-4
          h3 Median Real Household Disposable Income
          p Source: CSO
          p Survey on Income and Living Conditions for Dublin
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Count</button>
          #chart-disposable-income

      .row.wrapper.py-3
        .col-lg-4
          h3 Poverty Rating
          p Source: CSO
          p Survey on Income and Living Conditions for Dublin
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Rate</button>
          #chart-poverty-rate

    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-5 Industry Sectors

      .row.wrapper.py-3
        .col-lg-4
          h3 Numbers by Employment Sector in Dublin
          p Source: CSO
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.

        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Count</button>
          #chart-employment-sector

      .row.wrapper.py-3
        .col-lg-4
          h3 Number of Employees by Size of Company
          p Source: CSO
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Count</button>
          #chart-employees-by-size

      .row.wrapper.py-3
        .col-lg-4
          h3 Overseas Visitors
          p Source: Failte Ireland/CSO/DCC
          p Total Overseas Visitors to Dublin
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark active">Count</button>
          #chart-overseas-vistors