section#transport
    
    header.header.mt-5.pt-5.pt-2
      .row
        .col-6
          h1.header__h1 Transport
          p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-2 Realtime Travel

      .row.wrapper.py-3
        .col-lg-4
          h3 Public Transport
          p Source: XXX
          p Dublin Bikes & Buses
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
          
          div#chart-select1
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark employment-btn employment_count" value="dublinBikes">Bikes</button>
            <button type="button" class="btn btn-dark employment-btn employment_qrate" value="dublinBuses">Buses</button>
            <button type="button" class="btn btn-dark employment-btn employment_qrate" value="all">All</button>
          div#chart-public-transport

      