section#scats
    
    article.article
      .row
        .col-lg-12
          h2.header__h2.mb-2 Scats sensors

      .row.wrapper.py-3
        .col-lg-4
          h3 SCATs
          p Source: XXX
          p 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            |nisi ut aliquip ex ea commodo consequat.
          
          div#chart-select-scats
        .col-lg-8
          div.ml-5.pt-2
            <button type="button" class="btn btn-dark employment-btn employment_count" value="Centre">City Centre</button>
            <button type="button" class="btn btn-dark employment-btn employment_qrate" value="North">North</button>
            <button type="button" class="btn btn-dark employment-btn employment_qrate" value="South">South</button>
            <button type="button" class="btn btn-dark employment-btn employment_qrate" value="West">West</button>
            <button type="button" class="btn btn-dark employment-btn employment_qrate" value="All">All</button>
            
          div#chart-scats

      