/* 
    Author     : Liam
*/

*{
    margin: 0;
    padding: 0;
    /*background-color: goldenrod;*/
    /*box-sizing: border-box; padding and border are included in the total width and height of the elements*/
    /*border: solid 2px #e5e5e5;*/

}

/*p, li, h1, h2 , h3, a{
    font-family: 'Proxima Nova', Georgia, sans-serif;
    font-weight: normal;

}

p, li {  
    color: rgba(0,0,0,0.8);
    font-size: 1.5vw;
    text-align: justify;
}*/

/*//mobile first*/
#page{
    display: grid;
    width:100%;
    height: 1000px;
    border: none;
    /*grid-gap:1em;*/
    /* grid-auto-rows:100px; */
    /*grid-auto-rows: minmax(100px, auto);*/
    grid-template-areas:
        "context1"
        "v1"
        "context2"
        ;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

#page > .viz1 {
    display: grid;
    align-content: space-between;
    grid-template-areas:
        "chart1"
        ;      
    grid-template-columns: 1fr; 
    grid-area: v1;

}

#page > .viz1 .chart1{
    height: 500px;
    grid-area: chart1;
}

#map {
    height: 90%;
}

/*For text included with dc-data-count*/
.filter-text{
    color: #3182bd;
    font-weight: bold;
    font-size: 50px; 

}



/*420*/
@media screen and (min-width: 420px)  {
    #page{
        display: grid;
        width:100%;
        height: 1000px;

        /*        grid-gap:1em;
                grid-auto-rows:100px; 
                grid-auto-rows: minmax(100px, auto);*/
        grid-template-areas:
            "context1 v1 v1"        
            "context2 v1 v1"
            ;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;

    }
}   
/*iPad Pro*/
@media screen and (min-width: 1024px)  {
    #page{
        display: grid;
        width:100%;
        height:1000px ;
        /*grid-gap:1em;*/
        /* grid-auto-rows:100px; */
        /*grid-auto-rows: minmax(100px, auto);*/
        grid-template-areas:
            "context1 v1 v1"        
            "context2 v1 v1"
            ;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;

    }
}
/*Desktop*/
@media screen and (min-width: 1280px)  {
    #page{
        display: grid;
        width:100%;
        height:1000px ;

        /*grid-gap:1em;*/
        /* grid-auto-rows:100px; */
        /*grid-auto-rows: minmax(100px, auto);*/
        grid-template-areas:
            "context1 v1 v1"        
            "context2 v1 v1"
            ;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;

    }
}
/*/nested chart.js charts*/



/*#page > div:nth-child(odd){
    background-color: lightgrey;
}
/*

page > div:nth-child(even){
    background-color: white;
}*/






