extends ../layout

block append head
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css')

block navigation
    +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard", "Stories")

block content    
      header.header.mt-5.py-5
        .container
          .row.justify-content-md-center
            .col-md-8
              a(href="/stories").backlink Back to All Stories
              h1.mb-5.mt-5 Housing in the Dublin Region, 1991 to present - Part 3
              img(class="story-image" src="/images/stories/house_crisis3.jpg" alt="")
 
      section
        .container
          .row.justify-content-md-center
              article.col-md-8
                  .something
                    p This is the concluding part of the data story examining housing in the capital through the housing and planning data available for the city. The two previous parts describe the preceding historical phases:
                    ul.lead  
                      li  
                        a(href="housing-dublin-phase-1") 1993-2006 (the Celtic Tiger years); 
                      li
                        a(href="housing-dublin-phase-2") 2007-2012 (the crash).
                  
              article#phase3.col-md-8
                h2.mt-5.mb-4 Crisis phase 3: 2013 onwards (post-crash)
                .something
                  p The levelling off in the fall in house prices, followed by a gradual and then rapid increase of prices in Dublin (rising by 24.1% between October 2012 and 2013, before levelling off again in response to Central Bank interventions), is indicative of a new phase in the ongoing housing crisis.
                  p This phase sees the continuation of serious problems of phase 2, such as social housing need, private rent rises, mortgage arrears, negative equity, unfinished estates, but varying levels of change depending on the extent to which solutions are put in place and the wider economy starts to recover.  For example, there was large-scale dezoning of serviced zoned land.  By Q2 2018 mortgage accounts remaining in arrears had dropped to XXX (XX per cent), with XXX in arrears for more than 90 days (XX per cent). With respect to buy-to-let (BTL) mortgages, XX (XX per cent) were in arrears, with XX (XX per cent) in arrears of more than 90 days. (update figures based on tabs 8 & 9 - see earlier graph)
                  p The new or deepening crises in this period are a lack of supply in some areas and associated rising housing and rental prices, continued problems of social housing provision, and rising homelessness in response to a changing rental market.  
                  p Whilst there was oversupply in every single local authority nationwide for both houses and apartments (with the exception of South Dublin for houses) in 2011, the extent of this oversupply varied geographically. Much of rural Ireland had extensive levels of vacancy. In Dublin, the overall vacancy rate for the four local authorities was 8.4% (44,468 units).  While the vacancy rate of houses was low, the vacancy rate for apartments was 16-19% (see earlier graph).
                  p Despite emigration during the crash (see graph elsewhere in dashboard), population and households have been growing in Dublin through natural increase, labour migration, and household fragmentation (see earlier graph). The levelling off of prices instilled confidence that the bottom of the market had been reached.  In combination, the result was an increase in demand by investors trying to maximize return on investment and rental yields and households looking to enter the market.  What oversupply there was in the capital was thus absorbed.
                  p With respect to new supply, however, construction has remained moribund.  Between January 2012 and December 2017 only XXX units were built nationwide, XXX of which were in Dublin (see earlier graph). Assessments by both the Housing Agency and the Economic Social Research Institute (ESRI) suggest that c.8000 units are required per annum in the four Dublin LAs.  This is a very modest figure that is significantly below pre-crash construction rates and is unlikely to quell present demand.
                  p The effect of very little new supply for either purchase or rent, but rising demand, has led to the inflation of prices.  XXX
                  //- fig1 - rent
                  #rent-prices-chart.chart
                .something
                  p One the effects of rent increases is that families who are income insecure – low wage, uncertain hours, flexible working, dependent on welfare – who reside in private rental accommodation cannot afford rent increases and rent supplement is not sufficient to cover the gap, with more than half of those receiving rent supplement having to top up their rent.  Consequently, they are being priced out of their homes in favour of those who can afford the new rental price. These families find it difficult to find alternative private rented accommodation due to rent inflation across the rental sector and landlord preferences for tenants not reliant on rent supplement.  With no social housing available, these families find themselves homeless.
                  
                  p [Update figures] Nationally, the Simon Community reported that in 2012, there was an increase of 24 per cent in those using their services, to over 5,000 individuals (Irish Times 2014b).  The Dublin Region Homeless Executive detail that in 2015 a total of 5,480 adult individuals accessed homeless accommodation during 2015 in Dublin (DRHE 2016a).  As of January 2016, there were 769 families homeless in Dublin living in emergency homeless accommodation (DRHE 2016b).
                  //- //fig 2
                  #homelessness-chart.chart
                .something
                  p Without a significant increase in the level of supply competition for property continues to intensify, with rising purchase and rental prices and increasing homelessness.  
                  p In theory, a lot of the right criteria for creating supply exist. There is an excess of demand; there was 6,400 acres of zoned serviced land available in the four Dublin authorities for 132,000 units in 2014 (see earlier map) and there are a lot of outstanding planning permissions still in effect and local authorities want to give permission for developments that meet development plan/zoning criteria [data?].
                  p Yet despite these conditions and the need to create supply it is clear that a hangover from phase 2 of the crisis is blocking development. The state’s finances are limited, there are competing demands for scarce resources, and they are reluctant to significantly increase capital spending on housing and associated infrastructure. The banks are in a weak state and reluctant to lend for development. Builders and developers have limited initial capital to draw down additional finance. With respect to land, it may be the case that owners are reluctant to put into development because they bought it in the boom and cannot afford to develop at present housing prices. With respect to planning, it may be that developers are seeking permissions that contravene development plans or are trying to alter existing permissions.  The property industry also argues that the system needs streamlining and simplifying.  
                
              article.col-md-8.py-5
                h2 Conclusion
                .something
                  p The last twenty five years has seen a tumultuous set of changes with regards to Ireland’s housing sector and market.  Throughout the entire period it has been transitioning through three phases of crisis. 
                  p In the first phase, there were crises of creating enough supply, very quickly rising prices to levels that were unaffordable for low and middle income households and reduced competitiveness, a significant increase in household debt and bank debt to precarious levels, over-zoning of land and dramatic price increases, the expansion of urban sprawl and long distance commuting. 
                  p In the second phase, the property bubble burst, the fallout was catastrophic for households, the state, and the wider economy.  House prices plunged, estates remained unfinished, households were faced with extensive mortgage arrears and negative equity and/or poor build quality, the social housing waiting list extended, and more households became homeless. 
                  p In the third phase, instead of the market returning and fixing the problems, there has been uneven mopping up of oversupply and little new supply of housing units. This has driven up purchase and rental prices in the cities and also created rising homelessness. This present phase is likely to last a number of years and is unlikely to address issues that have persisted since the 1990s, such as housing (to buy or rent) becoming increasingly unaffordable for ordinary citizens.
                
              article.col-md-8.py-5
                h2 Acknowledgement
                .something
                  p This extended data story is an updated and modified version Kitchin, R., Hearne, R. and O’Callaghan, C. (2016) Housing. In Roche, W.K., O’Connell, P. and Prothero, A. (eds) Austerity and Recovery in Ireland: Europe’s Poster Child and the Great Recession. Oxford University Press. pp. 272-289.

              article.col-md-8.pb-5
                h2 Reference
                .something
                  p <sup>1</sup> Household data is taken from the Census, which runs April 2002 – April 2006). Completions data has been estimated based on two thirds of 2002 and one third 2006 to approximate April dates.
                  p <sup>2</sup> Brawn, D. 2009. Ireland’s House Party: What Estates Agents Don’t Want You to Know Dublin: Gill and Macmillan. 
                  p <sup>3</sup> Central Statistics Office, CSO. 2008. Construction and Housing in Ireland. Available at: 
                    a( href="http://www.cso.ie/en/media/csoie/releasespublications/documents/construction/current/constructhousing.pdf" target="blank") www.cso.ie
                  p <sup>4</sup> O’Riain, S. 2014. The Rise and Fall of Ireland’s Celtic Tiger: Liberalism, Boom, and Bust Cambridge: Cambridge University Press.
                  p <sup>5</sup> Savills HOK 2007. Values Approach €60,000 Hectare. Irish Agricultural Land Research May. 
                  p <sup>6</sup> O’Toole, F. 2009. Ship of Fools: How Stupidity and Corruption Sank the Celtic Tiger. London: Faber and Faber.
                  p <sup>7</sup> Honohan, P. 2010. The Irish Banking Crisis: Regulatory and Financial Stability Policy 2003 – 2008.  Irish Central Bank. 
                    | Available at:  
                    a(href="http://www.bankinginquiry.gov.ie/the%20irish%20banking%20crisis%20regulatory%20and%20financial%20stability%20policy%202003-2008.pdf" target="blank") www.bankinginquiry.gov.ie

block append scripts
  script(src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" type="text/javascript")
  script(src="/lib/d3v5/d3.js" type="text/javascript")
  script(src="https://cdn.plot.ly/plotly-latest.min.js" type="text/javascript")
  script(src="/javascripts/charts/plotly/plotly_config_stories.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing3-fig2.js" type="text/javascript")
