extends ../layout

block append head
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css')

block navigation
    +navbar("navbar navbar-expand-lg navbar-dark bg-dark fixed-top","/","Dublin Dashboard", "Stories")

block content    
      header.header.mt-5.py-5
        .container
          .row.justify-content-md-center
            .col-md-8
              a(href="/stories").backlink Back to All Stories
              h1.mb-2.mt-5 Housing in the Dublin Region, 1991 to present - Part 2
              img(class="story-image" src="/images/stories/house_crisis2.jpg" alt="")
 
      section
        .container
          .row.justify-content-md-center
              article.col-md-8
                .something
                  p  This is the second part of the data story examining housing in the capital through the housing and planning data available for the city. The previous parts described the preceding historical phase: 
                  ul.lead  
                    li 
                      a(href="housing-dublin-phase-1") 1993-2006 (the Celtic Tiger years)

              article#phase2.col-md-8
                h2.mt-5.mb-4 Housing crisis phase 2: 2007-2012 (the crash)
                .something
                  p  As the global economy slowed and the global sub-prime banking crisis began house price rises in Ireland started to slow in September 2006, 
                    |levelling off in March 2007, and remaining static until November 2007.  From December 2007 to February 2012 they fell consistently, 
                    |before bottoming out and remaining stable until June 2013.  
                //- fig1
                #ppi-monthly-chart.mb-2.mt-5 
                  //- <button type="button" class="btn btn-bcd active chart-btn chart_pop">All Residential Properties</button>
                  //- <button type="button" class="btn btn-bcd chart-btn chart_hos">Houses</button>
                  //- <button type="button" class="btn btn-bcd chart-btn chart_prate">Apartments</button>
                .something
                  //- p.small.text-center Figure 1: House price index from 2005-2018 – national/Dublin housing/apartments - CSO.
                  p  From the peak to bottom prices fell by 57.4% in Dublin (houses 55.9% and apartments 63.7%) and 48.7% in the rest of the country. 
                    |Ireland experienced one of the deepest house market collapses on record.
                  p  As 2008 started it was clear that the promise of a soft landing was empty and all of the issues built up over the course of the 
                    |Celtic Tiger years exploded into a new set of crises as the property bubble burst and the Irish banking sector collapsed, 
                    |culminating in the Irish bank guarantee of September 2008, the creation of the state-owned National Assets Management Agency (NAMA) in 
                    |September 2009 (which bought €74 billion of distressed property loans from the Irish banks), and the €85 billion IMF–EU-ECB bailout in November 2010. 
                  p  Whilst the global financial crisis was the trigger to the Irish crisis, Irish banks were little exposed to US subprime loans; 
                    |rather, they were massively exposed to property and development loans in a bubble market.<sup>1</sup> Moreover, it soon became clear that not only were prices over-inflated, 
                    |but that there was a massive oversupply of housing stock and over-zoning of land.
                  p  Between 2005 and 2007 252,403 housing units were completed in Ireland (connected to the electricity grid – see earlier graph), 
                    |with another 78,144 added in 2008 and 2009 as legacy construction slowed. This is despite the fact that the 2002 census had 
                    |reported 177,254 vacant units (excluding holiday homes) and the 2006 census 216,533 vacant units (excluding holiday homes) (CSO 2014a).   
                //- fig2
                #vacant-housing-chart.mb-2.mt-5 
                .something
                  p.small.text-center Figure 2: Vacant housing 1991-2016.
                  p  Put simply, housing units had been built in excess of demand across the entire country, with several local authorities having vacancy rates excluding holiday homes above 15%. 
                    |The extent of the oversupply was clarified by the 2011 census, which reported that 230,056 units were vacant (excluding holiday homes), 168,427 houses and 61,629 apartments out of a total housing stock of 1,994,845 (11.5% of stock). 
                    |Allowing that one would always expect some units to be vacant in any housing market (c.6%) then oversupply was approximately 110,000 units.
                  p  The most visible manifestation of the oversupply issue were unfinished estates. After some speculation as to how many such estates existed, 
                    |The National Survey of Housing Developments reported that there were 2,846 documented unfinished estates in Ireland, present in every local authority. <sup>2</sup> 
                    |With respect to the units on these estates, 78,195 were complete and occupied, 23,250 complete and vacant, and 19,830 under construction, with planning permission in place for a further 58,025 units.
                //- fig3
                #unfinished-estates-map.mb-2.mt-5
                .something
                  p.small.text-center Figure 3: Map of unfinished estates.
                .something
                  p  Beyond vacancy and unfinished estates, there has been a concern related to the quality of dwellings constructed during the Celtic Tiger era.  Building control and standards were deregulated in Ireland in 1990, with local authority planning enforcement only undertaking inspections on 10-15% of sites and not at all stages of development. The highest profile case was Priory Hall in Dublin, where 187 apartments were found to breach fire hazard regulations, with residents forced to vacate their homes for two years whilst continuing to pay mortgages, but there have been numerous other similar examples.  
                  p  Further, there are estimated to be in excess of 20,000 homes whose foundation hardcore and building blocks are contaminated with pyrite, though the DECLG presently only recognizes 74 estates containing 12,250 units, predominately located in Dublin City, Fingal, Meath, Kildare, and Offaly.
                  p  In addition to oversupply of dwellings, there was also an oversupply of zoned land and commercial premises.  In June 2008, there was 14,191 hectares of serviced zoned land in the state, enough for up to 462,000 potential new units (DECLG 2016).  In addition, there was another 30,000 hectares of unserviced zoned land.
                //- fig4
                #serviced-land-available-chart.mb-2.mt-5
                #serviced-land-expected-units-chart.mb-2.mt-5
                #zoned-areas-map.mb-2.mt-5  
                .something
                  p  Not unsurprisingly land prices plummeted by between 75-98% in value post-2007.  In Dublin some 782,500m2 of office space (23%) was vacant in 2010.  After a substantial growth in the construction of hotels during the Celtic Tiger, at the end of 2008 15,000 guest rooms (26%) were deemed to be in-excess of demand. 
                  p  As the housing market plummeted and the wider economy crashed, with unemployment rising from 4.6% in Q4 2007 to peak at 15.1% in Q3 2011 and households facing tax rises and pay cuts, increasing financial pressure was placed onto households (CSO 2014b). (have link to employment graph elsewhere on site?) Faced with paying high payment rates on their mortgages many households struggled to keep up with payments.  In Q3 2009 3.3% of principal residence mortgages were in arrears by more than 90 days.  By Q3 2013 this had peaked at 12.9% (99,189 mortgages), with 18.4% in some level of arrears (141,520) (Central Bank 2016).  
            
                //- fig5
                #home-mortgage-arrears-chart.mb-2.mt-5
                .something
                  p  With respect to buy-to-let mortgages, 21.2% (31,227) were in arrears of more than 90 days, with 27.4% (40,426) in some level of arrears in Q3 2013.  
                //- fig6
                #btl-mortgage-arrears-chart.mb-2.mt-5
                .something
                  p  And as house prices dropped, the number of households in negative equity grew to include more than 50% of residential properties with a mortgage.
                  p  Similarly, rent arrears to local authorities, borough and town councils increased from €32.8m in January 2008 to €58.5m in December 2011 as tenants struggled to pay their bills.
                  
                  p  The huge house price rises in the Celtic Tiger years, followed by the financial pressures of the crash, had significant spillover effects with respect to social housing demands and homelessness.  In 1999 there were 39,176 households on the social housing waiting list, rising to 48,413 in 2002, 56,249 in 2008, and 98,318 in 2011.  The vast majority of people on the list are because they cannot afford private rental accommodation or to purchase.
                  //- fig7
                #social-housing-wait-chart.mb-2.mt-5 
                .something
                  p  The austerity programme implemented by two governments from 2008 onwards dramatically reduced state investment in social housing. The capital expenditure for social housing was reduced by 80% (from €1.3bn to €275m) between 2008 and 2013 and funding for the National Regeneration Programme reduced from €121 million in 2008 to €80 million in 2013 a 34% reduction.  
                  p  Between 2008 and 2013, 10,745 social housing units were built (nearly all – 8,267 – in 2008-09, much of it replacement stock in regeneration schemes), 3,293 were acquired through purchase and 8,707 long-term leases were acquired through RAS (see earlier graph).  While some stock was being built or acquired then, social housing needs were outstripping the state’s ability to supply suitable affordable accommodation.  
                  p  The shortfall in social housing is made-up through privately rented accommodation subsidized by rent supplement.  97,260 households were receiving rent supplement in late 2010, an increase of 63% on the previous three years, with spending rising from €70 million in the mid-1990s to €516.5 million in 2010.  
                  //- fig8
                #rent-suppliment-chart.mb-2.mt-5
              
                .something
                  p  Even with the state providing social housing or rent supplement, the financial and other pressures placed onto individuals and households during the crash saw a rise in homelessness: between 2008 and 2011 the number of homeless households increased by 68% to 2,348, with 3,808 people in accommodation for the homeless. 
                  p  Further, much social housing stock was acknowledged to be in poor condition.  Prior to the crash the decision was to taken for large-scale regeneration schemes in North Dublin (Ballymun) and other Dublin estates using public-private partnerships (PPPs). These PPP schemes collapsed with the crash as both private and public finances evaporated.  This left thousands of local authority tenants living in substandard conditions whilst awaiting re-location and many hundreds permanently relocated in preparation for regeneration.
                  //- fig9
                #ppp-schemes-chart.mb-2.mt-5  
                .something
                  p At the same, planned investment in Traveller accommodation nationally also stalled during this period, with 361 Traveller families living on unauthorised sites, 2717 in private rented accommodation, and 663 in shared housing in 2013 (DECLG 2016). 
                  //- fig10
                #traveller-accomodation-chart.mb-2.mt-5

              //- //- article#phase3.col-md-8.py-5
              //- //-   h2.mt-5.mb-4 Crisis phase 3: 2013- (post-crash)
              //- //-   .something
              //- //-     p  The levelling off in the fall in house prices, followed by a gradual and then rapid increase of prices in Dublin (rising by 24.1% between October 2012 and 2013, before levelling off again in response to Central Bank interventions), is indicative of a new phase in the ongoing housing crisis.
              //- //-     p  This phase sees the continuation of serious problems of phase 2, such as social housing need, private rent rises, mortgage arrears, negative equity, unfinished estates, but varying levels of change depending on the extent to which solutions are put in place and the wider economy starts to recover.  For example, there was large-scale dezoning of serviced zoned land.  By Q2 2018 mortgage accounts remaining in arrears had dropped to XXX (XX per cent), with XXX in arrears for more than 90 days (XX per cent). With respect to buy-to-let (BTL) mortgages, XX (XX per cent) were in arrears, with XX (XX per cent) in arrears of more than 90 days. (update figures based on tabs 8 & 9 - see earlier graph)
              //- //-     p  The new or deepening crises in this period are a lack of supply in some areas and associated rising housing and rental prices, continued problems of social housing provision, and rising homelessness in response to a changing rental market.  
              //- //-     p  Whilst there was oversupply in every single local authority nationwide for both houses and apartments (with the exception of South Dublin for houses) in 2011, the extent of this oversupply varied geographically. Much of rural Ireland had extensive levels of vacancy. In Dublin, the overall vacancy rate for the four local authorities was 8.4% (44,468 units).  While the vacancy rate of houses was low, the vacancy rate for apartments was 16-19% (see earlier graph).
              //- //-     p  Despite emigration during the crash (see graph elsewhere in dashboard), population and households have been growing in Dublin through natural increase, labour migration, and household fragmentation (see earlier graph). The levelling off of prices instilled confidence that the bottom of the market had been reached.  In combination, the result was an increase in demand by investors trying to maximize return on investment and rental yields and households looking to enter the market.  What oversupply there was in the capital was thus absorbed.
              //- //-     p  With respect to new supply, however, construction has remained moribund.  Between January 2012 and December 2017 only XXX units were built nationwide, XXX of which were in Dublin (see earlier graph). Assessments by both the Housing Agency and the Economic Social Research Institute (ESRI) suggest that c.8000 units are required per annum in the four Dublin LAs.  This is a very modest figure that is significantly below pre-crash construction rates and is unlikely to quell present demand.
              //- //-     p  The effect of very little new supply for either purchase or rent, but rising demand, has led to the inflation of prices.  XXX
              //- //-   .mb-2.mt-5
              //- //-   .something
              //- //-     p  One the effects of rent increases is that families who are income insecure – low wage, uncertain hours, flexible working, dependent on welfare – who reside in private rental accommodation cannot afford rent increases and rent supplement is not sufficient to cover the gap, with more than half of those receiving rent supplement having to top up their rent.  Consequently, they are being priced out of their homes in favour of those who can afford the new rental price. These families find it difficult to find alternative private rented accommodation due to rent inflation across the rental sector and landlord preferences for tenants not reliant on rent supplement.  With no social housing available, these families find themselves homeless.
              //- //-     p  [Update figures] Nationally, the Simon Community reported that in 2012, there was an increase of 24 per cent in those using their services, to over 5,000 individuals (Irish Times 2014b).  The Dublin Region Homeless Executive detail that in 2015 a total of 5,480 adult individuals accessed homeless accommodation during 2015 in Dublin (DRHE 2016a).  As of January 2016, there were 769 families homeless in Dublin living in emergency homeless accommodation (DRHE 2016b).
              //- //-   .mb-2.mt-5
              //- //-   .something
              //- //-     p  Without a significant increase in the level of supply competition for property continues to intensify, with rising purchase and rental prices and increasing homelessness.  
              //- //-     p  In theory, a lot of the right criteria for creating supply exist. There is an excess of demand; there was 6,400 acres of zoned serviced land available in the four Dublin authorities for 132,000 units in 2014 (see earlier map) and there are a lot of outstanding planning permissions still in effect and local authorities want to give permission for developments that meet development plan/zoning criteria [data?].
              //- //-     p  Yet despite these conditions and the need to create supply it is clear that a hangover from phase 2 of the crisis is blocking development. The state’s finances are limited, there are competing demands for scarce resources, and they are reluctant to significantly increase capital spending on housing and associated infrastructure. The banks are in a weak state and reluctant to lend for development. Builders and developers have limited initial capital to draw down additional finance. With respect to land, it may be the case that owners are reluctant to put into development because they bought it in the boom and cannot afford to develop at present housing prices. With respect to planning, it may be that developers are seeking permissions that contravene development plans or are trying to alter existing permissions.  The property industry also argues that the system needs streamlining and simplifying.  
                
              //- //- article.col-md-8.py-5
              //- //-   h2 Conclusion
              //- //-   .something
              //- //-     p  The last twenty five years has seen a tumultuous set of changes with regards to Ireland’s housing sector and market.  Throughout the entire period it has been transitioning through three phases of crisis. 
              //- //-     p  In the first phase, there were crises of creating enough supply, very quickly rising prices to levels that were unaffordable for low and middle income households and reduced competitiveness, a significant increase in household debt and bank debt to precarious levels, over-zoning of land and dramatic price increases, the expansion of urban sprawl and long distance commuting. 
              //- //-     p  In the second phase, the property bubble burst, the fallout was catastrophic for households, the state, and the wider economy.  House prices plunged, estates remained unfinished, households were faced with extensive mortgage arrears and negative equity and/or poor build quality, the social housing waiting list extended, and more households became homeless. 
              //- //-     p  In the third phase, instead of the market returning and fixing the problems, there has been uneven mopping up of oversupply and little new supply of housing units. This has driven up purchase and rental prices in the cities and also created rising homelessness. This present phase is likely to last a number of years and is unlikely to address issues that have persisted since the 1990s, such as housing (to buy or rent) becoming increasingly unaffordable for ordinary citizens.
                
              article.col-md-8.py-5
                h2 Acknowledgement
                .something
                  p  This extended data story is an updated and modified version Kitchin, R., Hearne, R. and O’Callaghan, C. (2016) Housing. In Roche, W.K., O’Connell, P. and Prothero, A. (eds) Austerity and Recovery in Ireland: Europe’s Poster Child and the Great Recession. Oxford University Press. pp. 272-289.

              article.col-md-8.pb-5
                h2 Reference
                .something
                  p <sup>1</sup> O’Toole, F. 2009. Ship of Fools: How Stupidity and Corruption Sank the Celtic Tiger. London: Faber and Faber.
                  p <sup>2</sup> https://www.housingagency.ie/Our-Services/Unfinished-Housing-Developments.aspx. 
                  p <sup>3</sup> Central Statistics Office, CSO. 2008. Construction and Housing in Ireland. Available at: 
                    a( href="http://www.cso.ie/en/media/csoie/releasespublications/documents/construction/current/constructhousing.pdf" target="blank") www.cso.ie
                  p <sup>4</sup> O’Riain, S. 2014. The Rise and Fall of Ireland’s Celtic Tiger: Liberalism, Boom, and Bust Cambridge: Cambridge University Press.
                  p <sup>5</sup> Savills HOK 2007. Values Approach €60,000 Hectare. Irish Agricultural Land Research May. 
                  p <sup>6</sup> O’Toole, F. 2009. Ship of Fools: How Stupidity and Corruption Sank the Celtic Tiger. London: Faber and Faber.
                  p <sup>7</sup> Honohan, P. 2010. The Irish Banking Crisis: Regulatory and Financial Stability Policy 2003 – 2008.  Irish Central Bank. 
                    | Available at:  
                    a(href="http://www.bankinginquiry.gov.ie/the%20irish%20banking%20crisis%20regulatory%20and%20financial%20stability%20policy%202003-2008.pdf" target="blank") www.bankinginquiry.gov.ie

block append scripts
  script(src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" type="text/javascript")
  script(src="/lib/d3v5/d3.js" type="text/javascript")
  script(src="https://cdn.plot.ly/plotly-latest.min.js" type="text/javascript")
  script(src="/javascripts/charts/plotly/plotly_config_stories.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing2-fig1.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing2-fig2.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing2-fig5.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing2-fig6.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing2-fig7.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing2-fig8.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing2-fig9.js" type="text/javascript")
  
  
  //- script(src="/javascripts/charts/bcd-chart.js" type="text/javascript")
  //- script(src="/javascripts/charts/multiline-chart.js" type="text/javascript")
  //- script(src="/javascripts/charts/groupedbar-Chart.js" type="text/javascript")
  //- script(src="/javascripts/charts/stackedareaChart.js" type="text/javascript")
  //- script(src="/javascripts/charts/stackbarChart.js" type="text/javascript")
  //- script(src="/javascripts/charts/grouped-stack.js" type="text/javascript")
  //- script(src="/javascripts/stories/housing_crisis_2.js" type="text/javascript")
