extends ../layout

block append head
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/lib/plotly.css')
    link(rel='stylesheet', href='/stylesheets/stories/housing.css')
    link(rel='stylesheet', href='/stylesheets/maplegend.css')
    link(rel='stylesheet', href='/stylesheets/base-style.css')

block navigation
    

block content
  .content.bg-dark-blue
    header.header.mt-5.py-5
      .container
        .position-anchor#phase1-top.row.justify-content-md-center
          //-.col-md-8
          .col-md-12
            a(href="/stories").backlink Back to All Stories
            h1.mt-5.mb-4 Housing in the Dublin Region, 1991 to Present
            h2.mb-5.mt-4 Phase 1 - 1991-2003 (The Celtic Tiger years)
            img(class="story-image" src="/images/stories/house_crisis.jpg" alt="")
            section.position-anchor#phase1-intro
              .div(style="margin-top:30px")
                p Housing in Dublin, and Ireland more generally, is a significant issue and a live political debate. This data story examines housing in the capital through the housing and planning data available for the city. There are two things to keep in mind in terms of understanding housing: 
                p First, it is a complex issue that involves a number of factors and outcomes including housing supply and demand (including homelessness), existing stock and type (social/private/rental, vacancy), house and rental prices, mortgage arrears and negative equity, access to land,  access to credit, planning permissions, homelessness, unfinished estates, land supply and price.
                p Second, making sense of the present situation requires placing it in historical context. It is possible to make the case that housing in Ireland has been in crisis since the early 1990s and the start of the Celtic Tiger. Consequently, we have structured this data story into three parts corresponding to the three phases of the crisis: 
                    
                ul
                  li 
                    a(href="#phase1") Phase 1: 1993-2006 (the Celtic Tiger years); 
                  li 
                    a(href="housing-dublin-phase-2#phase2") Phase 2: 2007-2012 (the crash); 
                  li 
                    a(href="housing-dublin-phase-3#phase3") Phase 3: 2013-present (post-crash).
  
    section
      .container
        article#phase1-content
          #phase1-1-heading
          .position-anchor
            h2.mt-5.mb-5 Population and households surged from 1991 - 2006, increasing housing demand
          #phase1-1
            p Between April 1991 and April 2006, the population of Ireland increased by 704,129, an increase of 20%. The number of households increased by 440,437, which is a 43% rise. In Dublin and its surrounding counties, population and households increased more dramatically, with households almost doubling in Fingal and Kildare and Meath Counties.
          #chart-and-source
            #population-households-chart1.plotly-chart-medium
            .data-source data source: <a href="https://www.cso.ie/px/pxeirestat/statire/SelectTable/Omrade0.asp">CSO Statbank</a>
          //- p.small.text-center Figure 1: Growth in population and households 1991-2016.
          #phase1-2-heading
          .position-anchor
            h2.mt-5.mb-5 Dublin area housing type diversity also increased
          #phase1-2
            p Growth in population and households meant strong demand for housing and a need to produce a more diversified housing stock that would cater for households of various types and sizes.    
            //- In Dublin 4 LAs?
          #chart-and-source
            #housing-types-chart.plotly-chart-medium
            .data-source data source: <a href="https://www.cso.ie/px/pxeirestat/statire/SelectTable/Omrade0.asp">CSO Statbank</a>
          //- p.small.text-center Figure 2: Housing types.
          #phase1-3-heading
          .position-anchor
            h2.mt-5.mb-5 Housing unit completions outnumbered new households
          #phase1-3
            p Between January 1991 and December 2006, 762,631 housing units were completed in Ireland, peaking with 93,419 units being built in 2006 alone.  Between 1994 and 2006, 154,803 housing units were built in the four Dublin authorities and 84,688 three surrounding counties.
            p More units were being built nationally than there were households being formed, especially in the period 2002-2006 (296,000 units built vs 181,563 households<sup>1</sup>).
          #chart-and-source
            #housing-completions-chart.plotly-chart-medium
            .data-source data source: <a href="https://www.cso.ie/px/pxeirestat/statire/SelectTable/Omrade0.asp">CSO Statbank</a>
          //- p.small.text-center Figure 3: Number of housing completions 1991-2018, Dublin, Kildare, Meath, Wicklow & National.
          #phase1-4-heading
          .position-anchor
            h2.mt-5.mb-5 New and second-hand home prices rose dramatically
          #phase1-4
            p Despite housing completions running ahead of household growth, house prices grew dramatically.  The average new house price rose from €78,715 in Dublin and €66,914 for the country as a whole in 1991, to €416,225 in Dublin (a 429% increase) and €322,634 for the country as a whole (a 382% increase) in 2007.  Secondhand homes followed the same trend, with homes in Dublin rising by 551% and 489% outside the capital. 
          #chart-and-source
            #property-price-growth-chart.plotly-chart-medium
            .data-source data source: <a href="https://www.cso.ie/px/pxeirestat/statire/SelectTable/Omrade0.asp">CSO Statbank</a>
          //- p.small.text-center Figure 4: Property price growth for Dublin/National.
          #phase1-5-heading
          .position-anchor
            h2.mt-5.mb-5 Cost versus wage discrepancy increased mortgage debt
          #phase1-5
            p Wages, however, did not increase at the same rate. In 1995, the average secondhand house price was 4.1 times the average industrial wage. But 2007, house prices were 11.9 times the average industrial wage.<sup>2</sup> 
            p The rapid rise in prices meant that the total value of household mortgage debt increased dramatically, from €47.2 billion in 2002 to over €139.8 billion at the end of 2007, with the average size of a new mortgage (€266,000) nearly double the 2002 figure.<sup>3</sup> 
          #chart-and-source
            #mortgage-debt-chart.plotly-chart-medium
            .data-source data source: <a href="http://www.eirestat.cso.ie/releasespublications/documents/construction/current/constructhousing.pdf">Central Bank and Financial Services Authority of Ireland</a>
          //- p.small.text-center Figure 5: Residential mortgage debt.
          #phase1-6-heading
          .position-anchor
            h2.mt-5.mb-5 Investment in new social housing decreased 
          #phase1-6
            p State investment in social housing was waning whilst demand was growing, with a turn to the private sector to provide accommodation through a rent supplement scheme.  Between 1994 and 2007 47,769 social housing units were built in Ireland, plus between 1999 and 2007 9,378 were acquired through purchase and 1,201 long-term leases acquired through the Rental Accommodation Scheme (RAS).  At the same time 22,633 local authority units were sold to tenants (many of these funded by mortgages provided by local authorities, a large proportion of which are now in arrears). 
            p Some social housing built during the 1950s was coming to the end of its life needing either substantial refurbishment or replacement.
          #chart-and-source
            #social-housing-units-build-chart.plotly-chart-medium
            .data-source data source: <a href="https://www.cso.ie/px/pxeirestat/statire/SelectTable/Omrade0.asp">CSO Statbank</a>
          
          #phase1-7-heading
          .position-anchor
            h2.mt-5.mb-5 High prices led to more renting, less social housing
          #phase1-7
            p As property prices grew and social house building waned, the nature of housing tenure started to change with a relative shrinking of owner-occupers and social housing, and a corresponding growth in privately rented accommodation. 
          #chart-and-source
            #social-housing-units-stock-chart.plotly-chart-medium
            .data-source data source: <a href="https://www.cso.ie/px/pxeirestat/statire/SelectTable/Omrade0.asp">CSO Statbank</a>
          //- p.small.text-center Figure 6: Social housing stock vs private vs rented.
          #phase1-8-heading
          .position-anchor
            h2.mt-5.mb-5 Urban prices drove sprawl and long-distance commuting
          #phase1-8
            p Given the cost of housing, households who wished to buy a home but who had limited resources were forced to either buy property that did not suit their future needs with the aim of trading up later, borrowing beyond their means, or buying in an area further away and commuting. The latter lead to extensive urban sprawl and the growth of smaller towns around the principle cities and towns.
          #chart-and-source
            #commuter-map.chart.leaflet-container.leaflet-retina.leaflet-fade-anim.mt-5
            .data-source data source: <a href="https://www.cso.ie/en/census/census2016reports/powscar/">CSO POWSCAR</a>
          .position-anchor
            h6(style="margin-top: 4rem") Next part: 
              a(href="housing-dublin-phase-2#phase2") Phase 2: 2007-2012 (the crash)
          //- div(id="commuter-map" class="chart leaflet-container leaflet-retina leaflet-fade-anim my-3" tabindex="0" style="position: relative; height: 400px; width: 100%;")
            //- p.small.text-center Figure 8: Map of EDs with percentage of commuters travelling to Dublin to work.
                <br>*Excludes workforce where destination was classed as 'Blank' or 'Mobile'. **Destination is based on CSO Settlement boundaries.
            //-.position-anchor#phase1-8
            //-p Somewhat ironically, all of these changes were celebrated by the government, the construction sector, and the media during the Celtic Tiger era.  They were taken as a sign that Ireland was catching up with the rest of the developed West in terms of its economy and property sector.  It was suggested that a virtuous circle had been created whereby people stepping onto the property ladder were immediately gaining the benefit in their prime asset rising in price, and moreover they had more choice in housing options than ever before; the government was collecting significant tax revenue (VAT, capital gains tax, stamp duty, development levies) that could be re-invested into improved services and infrastructure; and the property and banking sector were flourishing whilst helping to bring in overseas investment.  
            //-#property-tax-chart.plotly-chart-medium
                //- p.small.text-center Figure 9: Property tax revenue.
            //-.position-anchor#phase1-9
            //-p Whilst price rises were staggering, potential purchasers and investors were assured that there was still plenty of scope for further expansion.  Naysayers were told that the worst that could happen was a 'soft landing', wherein prices levelled off to modest growth, and construction slowed in pace.
            //-p But the bubble did burst, with devastating consequences for citizens, companies and the state.
         
        //-article.col-md-8.py-5
        .position-anchor#phase1-acknowledgement
          h2.mt-5.mb-4 Acknowledgement
        .div
          p This extended data story is an updated and modified version Kitchin, R., Hearne, R. and O’Callaghan, C. (2016) Housing. In Roche, W.K., O’Connell, P. and Prothero, A. (eds) Austerity and Recovery in Ireland: Europe’s Poster Child and the Great Recession. Oxford University Press. pp. 272-289.

        //-article.col-md-8.pb-5
        .position-anchor#phase1-references
          h2.mt-5.mb-4 References
        .div
          p <sup>1</sup> Household data is taken from the Census, which runs April 2002 – April 2006). Completions data has been estimated based on two thirds of 2002 and one third 2006 to approximate April dates.
          p <sup>2</sup> Brawn, D. 2009. Ireland’s House Party: What Estates Agents Don’t Want You to Know Dublin: Gill and Macmillan. 
          p(style='padding-bottom: 1rem; margin-bottom: 0px') <sup>3</sup> Central Statistics Office, CSO. 2008. Construction and Housing in Ireland. Available at: 
            a( href="http://www.cso.ie/en/media/csoie/releasespublications/documents/construction/current/constructhousing.pdf" target="blank") www.cso.ie

block append scripts
  script(src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" type="text/javascript")
  script(src="/lib/d3v5/d3.js" type="text/javascript")
  script(src="https://cdn.plot.ly/plotly-latest.min.js" type="text/javascript")
  script(src="/javascripts/charts/plotly/plotly_config_stories.js" type="text/javascript")

  //- script(src="/javascripts/charts/plotly/plotly_mode_bar_buttons.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing1-fig1.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing1-fig2.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing1-fig3.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing1-fig4.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing1-fig5.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing1-fig6.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing1-fig7.js" type="text/javascript")
  script(src="/javascripts/stories/housing/story-housing1-fig8.js" type="text/javascript")
  //script(src="/javascripts/stories/housing/story-housing1-fig9.js" type="text/javascript")
  script(src="/javascripts/charts/plotly/plotly_resize_fix.js" type="text/javascript")

  //- script(src="/javascripts/charts/multiline-chart.js" type="text/javascript")
  //- script(src="/javascripts/charts/groupedbar-Chart.js" type="text/javascript")
  //- script(src="/javascripts/charts/stackedareaChart.js" type="text/javascript")
  //- script(src="/javascripts/charts/stackbarChart.js" type="text/javascript")
  //- script(src="/javascripts/charts/grouped-stack.js" type="text/javascript")
  //- script(src="/javascripts/stories/housing_crisis.js" type="text/javascript")
