
#about-dublin-dashboard.col-lg-12.p-5 
  .row
    #about-dd-title.col-6.p-0.pb-1  
      h2.m-0.p-0 About the Dublin Dashboard
    #twitter-follow.col-6.p-0  
      <a class="twitter-follow-button m-0 p-0" href="https://twitter.com/DublinDashboard" data-size="small"> Follow @DublinDashboard on Twitter</a>
  .row
    div#about-dublin-dashboard-text.p-0
      p Dublin Dashboard provides citizens, public sector workers and companies with real-time information, time-series indicator data, and interactive maps about all aspects of the city. It enables users to gain detailed, up to date intelligence about the city that aids everyday decision making and fosters evidence-informed analysis.
      p The Dublin Dashboard pulls together data from major data sources -- including   Dublin City Council, Dublinked, Central Statistics Office, Eurostat, and government departments, and links to a variety of existing applications -- to provide thousands of interactive data visualisations. The underlying data is freely available so others can undertake their own analysis and build their own applications and visualisations.
      
      
      
  
