mixin card-chart(style, Header, title, text, Chartid)
  div(class=style)
    .card__header=Header
      span(class="card__icon" data-toggle="tooltip" data-placement="top" data-original-title=text)
        svg(class="card__svg" width="14px" height="14px" viewBox="0 0 24 24")
          g.card__g
            circle(cx="12" cy="12" r="12")
    .card__body.card-graph
      div(id=Chartid class="line-chart" width="205" height="70")