mixin card-chart(href, style, Header, title, Chartid)
  a(href=href class="card__link")
    div(class=style)
      .card__header=Header
      .card__body.card-graph
        div(id=Chartid class="line-chart" width="205" height="70")