mixin card-time(href, style, Header, title, Chartid)
  a(href=href class="card__link")
    div(class=style)
      .card__header
      .card__body.card-graph
        div(id=Chartid width="205" height="70")
           .container-fluid
                .row
                    #card-center.col-12
                    
                        
                    
