mixin card-time(href, style, Header, title, Chartid)
  a(href=href class="card__link")
    div(class=style)      
        #clock.span
          h2 4.02 pm
                        
                    
