mixin card-time(href, style, Header, title, Chartid)
  a(href=null class="card__link")
    div(class=style)      
      .card__header='Dublin Time'
      #clock.card__body
        #clock-day.col-6.pr-3.pl-0
        #clock-time.col-6.pl-3.pr-0
