#hero-weather__box
    #hero-weather__left
        #hero-weather__left-top -- C
        #hero-weather__left-bottom
          #hero-weather__left-bottom__icon
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.999 511.999" xml:space="preserve">
                <g>
                  <g>
                     <path d="M334.473,153.604c-11.95-22.655-24.306-46.082-35.216-69.18c-1.77-3.746-6.24-5.349-9.985-3.578c-3.746,1.769-5.348,6.239-3.579,9.984c11.051,23.396,23.486,46.972,35.512,69.771c36.813,69.794,71.583,135.716,71.583,199.6c0,36.618-14.281,71.023-40.212,96.878c-25.83,25.753-60.111,39.92-96.575,39.92c-0.139,0-0.28-0.001-0.418-0.001c-36.214-0.107-70.452-14.611-96.405-40.84c-26.048-26.324-40.241-60.87-39.964-97.275c0.481-63.488,35.016-128.962,71.578-198.28C215.792,113.206,241.64,64.2,256,15.26c4.024,13.715,9.042,27.842,15.336,43.179c1.572,3.832,5.954,5.66,9.786,4.091c3.832-1.573,5.664-5.954,4.091-9.786c-6.137-14.952-11.011-28.684-14.9-41.979C268.428,4.326,262.671-0.001,255.986,0c-6.671,0-12.416,4.317-14.294,10.742c-13.917,47.591-39.463,96.024-64.168,142.863c-35.791,67.856-72.8,138.023-73.31,205.165c-0.307,40.424,15.427,78.758,44.302,107.939c28.781,29.086,66.79,45.17,107.023,45.289c0.156,0,0.308,0.001,0.464,0.001c40.459-0.002,78.503-15.722,107.164-44.298c28.775-28.689,44.622-66.866,44.622-107.5C407.789,292.605,370.517,221.941,334.473,153.604z" />
                  </g>
                </g>
            </svg>
          #hero-weather__left-bottom__text -- mm/h
    #hero-weather__center
        #hero-weather__symbol
        #hero-weather__tooltip.tooltiptext Weather
      
          
    #hero-weather__right
        #hero-weather__right-top
          #hero-weather__right-top__icon 
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 331.309 331.309" style="enable-background:new 0 0 331.309 331.309;" xml:space="preserve">
              <g>
                <g>
                  <g>
                    <path d="M49.425,143.993h138.344c19.952,0,36.184-16.232,36.184-36.184c0-19.952-16.231-36.185-36.184-36.185c-19.953,0-36.185,16.232-36.185,36.185c0,0.737,0.099,1.45,0.266,2.136c0.96,3.938,4.501,6.864,8.734,6.864c4.971,0,9-4.029,9-9c0-10.027,8.157-18.185,18.185-18.185c10.026,0,18.184,8.158,18.184,18.185c0,10.027-8.157,18.184-18.184,18.184H86.227H49.425c-4.971,0-9,4.029-9,9S44.454,143.993,49.425,143.993z"/><path d="M270.532,187.315H132.188c-4.971,0-9,4.029-9,9s4.029,9,9,9h36.803h101.541c10.027,0,18.185,8.157,18.185,18.184c0,10.027-8.157,18.185-18.185,18.185c-10.028,0-18.185-8.158-18.185-18.185c0-4.971-4.029-9-9-9c-4.233,0-7.774,2.926-8.734,6.864c-0.167,0.686-0.266,1.399-0.266,2.136c0,19.952,16.232,36.185,36.185,36.185s36.185-16.232,36.185-36.185S290.484,187.315,270.532,187.315z"/><path d="M282.81,79.094c-26.743,0-48.5,21.756-48.5,48.499c0,4.971,4.029,9,9,9s9-4.029,9-9c0-16.817,13.683-30.499,30.5-30.499c16.817,0,30.499,13.682,30.499,30.499c0,16.817-13.682,30.5-30.499,30.5H9c-4.971,0-9,4.029-9,9c0,4.971,4.029,9,9,9h273.81c26.742,0,48.499-21.757,48.499-48.5C331.309,100.849,309.552,79.094,282.81,79.094z"/>
                    <path d="M104.743,187.315H87.785c-4.971,0-9,4.029-9,9s4.029,9,9,9h16.958c4.971,0,9-4.029,9-9S109.714,187.315,104.743,187.315z"/><path d="M21.987,143.993h3.334c4.971,0,9-4.029,9-9s-4.029-9-9-9h-3.334c-4.971,0-9,4.029-9,9S17.017,143.993,21.987,143.993z"/>
                  </g>
                </g>
              </g>
            </svg>
            
          #hero-weather__right-top__text --
        #hero-weather__right-bottom -- kph 
