.row.mb-5
  .col-xl-3.col-sm-6.mb-3
    .card.text-white.o-hidden.border-blue.p-3
      .card-body.card-graph
        .mr-5
          | Real Time Data Vis
        #rt-chart1.line-chart(width='205', height='70')
        //- a(href='#')
        //-   span.float-left See More
        //-   span.float-right
        //-     i.fa.fa-angle-right

  .col-xl-3.col-sm-6.mb-3
    .card.text-white.o-hidden.border-yellow.p-3
      .card-body.card-graph
        .mr-5
          | Real Time Data Vis
        #rt-chart1.line-chart(width='205', height='70')
        //- a(href='#')
        //-   span.float-left See More
        //-   span.float-right
        //-     i.fa.fa-angle-right

  .col-xl-3.col-sm-6.mb-3
    .card.text-white.o-hidden.border-teal.p-3
      .card-body.card-graph
        .mr-5
          | Real Time Data Vis
        #rt-chart1.line-chart(width='205', height='70')
        //- a(href='#')
        //-   span.float-left See More
        //-   span.float-right
        //-     i.fa.fa-angle-right

  .col-xl-3.col-sm-6.mb-3
    .card.text-white.o-hidden.border-red.p-3
      .card-body.card-graph
        .mr-5
          | Real Time Data Vis
        #rt-chart1.line-chart(width='205', height='70')
        //- a(href='#')
        //-   span.float-left See More
        //-   span.float-right
        //-     i.fa.fa-angle-right
    