include card-chart

div(class="tab-content" id="nav-tabContent")
  button.arrow-left
    +svg("","icon__arrow")(class="icon icon-arrow")
  button.arrow-right
    +svg("","icon__arrow")(class="icon icon-arrow")
  div(class="tab-pane tab-charts fade show active" id="nav-all")
    .row.tab-charts__row
      .col-xl-3.col-sm-6
        +card-chart("card text-white o-hidden border-blue", "Dublin Median House Prices", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
        +card-chart("card text-white o-hidden border-yellow", "Weather Dublin", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart2")
      .col-xl-3.col-sm-6
        +card-chart("card text-white o-hidden border-teal", "M50 Traffic times", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart3")
        +card-chart("card text-white o-hidden border-red", "Bike Usage", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart4")
      .col-xl-3.col-sm-6
        +card-chart("card text-white o-hidden border-blue", "Dublin Median House Prices", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart5")
        +card-chart("card text-white o-hidden border-yellow", "Weather Dublin", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart6")
      .col-xl-3.col-sm-6
        +card-chart("card text-white o-hidden border-teal", "M50 Traffic times", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart7")
        +card-chart("card text-white o-hidden border-red", "Bike Usage", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart8")
      //- .col-xl-3.col-sm-6
      //-   +card-chart("card text-white o-hidden border-blue", "Dublin Median House Prices", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
      //-   +card-chart("card text-white o-hidden border-yellow", "Weather Dublin", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart2")
      //- .col-xl-3.col-sm-6
      //-   +card-chart("card text-white o-hidden border-teal", "M50 Traffic times", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart3")
      //-   +card-chart("card text-white o-hidden border-red", "Bike Usage", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart4")
      //- .col-xl-3.col-sm-6
      //-   +card-chart("card text-white o-hidden border-blue", "Dublin Median House Prices", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
      //-   +card-chart("card text-white o-hidden border-yellow", "Weather Dublin", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart2")
      //- .col-xl-3.col-sm-6
      //-   +card-chart("card text-white o-hidden border-teal", "M50 Traffic times", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart3")
      //-   +card-chart("card text-white o-hidden border-red", "Bike Usage", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart4")

  //- div(class="tab-pane tab-charts fade" id="nav-demographics")
  //-   .row.tab-charts__row
  //-     .col-xl-3.col-sm-6
  //-       +card-chart("card text-white o-hidden border-blue", "Dublin Demographics", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
  //-     .col-xl-3.col-sm-6
  //-       +card-chart("card text-white o-hidden border-blue", "Dublin Demographics", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
  //-     .col-xl-3.col-sm-6
  //-        +card-chart("card text-white o-hidden border-blue", "Dublin Demographics", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
  //-     .col-xl-3.col-sm-6
  //-       +card-chart("card text-white o-hidden border-blue", "Dublin Demographics", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
  //-     .col-xl-3.col-sm-6
  //-       +card-chart("card text-white o-hidden border-blue", "Dublin Demographics", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
        
  //- div(class="tab-pane tab-charts fade" id="nav-economy")
  //-   .row.tab-charts__row
  //-     .col-xl-3.col-sm-6
  //-       +card-chart("card text-white o-hidden border-red", "Dublin Economy", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
  //-     .col-xl-3.col-sm-6
  //-       +card-chart("card text-white o-hidden border-red", "Dublin Economy", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
  //-     .col-xl-3.col-sm-6
  //-        +card-chart("card text-white o-hidden border-red", "Dublin Economy", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
  //-     .col-xl-3.col-sm-6
  //-       +card-chart("card text-white o-hidden border-red", "Dublin Economy", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
  //-     .col-xl-3.col-sm-6
  //-       +card-chart("card text-white o-hidden border-red", "Dublin Economy", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
  //-     .col-xl-3.col-sm-6
  //-       +card-chart("card text-white o-hidden border-red", "Dublin Economy", "test", "Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Example of a popover for data at a glance.", "rt-chart1")
      
  //- div(class="tab-pane tab-charts fade" id="nav-environment")
  //- div(class="tab-pane tab-charts fade" id="nav-health")
  //- div(class="tab-pane tab-charts fade" id="nav-housing")
  //- div(class="tab-pane tab-charts fade" id="nav-transport")

//- .row.mb-5.mt-2
//-   .col-md-12.justify-content-md-center
//-    nav.nav.nav-pills.nav-fill
//-     a(class="nav-item tab-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all") All
//-     a(class="nav-item tab-link" id="nav-transport-tab" data-toggle="tab" href="#nav-transport") Transport
//-     a(class="nav-item tab-link" id="nav-environment-tab" data-toggle="tab" href="#nav-environment") Environment
//-     a(class="nav-item tab-link" id="nav-economy-tab" data-toggle="tab" href="#nav-economy") Economy
//-     a(class="nav-item tab-link" id="nav-housing-tab" data-toggle="tab" href="#nav-housing") Housing
//-     a(class="nav-item tab-link" id="nav-education-tab" data-toggle="tab" href="#nav-education") Education
//-     a(class="nav-item tab-link" id="nav-health-tab" data-toggle="tab" href="#nav-health") Health
//-     a(class="nav-item tab-link" id="nav-demographics-tab" data-toggle="tab" href="#nav-demographics") Demographics
    
    
    