include card-chart 
include card-rt
include card-time

div(class="tab-content" id="nav-tabContent")
  button.arrow-left
    +svg("","icon__arrow")(class="icon icon-arrow")
  button.arrow-right
    +svg("","icon__arrow")(class="icon icon-arrow")
  div(class="tab-pane tab-charts fade show active" id="nav-all")
    .row.tab-charts__row
      #bikes-card
        //.col-11
        +card-rt("themes#dublin-bikes", "card text-white o-hidden border-yellow", "Dublin Bikes", "test", "rt-bikes")
      #traveltimes-card 
        //.col-11
        +card-rt("queries#dublinbikes", "card text-white o-hidden border-yellow", "Motorway Travel Times", "test","rt-travelTimes")
  
      #apd-card
        //.col-11
        +card-chart("themes#population", "card text-white o-hidden border-blue", "Population", "test","pr-glance", "../images/calendar-w.svg")

      #emp-card 
        //.col-11
        +card-chart("themes#employment", "card text-white o-hidden border-blue", "Unemployment Count", "test", "test-glance", "../images/calendar-w.svg")  

      #app-card
        //.col-11
        +card-chart("themes#property-price-monthly", "card text-white o-hidden border-blue", "Property Price Index", "test", "ap-glance", "../images/calendar-w.svg")
        //- stack area chart with just population. 
      #huc-card
        //.col-11
        +card-chart("themes#unitscompmonth", "card text-white o-hidden border-blue", "House Unit Completions", "test","hc-glance", "../images/calendar-w.svg")
