//- need to update with mixins for uls similar to the side menu using the same subc-menu component
footer.footer
  .footer-widgets.content-wrapper--blackblue.py-5
    .container
      .row
        .col-md-12
        .col-md-8.footer-nav
          .row
            .col-sm-3.col-6
              a(href="/themes")
                h6 Themes
              ul.list-unstyled.small
                li
                  a.footer-link(href="/themes#transport") Transport
                li
                  a.footer-link(href="/themes#environment") Environment 
                //li
                  a.footer-link(href="/themes#economy") Economy
                li
                  a.footer-link(href="/themes#housing") Housing 
                //li
                  a.footer-link(href="/themes#education") Education
                //li
                  a.footer-link(href="/themes#health") Health
                //li
                  a.footer-link(href="/themes#demographics") Demographics
            .col-sm-3.col-6
              a(href="/stories")
                h6 Stories
              ul.list-unstyled.small
                li
                  a.footer-link(href="/stories/housing-dublin") Housing in the Dublin Region
                
                //li
                  a.footer-link(href="/stories/demographics") Demographics 
                //li
                  a.footer-link(href="/stories/education") Education
                //li
                  a.footer-link(href="/stories/environment") Environment
                //li
                  a.footer-link(href="/stories/health") Health
                //li
                  a.footer-link(href="/stories/housing") Housing
                //li
                  a.footer-link(href="/stories/transport") Transport
            .col-sm-3.col-6
              a(href="/queries")
                h6 Queries
              ul.list-unstyled.small
                li
                  a.footer-link(href="/queries") Getting Around 
                //li
                    a.footer-link(href="/queries") Environment Live!
                //li
                  a.footer-link(href="/queries") Hospital Waiting Lists
                li
                  a.footer-link(href="/queries") Homes and Housing
                //li
                  a.footer-link(href="/queries/health") Health
                //li
                  a.footer-link(href="/queries/housing") Housing
                //li
                  a.footer-link(href="/queries/transport") Transport
            .col-sm-3.col-6
              a(href="/tools")
                h6 Tools
              ul.list-unstyled.small
                li
                  a.footer-link(href="/tools/planning") Planning Applications
                //- li
                //-   a.footer-link(href="/tools/education") Education
                //- li
                //-   a.footer-link(href="/tools/environment") Environment
                //- li
                //-   a.footer-link(href="/tools/health") Health
                //- li
                //-   a.footer-link(href="/tools/housing") Housing
                //- li
                //-   a.footer-link(href="/tools/transport") Transport
        .col-lg-4.mt-3.px-4
          h6 
            a(href="https://dashboards.maynoothuniversity.ie/") Building City Dashboards
          .small Iontas Building
          .small Maynooth University
          .small Maynooth
          .small Co.Kildare
          .small Ireland
          hr
          .small T: +00 353 (1) 708 6146
          .small E: dashboards@mu.ie
          //- h6 Get Building City Dashboards news
          //- .sign-up.input-group.mb-2
          //-   input(class="form-control border-300 bg-light" type="email" placeholder="Email")
          //-   .input-group-append
          //-      button(class="input-group-text btn px-4 font-weight-bold" id="subscribe-bt" type="submit") Sign up
          //- input(type="checkbox")    
          //- small   I agree to the 
          //-   a(href="#")   Building City Dashboards Privacy Policy
          //-   |   and the processing and use of my information
            
      h6 Project Partners
      .row.partners.mt-3
        .col-md-2.partner.ncg
          a(href="https://www.maynoothuniversity.ie/national-centre-geocomputation-ncg" target="_blank")
            img(src="../images/partners/NCG_logo.png")
        .col-md-2.partner.mu
          a(href="https://www.maynoothuniversity.ie/" target="_blank")
            img(src="../images/partners/mulogo.png")
        .col-md-2.partner.sfi
          a(href="http://www.sfi.ie/" target="_blank")
            img(src="../images/partners/sfi.png")
        .col-md-2.partner.dcc
          a(href="http://www.dublincity.ie/" target="_blank")
            img(src="../images/partners/dublin-city-council-logo.png")
        .col-md-2.partner.dlrcc
          a(href="https://www.dlrcoco.ie/" target="_blank")
            img(src="../images/partners/logo-dlr.png")
        .col-md-2.partner.fcc
          a(href="http://www.fingalcoco.ie/" target="_blank")
            img(src="../images/partners/fingal.png")
        .col-md-2.partner.sdcc
          a(href="https://www.sdcc.ie/en/" target="_blank")
            img(src="../images/partners/sdcc.png")
        .col-md-2.partner.osi
          a(href="https://www.osi.ie/" target="_blank")
            img(src="../images/partners/OSi_logo.png")
        .col-md-2.partner.cso
          a(href="http://www.cso.ie/en/index.html" target="_blank")
            img(src="../images/partners/cso_logo2.png")

            
      .row.partners.mt-3
        .col-md-12
          h6 Accreditation
          p We gratefully acknowledge funding from Science Foundation Ireland under the Investigators' Award Programme. Award Number <strong> 15/IA/3090 </strong> 
          .credit
            <div>Selected icons made by 
                 |<a href="http://www.freepik.com" title="Freepik">Freepik</a> 
                 |from <a href="https://www.flaticon.com/" title="Flaticon">
                 |www.flaticon.com</a> licensed by 
                 |<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
                 |CC BY 3.0</a></div>


      .row.copyright.py-2
        .col-sm-8
          .small © Maynooth University. All rights reserved. 
        .col-sm-4
