footer.footer
  .footer-widgets.content-wrapper--blackblue.py-5
    .container
      .row.footer-nav
        .col-md-12
        .col-md-8
          .row
            .col-md-3.col-sm-6
              a(href="/themes")
                h6 Themes
              ul.list-unstyled
                li
                  a(href="themes#demographics") Demographics 
                li
                  a(href="themes#education") Education
                li
                  a(href="themes#environment") Environment
                li
                  a(href="themes#health") Health
                li
                  a(href="themes#housing") Housing
                li
                  a(href="themes#transport") Transport
            .col-md-3.col-sm-6
              a(href="/stories")
                h6 Stories
              ul.list-unstyled
                li
                  a(href="themes#demographics") Demographics 
                li
                  a(href="themes#education") Education
                li
                  a(href="themes#environment") Environment
                li
                  a(href="themes#health") Health
                li
                  a(href="themes#housing") Housing
                li
                  a(href="themes#transport") Transport
            .col-md-3.col-sm-6
              a(href="/queries")
                h6 Queries
              ul.list-unstyled
                li
                  a(href="themes#demographics") Demographics 
                li
                  a(href="themes#education") Education
                li
                  a(href="themes#environment") Environment
                li
                  a(href="themes#health") Health
                li
                  a(href="themes#housing") Housing
                li
                  a(href="themes#transport") Transport
            .col-md-3.col-sm-6
              a(href="/tools")
                h6 Tools
              ul.list-unstyled
                li
                  a(href="themes#demographics") Demographics 
                li
                  a(href="themes#education") Education
                li
                  a(href="themes#environment") Environment
                li
                  a(href="themes#health") Health
                li
                  a(href="themes#housing") Housing
                li
                  a(href="themes#transport") Transport
        .col-md-4
          .sign-up

      .row.partners

      .row.copyright
        .col-sm-8
          .small © Maynooth University. All rights reserved. 
        .col-sm-4
