.row.justify-content-sm-center.icon-nav
  .col-sm-2.mb-3.icon-nav__item.icon-nav__item--box
    a.icon-nav__link--box(href="/themes")
      div
        +svg("","icon__themes")(class="icon")
      h5.icon__header.icon__header--box Themes
      .icon__desc--box 
        p Data related to specific issues
  .col-sm-2.mb-3.icon-nav__item.icon-nav__item--box
    a.icon-nav__link.icon-nav__link--box(href="/stories")
      div
        +svg("","icon__stories")(class="icon")
      h5.icon__header.icon__header--box Stories
      .icon__desc--box
        p Narrated data stories about Dublin

  .col-sm-2.mb-3.icon-nav__item.icon-nav__item--box
    a.icon-nav__link.icon-nav__link--box(href="/queries")
      div
        +svg("","icon__queries")(class="icon")
      h5.icon__header.icon__header--box Queries
      .icon__desc--box
        p Answer questions about Dublin
  .col-sm-2.mb-3.icon-nav__item.icon-nav__item--box
    a.icon-nav__link.icon-nav__link--box(href="/tools")
      div

        +svg("","icon__tools")(class="icon")
      h5.icon__header.icon__header--box Tools
      .icon__desc--box
        p Perform your own analysis
  .col-sm-2.mb-3.icon-nav__item.icon-nav__item--box
    a.icon-nav__link.icon-nav__link--box(href="/Portal")
      div
        +svg("","icon__portal")(class="icon")
      h5.icon__header.icon__header--box Portal
      .icon__desc--box
        p Data Portal
        
// need the read more function here
