a(href="/themes").icon-nav
  .icon-nav__icon
    <img src='/images/icons/icons-48px/themes_icon_48px.svg' alt='Themes icon'> 
  //- (class="icon")
  .icon-nav__title  THEMES
  //- .icon-nav__item--box
    //- a.icon-nav__link--box(href="/themes")
    //- div
      //- +svg("","icon__themes")(class="icon")
    //- h5.icon__header.icon__header--box Themes
    //- .icon__desc--box 
      //- p Data related to specific issues

a(href="/stories").icon-nav.icon-nav
  .icon-nav__icon
    <img src='/images/icons/icons-48px/stories_icon_48px.svg' alt='Stories icon'>
  .icon-nav__title STORIES
  //- .icon-nav__item--box
  //- a.icon-nav__link.icon-nav__link--box(href="/stories")
    div
      +svg("","icon__stories")(class="icon")
    h5.icon__header.icon__header--box Stories
    .icon__desc--box
      //- p Narrated data stories about Dublin

a(href="/queries").icon-nav
  .icon-nav__icon
    <img src='/images/icons/icons-48px/queries_icon_48px.svg' alt='Queries icon'> 
  .icon-nav__title QUERIES     
  //- .icon-nav__item--box
  //- a.icon-nav__link.icon-nav__link--box(href="/queries")
    div
      +svg("","icon__queries")(class="icon")
    h5.icon__header.icon__header--box Queries
    .icon__desc--box
      //- p Answer questions about Dublin

a(href="/tools").icon-nav.icon-nav
  .icon-nav__icon
    <img src='/images/icons/icons-48px/tools_icon_48px.svg' alt='Tools icon'>
  .icon-nav__title  TOOLS
  //- .icon-nav__item--box
  //- a.icon-nav__link.icon-nav__link--box(href="/tools")
    div
      +svg("","icon__tools")(class="icon")
    h5.icon__header.icon__header--box Tools
    .icon__desc--box
      //- p Perform your own analysis
