.row.mb-5.justify-content-md-center
  .col-sm-2.mb-3.icon-nav
    a.icon-nav__link(href="/themes")
      +svg("","icon__themes")(class="icon")
      h5 THEMES
  .col-sm-2.mb-3.icon-nav
    a.icon-nav__link(href="/stories")
      +svg("","icon__stories")(class="icon")
      h5 STORIES
  .col-sm-2.mb-3.icon-nav
    a.icon-nav__link(href="/queries")
       +svg("","icon__queries")(class="icon")
       h5 QUERIES
  .col-sm-2.mb-3.icon-nav
    a.icon-nav__link(href="/tools")
        +svg("","icon__tools")(class="icon")
        h5 TOOLS
// need the read more function here
