.icon-nav
  a(href="/themes").icon-nav__box
    .icon-nav__icon
      <img src='/images/icons/icons-48px/themes_icon_48px.svg' alt='Themes icon'> 
    .icon-nav__title  THEMES
  .icon-nav__text  Data related to specific issues

.icon-nav
  a(href="/stories").icon-nav__box
    .icon-nav__icon
      <img src='/images/icons/icons-48px/stories_icon_48px.svg' alt='Stories icon'>
    .icon-nav__title STORIES
  .icon-nav__text Narrated data stories about Dublin

.icon-nav
  a(href="/queries").icon-nav__box
    .icon-nav__icon
      <img src='/images/icons/icons-48px/queries_icon_48px.svg' alt='Queries icon'> 
    .icon-nav__title QUERIES
  .icon-nav__text Answer questions about Dublin  

.icon-nav
  a(href="/tools").icon-nav__box
    .icon-nav__icon
      <img src='/images/icons/icons-48px/tools_icon_48px.svg' alt='Tools icon'>
    .icon-nav__title  TOOLS
  .icon-nav__text Perform your own analysis
