.row
  #dublin-text.col-lg-7.col-md-6
    h2.about__header.py-3.my-3 About Dublin
    .columns-2
      p#region__open Dublin is the capital and largest city in Ireland. It is located in the province of Leinster. 
        |It covers a total area of 
        span#region__area xxx.xx km2. 
        |Dublin has a total population of 
        span#region__population x,xxx,xxx 
        |people with a median age of 
        span#region__age xx.x 
        |and a median household income of 
        span#region__income €xx.xx.
      p In 2016, the population of Dublin 
        span#region__populationIndicator declined/increased 
        |from 
        span#region__prePopulation xxxxxx 
        |to 
        span#region__population xxxxxx 
        |, a 
        span#region__populationChange x.xx% decrease/increase 
        |  and its median household income 
        span#region__incomeIndicator grew/shrunk 
        |from 
        span#region__income__prev €xx.xx 
        |to 
        span#region__income €xx.xx
        |, a 
        span#region__income__change x.xx% decrease/increase
        |.
      p There are four local authorities whose remit collectively encompasses the geographic area of the county and city of Dublin. 
      
      //- .col-md-6
      //-   h3 Dublin County
      //-   p According to the Census of 2016, The population of Dublin was 
      //-     span#region__total-population 1,345,402 
      //-     | and the total housing stock was 
      //-     span#region__total-house 530,753
      //-     |   of which vacant households (excluding holiday homes) numbered 
      //-     span#region__total-vacant 31,459.

    //#lp-tabs.py-3.d-md-none.d-sm-block 
      <button type="button" class="btn btn-bcd d-none" value="">Test</button>
      <button type="button" class="btn btn-bcd" value="">Test</button>
      <button type="button" class="btn btn-bcd" value="">Test</button>
      <button type="button" class="btn btn-bcd" value="">Test</button>
      <button type="button" class="btn btn-bcd" value="">Test</button>
    .lp-map__compare.py-3
      h3 
        span#local__title   Dublin
      .columns-2
        p
          span#local__open Dublin is the capital and largest city in Ireland. It is located in the province of Leinster. 
          |It covers a total area of 
          span#local__area xxx.xx km2.
          span#local__title__small Dublin 
          | has a total population of 
          span#local__total-poualtion x,xxx,xxx 
          |people with a median age of 
          span#local__age xx.x 
          |and a median household income of 
          span#local__income €xx.xx.
        p In 2016 the population of 
          span#local__title__small Dublin
          span#local__populationIndicator declined/increased 
          |from 
          span#local__prePopulation xxxxxx 
          |to 
          span#local__curPopulation xxxxxx 
          |, a 
          span#local__populationChange x.xx% decrease/increase 
          |  and its median household income 
          span#local__incomeIndicator grew/shrunk 
          |from 
          span#local__income__prev €xx.xx 
          |to 
          span#local__income €xx.xx
          |, a 
          span#local__income__change x.xx% decrease/increase
          |.

  // map holder
  .py-3.col-lg-5.col-md-6.d-sm-none.d-md-block
    //- p Click on the map to see info about each of the local authorities.
    #map__container 
    //-( viewBox="-80 80 400 400")

  
