.row
  // Dynamic Content goes here
  .col-md-5.my-3.py-3
    h2 About
      span#map__text   Dublin
    p
      span#region__text In 2016 the total population in Dublin was 1,350,000,
      span#region__sex   of which Males numbered 104,584 and Females were 113,434.
      span#region__house   The total housing stock was 86,962, of which vacant households (excluding holiday homes) numbered 4,596.  
  // map holder
  #map__container.py-3.col-md-7
