mixin bcd-navbar(classes, href, navTitle, pageTitle)
  //- - var style = (typeof style === 'undefined') ? "default" : style
  //- - var href = (typeof style === 'undefined') ? "#" : href
  nav(role="navigation", class=classes )
        a(href=href) 
          =navTitle
        span : 
          =pageTitle
