mixin navbar(classes, href, navTitle, pageTitle)
  - var style = (typeof style === 'undefined') ? "default" : style
  - var href = (typeof style === 'undefined') ? "#" : href
  nav( role="navigation", class=classes )
    .container-fluid
      .navbar-brand.mx-auto 
        a.nav-link(href=href) 
          =navTitle
        span.nav-link.nav-link-ptitle : 
          =pageTitle