- var sideLinks = { "HOME": "", "THEMES": "themes", "STORIES": "stories", "QUERIES": "queries", "TOOLS": "tools"  }
- var subLinks = { "Transport": "#transport", "Environment": "#environment", "Economy": "#economy", "Housing": "#housing", "Education": "#education", "Health": "#health", "Demographics": "#demographics" }

mixin dropdown-item(name, link, parent)
    a.dropdown-item(href=parent+link)= name

//- ul
//-     each val, key in subLinks
//-         +dropdown-item(key, val)