// Scroll to Top Button
a.scroll-to-top(href='#page-top')
  div.progress-indicator
    svg(viewBox="20 20 60 60")
        g
          circle(cx="0" cy="0" r="25" class="animated-circle" transform="translate(50,50) rotate(-90)")
          i.fa.fa-angle-up(style="position:  absolute; left: 22px; top: 14px; font-size: 28px;")
