.row.mb-5.justify-content-md-center
  .input-group.input-group-lg.col-sm-8
    input(type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm")
    .input-group-prepend
      span(class="input-group-text" id="inputGroup-sizing-lg") Search