- var sideLinks = { "HOME": "", "THEMES": "themes", "STORIES": "stories", "QUERIES": "queries", "TOOLS": "tools"  }

mixin nav-item(name, link)
    li.side-menu__nav-item
        a.side-menu__nav-link(href="/"+link)
            +svg("","icon__"+link)(class="icon icon--small side-menu__icon")
            span= name

button.side-menu__toggler
    .menu-button
        .menu-button__bar.menu-button__bar--top 
        .menu-button__bar.menu-button__bar--middle 
        .menu-button__bar.menu-button__bar--bottom

nav.side-menu
        .side-menu__header 
            img.side-menu__img(src="../images/bcd-logo.png" alt="BCD-Logo")
            h3.side-menu__h3 BCD
        
        ul.side-menu__nav
            each val, key in sideLinks
                +nav-item(key, val)

        .side-menu__footer