- var subLinks = { "Employment": "#employment", "Environment": "#environment", "Health": "#health", "Housing": "#housing", "Demographics": "#demographics", "Transport": "#transport" }

mixin dropdown-item(name, link, parent)
    a.dropdown-item(href=parent+link)= name

//- ul
//-     each val, key in subLinks
//-         +dropdown-item(key, val)