mixin subnavbar(classes)
  nav( class=classes )
    #subnav.mx-auto 
      a.subnav-link(href = "#transport") Transport
      a.subnav-link(href = "#environment") Environment
      a.subnav-link(href = "#housing") Housing
      a.subnav-link(href = "#economy") Economy
      a.subnav-link(href = "#education") Education
      a.subnav-link(href = "#health") Health
      a.subnav-link(href = "#demographics") Demographics
