mixin theme__header(id, title, description, moreInfo, img)
  div(id=id class="theme__header" )
    .theme__header__content
      h1.theme__header__title=title
      p.theme__header__description=description
      p.theme__header__info=moreInfo

      
         
      
