mixin theme__header(id, title, subtitle, description, moreInfo)
  div(id=id class="theme__header" )
    .theme__header__left
      .theme__header__title=title
      .theme__header__subtitle=subtitle
      .theme__header__text

      //- img(height='15px' width='15px' class="float-right" title="This is a static historical dataset" src=img)
    .theme__header__right
      
         
      
