//- work in progress
//- need to add mixin so we can adjust id and for
input(class="toggle" id="toggle1" type="checkbox" aria-label="Label Name")
label(class="toggle__label" for="toggle1")
    span(class="toggle__appearance")
