.accordion{
    padding:0;
    list-style:none;
    width:100%
}
.accordion__item{
    transition:all 250ms cubic-bezier(0.5, 0, 0.1, 1);
    border-top:1px solid #dfe3e6;
    overflow:hidden
}
.accordion__heading{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    letter-spacing:0;
    display:inline-block;
    background:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:0;
    padding:0;
    cursor:pointer;
    width:100%;
    color:#152934;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -ms-flex-direction:row;
    flex-direction:row;
    cursor:pointer;
    padding:.5rem 0
}
.accordion__arrow{
    transition:all 250ms cubic-bezier(0.5, 0, 0.1, 1);
    height:1.25rem;
    width:1.25rem;
    padding:.25rem .125rem .25rem .25rem;
    margin:0 0 0 .25rem;
    fill:#5a6872
}
.accordion__content{
    transition:all 300ms cubic-bezier(0, 0, 0.25, 1);
    padding:0 1rem 0 2.5rem;
    height:0;
    visibility:hidden;
    opacity:0
}
.accordion__item:focus{
    outline:none    
}
.accordion__item:focus .accordion__arrow{
    outline:1px solid #16c1f3;
    overflow:visible;
    outline-offset:-0.5px
} 
.accordion__item:last-child{
    border-bottom:1px solid #dfe3e6
}
.accordion__heading::-moz-focus-inner{
    border:0
}
.accordion__heading:focus{
    outline:none
}
.accordion__heading:focus .accordion__arrow{
    outline:1px solid #16c1f3;
    overflow:visible;
    outline-offset:-0.5px
}
.accordion__item--active{
    overflow:visible
}
.accordion__item--active .accordion__content{
    padding-top:1rem;
    padding-bottom:1.5rem;
    height:auto;
    visibility:visible;
    opacity:1;
    transition:all 300ms cubic-bezier(0.25, 0, 1, 1)
}
.accordion__item--active .accordion__arrow{
    transform:rotate(90deg);
    fill:#16c1f3;
}

/* from this https://css-tricks.com/introduction-reduced-motion-media-query/ */
@media screen and (prefers-reduced-motion: reduce) {
    .accordion__item, .accordion__arrow{
      transition: none;
    }
  }