/* Base Styles */
html {
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: #313131;
    background: #f8f8f8; 
}
  
/* Links*/
  a {
    color: #63c1de; 
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border-bottom: 1px solid transparent;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}
  a:hover {
    color: #63c1de; 
    border-color: #888888; 
}

a {
  color: #ffffff;
}

.hamburger-btn {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 3px;
  float: left;
}

.bar1, .bar2, .bar3{
  background-color: #ffffff;
  display: block;
  height: 2px;
  width: 15px;
  transition-duration: .5s;
}

.bar2{
  margin:4px 0;
  width: 12px;
}

.bar1.rotateRight {

  transform: rotate(45deg);
  transform-origin: 0px;

  position: relative;
}

.bar3.rotateLeft {

  transform: rotate(-45deg);
  transform-origin: 0px;

  bottom: 1px;
  position: relative;
}

.bar2.trasparent {
  background-color: transparent;
}

/* this should be in a map.css file */
.country-on{
  fill: #63C1DE;
}

 /* charts */
.line-chart{
  margin-right:40px;
  width:100%
}
.line-chart:last-child{
  margin-right:0
}
.line-chart path.activity{
  stroke:#16c1f3;
  stroke-width:4;
  fill:none;
  stroke-linecap:round
}
.line-chart .cursor{
  fill:#fff;
  stroke:#16c1f3;
  stroke-width:2
}
.line-chart .label{
  font-size:12px;
  font-weight:500;
  text-anchor:end;
  fill:rgba(150,150,150,.3)
}
.line-chart .label.today{
  fill:#16c1f3;
  text-anchor:start
}
.line-chart path.reference{
  stroke:rgba(150,150,150,.3)
}
.line-chart path.today{
  opacity:1
}
.line-chart .axis line,.line-chart .axis path{
  fill:none;
  stroke:rgba(0,0,0,.1);
  stroke-width:1
}
.line-chart .y path{
  stroke:none;
  fill:none;
  stroke-width:0
}

/* do we need this? */
.collapse:not(.show) {
  display: none;
}

/* this is used for the stories page it's a modifier for page title sections! */
.bg-dark {
  background-color: var(--very-dark-blue)!important;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

/* temp bootstrap override for the cards charts  */
.card{
  background: transparent;
}

/* borders for the charts should be in charts.css */
.border-blue{
  border-color: var(--vivid-cyan);
}

.border-yellow{
  border-color: var(--yellow);
}

.border-red{
  border-color: var(--vivid-red);
}

.border-teal{
  border-color: var(--teal);
}

/* from this https://css-tricks.com/introduction-reduced-motion-media-query/ */
@media screen and (prefers-reduced-motion: reduce) {
  .collape {
    transition: none;
  }
}