/* Base Styles */
html {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #f8f8f8;
  background:var(--very-dark-blue); 
  position: relative;
}

/* Links*/
a {
  color: var(--vivid-cyan); 
  /* text-decoration: none; */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
a:hover {
  color: var(--vivid-cyan); 
  text-decoration: underline;
}

/* charts */
.line-chart{
  margin-right:40px;
  width:100%
}
.line-chart:last-child{
  margin-right:0
}
.line-chart path.activity{
  stroke:#16c1f3;
  stroke-width:4;
  fill:none;
}
.line-chart .cursor{
  fill:#fff;
  stroke:#16c1f3;
  stroke-width:2
}
.line-chart .label, .no-axis{
  font-size:12px;
  font-weight:500;
}
.line-chart .label.today{
  fill:#16c1f3;
  text-anchor:start
}
.line-chart path.reference{
  stroke:rgba(150,150,150,.3)
}
.line-chart path.today{
  opacity:1
}
.line-chart .axis line,.line-chart .axis path{
  fill:none;
  stroke:rgba(0,0,0,.1);
  stroke-width:1
}
.line-chart .y path{
  stroke:none;
  fill:none;
  stroke-width:0
}

.no-axis path{
  display: none;
}

.no-axis text{
  fill: #f8f9fabd;
}

.horizontal-line{
  fill: none;
  shape-rendering: crispEdges;
  stroke: #6c757d;
  /* stroke: #c4cdd5; */
  stroke-width: 1;
}

.y-axis .domain, .y-axis .tick line {
  display: none;
}

.x-axis path, .x-axis line{
  stroke: #c4cdd5;
}

.x-axis text, .y-axis text{
  /* fill: #6c757d; */
  fill: #c4cdd5;
}

.area-line {
  shape-rendering: geometricPrecision;
  fill: none;
  stroke-width: 2;
}

/* do we need this? */
.collapse:not(.show) {
  display: none;
}

/* this is used for the stories page it's a modifier for page title sections! */
.bg-dark {
  background-color: var(--very-dark-blue)!important;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

/* select formating */
select {
  width: 100%;
  height:2rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
  border: .1rem solid #c4cdd5;
  border-radius: .6rem;
  line-height: 4.8rem;
  font-size: .875rem;
  color: #161d25;
  background-color: #fff;
  box-shadow: inset 0 0 0 0.2rem rgba(92,106,196,0), inset 0 0.1rem 0.2rem 0 rgba(99,115,129,.2);
  transition-property: border-color,box-shadow;
  transition-duration: .24s;
  transition-timing-function: cubic-bezier(.64,0,.35,1);
}

#data-text p{
  text-align: center;
  font-size: 1.125rem;
  margin-top: 1rem;
}

select:hover:not([disabled]) {
  border-color: transparent;
  box-shadow: inset 0 0 0 0.1rem #5c6ac4, inset 0 0.1rem 0.1rem 0 rgba(99,115,129,.2);
}

/* charts styles */

.titleX, .titleY{
  font-size: 1rem;
  /* fill: #6c757d; */
  fill: #c4cdd5;
}

.legendText{
  font-size: .75rem;
  color: #c4cdd5;
  fill: #c4cdd5;
}

.legendRect{
  width: 20px;
  height: 20px;
}

.nav-link{
  padding-right: 0;
  float: left;
  font-weight: 600;
  color: #f8f8f8;
}

.nav-link-ptitle{
  padding-left: 5px;
  color: var(--vivid-cyan);
}

.chart-holder{
  /* background: #f8f8f8;
  margin-top: 1rem; */
  margin-right: -1rem;
  border-radius: .325rem;
}

.btn-bcd{
  color: #00c0f5;
  background-color: transparent;
  border-color: #00c0f5;
}

.btn-page{
  background-color: transparent;
  color: #838586;
  font-size: .875rem;
  border-radius: 0;
  padding: 0 .5rem;
}

.btn-page:hover, .btn-page:focus, .btn-page.active{
  /* color: #313131; */
  color: #c4cdd5;
}

.btn-page.active{
  font-weight:600;
}

.btn-bcd:hover, .btn-bcd:focus, .btn-bcd.active{
  color: #fff;
  background-color: #00c0f5;
  border-color: #00c0f5;
}

#chart-employment .x-axis g.tick text{
  display: none;
}

#chart-employment .x-axis g.tick:nth-child(4n-6) text {
  display: inline;
}

#chart-trolleys .x-axis g.tick text{
  display: none;
}

#chart-trolleys .x-axis g.tick:nth-child(5n+1) text, 
#chart-trolleys .x-axis g.tick:first-of-type text,
#chart-trolleys .x-axis g.tick:last-of-type text {
  display: inline;
}

.bold-text{
  font-weight: 600;
}

/* from this https://css-tricks.com/introduction-reduced-motion-media-query/ */
@media screen and (prefers-reduced-motion: reduce) {
.collape {
  transition: none;
}
}