.card {
  display            : -ms-flexbox;
  display            : flex;
  position           : relative;
  min-width          : 256px;
  min-height         : 190px;
  padding            : 12px 24px;
  background-color   : rgba(0,0,0,.2);
  -ms-flex-direction : column;
  flex-direction     : column;
  word-wrap          : break-word;
  /* height: inherit; */
}

.card__header {
  display            : -ms-flexbox;
  display            : flex;
  position           : relative;
  background-color   : transparent;
  -ms-flex-direction : column;
  flex-direction     : column;
}

.card__title {
  color          : #6fd1f6;
  text-transform : uppercase;
  font-size      : 14px;
  font-style     : normal;
  font-weight    : 500;
  font-stretch   : normal;
  line-height    : 1.14;
  letter-spacing : 1.5px;
}

/* Usually used for time of last update etc. */

.card__sub-title {
  padding-top    : 6px;
  color          : rgba(255, 255, 255, 0.6);
  text-transform : uppercase;
  font-size      : 10px;
  font-style     : normal;
  font-weight    : 500;
  font-stretch   : normal;
  line-height    : 1.2;
  letter-spacing : 1.5px;
}

.card__body {
  display         : flex;
  min-height      : 72px;
  align-items     : center;
  justify-content : space-between;
}

.card__body--chart {
  display         : flex;
  min-height      : 72px;
  align-items     : center;
  justify-content : space-between;
  margin-bottom: 4px;
}

.card__center {}

.card__left,
.card__right {
  display            : -ms-flexbox;
  display            : flex;
  text-align         : center;
  -ms-flex-direction : column;
  flex-direction     : column;
  justify-content    : flex-start;
}

.card__left h1,
.card__right h1 {
  /* align-self: center; */
  /* -ms-flex: 0 1 33%; flex: 0 1 33%; */
  padding        : 0px;
  color          : #6fd1f6;
  text-align     : top;
  text-transform : capitalize;
  font-size      : 12px;
  font-style     : normal;
  font-weight    : 500;
  font-stretch   : normal;
  line-height    : 2;
  letter-spacing : 0.15px;
}

.card__left p,
.card__right p {
  color          : rgba(255, 255, 255, 0.6);
  text-transform : capitalize;
  font-size      : 12px;
  font-style     : normal;
  font-weight    : normal;
  font-stretch   : normal;
  line-height    : 1;
  letter-spacing : 0.15px;
}

.card__link {
  padding : 0 .5rem;
  color   : #f8f8f8;
}

.card__link:hover {
  text-decoration : none;
}

.card__link:focus .card,
.card__link:hover .card {
  /* background: #1d21244d; */
  color                      : #ffffff;
  border                     : 2px solid #16c1f37a;
  box-shadow                 : 0 12px 30px 0 rgba(0,0,0,.2);
  text-decoration            : none;
  transition-property        : -webkit-box-shadow,
                               -webkit-transform;
  transition-property        : box-shadow,
                               transform;
  transition-property        : box-shadow,
                               transform,
                               -webkit-box-shadow,
                               -webkit-transform;
  transition-duration        : .6s;
  transition-timing-function : cubic-bezier(.16,1,.29,.99);
}

.card__title {}

.card__info {
  min-height       : 60px;
  padding-top      : 8px;
  border-top       : 1px solid;
  border-top-color : rgba(255, 255, 255, 0.1);
}

.card__info p {
  font-size      : 10px;
  font-style     : normal;
  font-weight    : normal;
  font-stretch   : normal;
  line-height    : 1.4;
  letter-spacing : 0.25px;

}

.card__icon {
  /* position : absolute; */
  width  : 26px;
  height : 20px;
}

.card__svg {
  /* color: var(--vivid-cyan); */
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.card__g {
  fill : currentColor;
}

.card__left h1,
.card__left p,
.card__right h1,
.card__right p,
.card__body h3,
.card__body p,
.card__info p {
  margin  : 0px;
  padding : 0px;
}

/* border utilities classes, need to add these to a util.css */

.border-blue {
  /* border-color: var(--vivid-cyan); */
}

.border-yellow {
  /* border-color: var(--vivid-cyan); */
}

.border-red {
  border-color : var(--vivid-red);
}

.border-teal {
  border-color : var(--teal);
}

#clock {
  display         : flex;
  font-size       : 1.5rem;
  justify-content : center;
  letter-spacing  : 1px;
  /* align-self: center; */
  /* align-content:center; */
  /* align-items: center; */
  /* text-align: center; */
}

#clock-time {
  text-align : left;
}

#clock-day {
  border-right : 1px solid;
  text-align   : right;
}
