.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    min-height: 150px;
    word-wrap: break-word;
    background-color: rgba(0,0,0,.2);;
    background-clip: border-box;
    /* border: 1px solid; */
    border: 2px solid rgba(0,0,0,0);
    border-radius: .25rem;

}

.card__header{
    padding: .75rem .5rem;
    margin-bottom: 0px;
    /* background-color: rgba(0,0,0,.03); */
    /* border-bottom: 1px solid rgba(255,255,255,.2); */
    font-size: .875rem;
}

.card__body{
  display: flex;
  padding: .5rem;
  height: 110px;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.card-left, .card-right {
  /* align-self: center; */
  /* -ms-flex: 0 1 33%;
  flex: 0 1 33%; */
  padding: 0px;
  text-align: center;
}

.card__link{
    color:#f8f8f8;
    padding: 0 .5rem;
}

.card__link:hover{
    text-decoration: none;
}

.card__link:hover .card, .card__link:focus .card{
    /* background: #1d21244d; */
    color: #ffffff;
    border: 2px solid #16c1f37a;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,.2);
    transition-property: -webkit-box-shadow,-webkit-transform;
    transition-property: box-shadow,transform;
    transition-property: box-shadow,transform,-webkit-box-shadow,-webkit-transform;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.16,1,.29,.99);
    text-decoration: none;
}

.card__title{
    margin-bottom: .75rem;
}

.card__text{

  }

.card__icon{
    position: absolute;
    top: .5rem;
    right: .5rem;
}

.card__svg{
    /* color: var(--vivid-cyan); */
    /* display: inline-block; */
    /* vertical-align: middle; */
}

.card__g{
    fill: currentColor;
}

.card-left p, .card-right p, .card__body p,
.card-left h3, .card-right h3, .card__body h3{
  padding: 0px;
  margin: 0px;

}

/* border utilities classes, need to add these to a util.css*/
.border-blue{
/* border-color: var(--vivid-cyan); */
}

.border-yellow{
/* border-color: var(--vivid-cyan); */
}

.border-red{
border-color: var(--vivid-red);
}

.border-teal{
border-color: var(--teal);
}


#clock{
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  /* align-self: center; */
  /* align-content:center; */
    /* align-items: center; */
  /* text-align: center; */
}
