.card {
  display            : -ms-flexbox;
  display            : flex;
  position           : relative;
  min-width          : 256px;
  min-height         : 190px;
  padding            : 12px 24px;
  background-color   : rgba(0,0,0,.2);
  -ms-flex-direction : column;
  flex-direction     : column;
  word-wrap          : break-word;
  /* height: inherit; */
}

.card__header {
  display            : -ms-flexbox;
  display            : flex;
  position           : relative;
  background-color   : transparent;
  -ms-flex-direction : column;
  flex-direction     : column;
}

.card__title {
  color          : #6fd1f6;
  text-transform : uppercase;
  font-size      : 14px;
  font-style     : normal;
  font-weight    : 500;
  font-stretch   : normal;
  line-height    : 1.14;
  letter-spacing : 1.5px;
}

/* Usually used for time of last update etc. */

.card__sub-title {
  padding-top    : 6px;
  color          : rgba(255, 255, 255, 0.6);
  text-transform : uppercase;
  font-size      : 10px;
  font-style     : normal;
  font-weight    : 500;
  font-stretch   : normal;
  line-height    : 1.2;
  letter-spacing : 1.5px;
}

.card__body {
  display         : flex;
  min-height      : 72px;
  align-items     : center;
  justify-content : space-between;
}

.card__body--chart {
  display         : flex;
  min-height      : 72px;
  margin-bottom   : 4px;
  align-items     : center;
  justify-content : space-between;
}

.card__center {}

.card__center img {
  width : 24px;
}

.card__left,
.card__right {
  display            : -ms-flexbox;
  display            : flex;
  text-align         : center;
  -ms-flex-direction : column;
  flex-direction     : column;
  justify-content    : flex-start;
}

.card__left h1,
.card__right h1 {
  /* align-self: center; */
  /* -ms-flex: 0 1 33%; flex: 0 1 33%; */
  padding        : 0px;
  color          : #6fd1f6;
  text-align     : top;
  text-transform : capitalize;
  font-size      : 12px;
  font-style     : normal;
  font-weight    : 500;
  font-stretch   : normal;
  line-height    : 2;
  letter-spacing : 0.15px;
}

.card__left p,
.card__right p {
  color          : rgba(255, 255, 255, 0.6);
  text-transform : capitalize;
  font-size      : 12px;
  font-style     : normal;
  font-weight    : normal;
  font-stretch   : normal;
  line-height    : 1;
  letter-spacing : 0.15px;
}

.card__link {
  padding : 0 .5rem;
  color   : #f8f8f8;
}

.card__link:hover {
  text-decoration : none;
}

.card__link:focus .card,
.card__link:hover .card {
  /* background: #1d21244d; */
  color                      : #ffffff;
  border                     : 2px solid #16c1f37a;
  box-shadow                 : 0 12px 30px 0 rgba(0,0,0,.2);
  text-decoration            : none;
  transition-property        : -webkit-box-shadow,
                               -webkit-transform;
  transition-property        : box-shadow,
                               transform;
  transition-property        : box-shadow,
                               transform,
                               -webkit-box-shadow,
                               -webkit-transform;
  transition-duration        : .6s;
  transition-timing-function : cubic-bezier(.16,1,.29,.99);
}

.card__title {}

.card__info {
  min-height       : 60px;
  padding-top      : 8px;
  border-top       : 1px solid;
  border-top-color : rgba(255, 255, 255, 0.1);
}

.card__info p {
  font-size      : 10px;
  font-style     : normal;
  font-weight    : normal;
  font-stretch   : normal;
  line-height    : 1.4;
  letter-spacing : 0.25px;
}

.card__icon {
  /* position : absolute; */
  width  : 26px;
  height : 20px;
}

.card__svg {
  /* color: var(--vivid-cyan); */
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.card__g {
  fill : currentColor;
}

.card__body h3,
.card__body p,
.card__info p,
.card__left h1,
.card__left p,
.card__right h1,
.card__right p {
  margin  : 0px;
  padding : 0px;
}

/* border utilities classes, need to add these to a util.css */

.border-blue {
  /* border-color: var(--vivid-cyan); */
}

.border-yellow {
  /* border-color: var(--vivid-cyan); */
}

.border-red {
  border-color : var(--vivid-red);
}

.border-teal {
  border-color : var(--teal);
}

@media
  only screen
  and (min-width : 1920px) {
  .card {
    /**
    * min-width
    *
    * : 256px; min-height : 220px; padding
    *
    *
    *
    * : 16px 24px;
    */
    /* height: inherit; */
    width            : 426px;
    height           : 220px;
    border-radius    : 4px;
    background-color : rgba(41, 51, 55, 0.63);
  }

  .card__header {}

  .card__title {
    font-size      : 20px;
    font-style     : normal;
    font-weight    : 500;
    font-stretch   : normal;
    line-height    : 0.8;
    letter-spacing : 1.5px;
  }
  /* Usually used for time of last update etc. */

  .card__sub-title {
    padding-top    : 6px;
    color          : rgba(255, 255, 255, 0.87);
    font-size      : 14px;
    font-style     : normal;
    font-weight    : 500;
    font-stretch   : normal;
    line-height    : 1.14;
    letter-spacing : 1.5px;
  }

  .card__body {
    min-height : 120px;
  }

  .card__body--chart {
    min-height    : 120px;
    margin-top : 0px;
  }

  .card__body--chart svg{
    /* height    : 120px; */

  }

  .card__center {}

  .card__center img {
    width : 48px;
  }

  .card__left,
  .card__right {
    display            : -ms-flexbox;
    display            : flex;
    text-align         : center;
    -ms-flex-direction : column;
    flex-direction     : column;
    justify-content    : flex-start;
  }

  .card__left h1,
  .card__right h1 {
    /* align-self: center; */
    /* -ms-flex: 0 1 33%; flex: 0 1 33%; */
    padding        : 0px;
    text-align     : top;
    text-transform : capitalize;
    font-size      : 34px;
    font-style     : normal;
    font-weight    : 500;
    font-stretch   : normal;
    line-height    : 1.06;
    letter-spacing : 0.15px;
    letter-spacing : normal;
  }

  .card__left p,
  .card__right p {
    color          : rgba(255, 255, 255, 0.6);
    color          : rgba(255, 255, 255, 0.6);
    text-transform : capitalize;
    font-size      : 20px;
    font-style     : normal;
    font-weight    : 500;
    font-stretch   : normal;
    font-stretch   : normal;
    line-height    : 1.2;
    letter-spacing : 0.15px;
  }
}

.card__link {
  padding : 0 .5rem;
  color   : #f8f8f8;
}

.card__link:hover {
  text-decoration : none;
}

.card__link:focus .card,
.card__link:hover .card {
  /* background: #1d21244d; */
  color                      : #ffffff;
  border                     : 2px solid #16c1f37a;
  box-shadow                 : 0 12px 30px 0 rgba(0,0,0,.2);
  text-decoration            : none;
  transition-property        : -webkit-box-shadow,
                               -webkit-transform;
  transition-property        : box-shadow,
                               transform;
  transition-property        : box-shadow,
                               transform,
                               -webkit-box-shadow,
                               -webkit-transform;
  transition-duration        : .6s;
  transition-timing-function : cubic-bezier(.16,1,.29,.99);
}

.card__title {}

.card__info {
  /**
  * min-height
  *
  *
  *
  *
  *
  * : 60px;
  */
  /* transform: translate(0, -60px); */
  display          : none;
  max-height       : 0px;
  padding-top      : 8px;
  overflow-y       : hidden;
  border-top       : 1px solid;
  border-top-color : rgba(255, 255, 255, 0.1);
}

.card__info p {
  font-size      : 10px;
  font-style     : normal;
  font-weight    : normal;
  font-stretch   : normal;
  line-height    : 1.4;
  letter-spacing : 0.25px;
  /* position: absolute; bottom: -100px; */
}

.card__link:hover .card__info {
  /* transform: translate(0, 0px); */
  transition : all 0.4s ease;
}

.card__icon {
  /* position : absolute; */
  width  : 48px;
  height : auto;
}

.card__svg {

  /* color: var(--vivid-cyan); */
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.card__g {
  fill : currentColor;
}

.card__body h3,
.card__body p,
.card__info p,
.card__left h1,
.card__left p,
.card__right h1,
.card__right p {
  margin  : 0px;
  padding : 0px;
}
