.copyright{
    border-top: 1px solid #343a40;
}

.footer-nav{
    margin: 16px 0;
    border-right: 1px solid #343a40;
}

.footer-link{
    color: #969696;
}

.sign-up .form-control{
    line-height: 1.45;
    color: #404040;
    border: 1px solid #e1e1e1;
    border-radius: .1875rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.sign-up button{
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: .75rem;
    padding: .8rem .8rem;
    line-height: 1.45;
    color: #404040;
    background-color: #f2f2f2;
    border: 1px solid #e1e1e1;
    border-radius: .1875rem;
}

.partner{
    float: left;
    margin: 0 45px 15px 0;
    height: 29px;
}

.p-maynooth{
    
}