.container {
    margin-left:3%;
    margin-right:3%;
    padding-left:6px;
    padding-right:6px;
    max-width:1600px;
    /* override bootstrap */
    width: calc((100% - 6%));
}


@media (min-width: 576px){
    .container {
        margin-left:2.5%;
        margin-right:2.5%;
        /* padding-left:12px;
        padding-right:12px; */
        /* override bootstrap */
        width: calc((100% - 5%));
    }
}

@media (min-width: 1600px){
    .container{
        margin:0 auto;
    }
}