/* xs: 360px x 540px <MOCKUP> */

#hero {
  position            : relative;
  width               : 100vw;
  min-width           : 360px;
  height              : 100vh;
  min-height          : 540px;
  overflow-y          : hidden;
  background-image    : url('../images/home/hero-background-image-mobile.png');
  background-repeat   : no-repeat;
  background-position : top;
  background-size     : 100vw auto;
  background-size     : cover;
  text-align          : center;
  align-self          : center;
  font-family         : 'Roboto',
                        sans-serif;
}

#hero-grid {
  display               : grid;
  width                 : 100vw;
  min-width             : inherit;
  height                : 100vh;
  min-height            : inherit;
  margin                : 0;
  padding               : 4.4vw;
  justify-content       : center;
  grid-gap              : 16px;
  grid-template-columns : repeat(4, 1fr);
  grid-template-rows    : repeat(8, 1fr);
}

#hero-title {
  display         : flex;
  display         : -ms-flexbox;
  min-width       : 168px;
  min-height      : 43px;
  padding-left    : 8px;
  text-align      : left;
  align-self      : top;
  font-size       : 28px;
  font-weight     : bold;
  flex-direction  : column;
  justify-content : flex-start;
  grid-column     : 1 / 3;
  grid-row        : 2 / 3;
  line-height     : 0.71;
  letter-spacing  : -0.5px;
}

#hero-title > div {
  transform : translate(0, -50%);
}

#hero-title__text--top {
  color : rgba(111, 209, 246, 0.5);
}

#hero-title__text--bottom {
  color : rgba(35, 145, 216, 0.39);
}

#hero-time-weather {
  display            : -ms-flexbox;
  display            : flex;
  -ms-flex-direction : column;
  flex-direction     : column;
  justify-content    : flex-end;
  grid-column        : 2 /5;
  grid-row           : 2 / 3;
  transform          : translate(4.4vw, 0);
}

#hero-time {
  display         : -ms-flexbox;
  display         : flex;
  justify-content : flex-end;
}

#hero-time__box {
  display          : flex;
  display          : -ms-flexbox;
  width            : 139px;
  height           : 24px;
  background-color : rgba(142, 191, 214, 0.08);
  align-items      : center;
  flex-wrap        : nowrap;
  justify-content  : space-around;
}

#hero-time__clock {
  width          : 49px;
  height         : 12px;
  color          : #6fd1f6;
  font-size      : 12px;
  font-weight    : 500;
  line-height    : 1;
  letter-spacing : 0.15px;
}

#hero-time__date {
  width          : 66px;
  height         : 12px;
  color          : rgba(255, 255, 255, 0.6);
  font-size      : 12px;
  font-weight    : 300;
  line-height    : 1;
  letter-spacing : 0.15px;
}

#hero-weather {
  display         : -ms-flexbox;
  display         : flex;
  padding-top     : 4px;
  justify-content : flex-end;
}

#hero-weather__box {
  display            : -ms-flexbox;
  display            : flex;
  position           : relative;
  width              : 150px;
  height             : 24px;
  padding-top        : 0px;
  padding-bottom     : 0px;
  background-color   : rgba(142, 191, 214, 0.08);
  align-items        : center;
  font-weight        : 500;
  -ms-flex-direction : row;
  flex-direction     : row;
  flex-wrap          : nowrap;
  justify-content    : space-around;
  line-height        : 1.2;
  letter-spacing     : 0.15px;
  word-wrap          : break-word;
}

#hero-weather__left-top {
  height         : 12px;
  color          : #6fd1f6;
  font-size      : 12px;
  line-height    : 1;
  letter-spacing : 0.15px;
}

#hero-weather__left-bottom {
  display : none;
}

#hero-weather__symbol {
  display     : flex;
  width       : 16px;
  height      : 16px;
  align-items : center;
  /* background-color : rgba(255, 255, 255, 0.3); */
}

#hero-weather__symbol img {
  width  : inherit;
  height : inherit;
  /* background-color : rgba(255, 255, 255, 0.3); */
}

#hero-weather__right-top {
  display        : flex;
  align-items    : center;
  flex-direction : row;
  color          : #6fd1f6;
  font-size      : 12px;
  line-height    : 1;
  letter-spacing : 0.15px;

}

#hero-weather__right-top img {
  width  : 16px;
  height : 16px;
}

#hero-weather__right-bottom {
  display : none;
}

#hero-carousel {
  grid-column : span 4;
  grid-row    : 3 / 7;
}

/* { box-sizing : border-box; } */

.carousel {
  margin     : 0 20px;
  background : transparent;
  /* space for prev/next buttons */
}

.carousel-cell {
  width             : 100%;
  height            : 200px;
  margin-right      : 16px;
  border-radius     : 4px;
  background        : transparent;
  counter-increment : gallery-cell;
  /* gap between cards */
}

/* cell number */

.carousel-cell:before {
  /**
  * content
  *
  *
  *
  * : counter(gallery-cell); display
  *
  *
  *
  * : block; color
  *
  *
  *
  *
  *
  * : white; text-align
  *
  * : center; font-size
  *
  * : 80px; line-height : 200px;
  */
}

/* smaller, dark, rounded square */

.flickity-button {
  background : transparent;
}

.flickity-button:hover {
  /* background: #F90; */
  background : transparent;
}

.flickity-prev-next-button {
  width         : 24px;
  height        : 24px;
  border-radius : 4px;
}

/* icon color */

.flickity-button-icon {
  /* fill : #6fd1f6; */
  fill : grey;
}

/* position outside */

.flickity-prev-next-button.previous {
  left : -32px;
}

.flickity-prev-next-button.next {
  right : -32px;
}

.flickity-button:focus {
  /* outline: none; box-shadow: 0 0 0 5px #19F; */
}

.hero-carousel__card {}

#hero-icon-navs {
  display            : -ms-flexbox;
  display            : flex;
  align-self         : flex-end;
  -ms-flex-direction : row;
  flex-direction     : row;
  justify-content    : space-around;
  grid-column        : span 4;
  grid-row           : 7 / 8;
}

.icon-nav a {
  text-decoration : none;
}

.icon-nav__box {
  display            : -ms-flexbox;
  display            : flex;
  width              : 64px;
  min-height         : 72px;
  margin             : 0;
  padding            : 0;
  border             : none;
  border-radius      : 4px;
  background         : transparent;
  align-items        : center;
  -ms-flex-direction : column;
  flex-direction     : column;
  justify-content    : space-evenly;
  /**
  * background-color
  *
  * : rgba(142, 191, 214, 0.12);
  */
}

.icon-nav__icon {
  width  : 24px;
  height : 24px;
  border : none;
  /* background-color : rgba(155, 155, 155, 0.5); */
}

.icon-nav__icon img {
  width  : 100%;
  height : 100%;
}

.icon-nav__title {
  width          : 54px;
  height         : 12px;
  color          : rgba(111, 209, 246, 0.5);
  font-size      : 12px;
  font-weight    : 500;
  line-height    : 1.33;
  letter-spacing : 1.25px;
}

.icon-nav__text {
  display : none;
}

#hero-scroll-arrow {
  align-self  : flex-end;
  grid-column : 2 / 4;
  grid-row    : 8 / 9;
}

/* About Dublin * */

#about-dublin {
  display               : grid;
  width                 : 100vw;
  min-width             : 360px;
  height                : 300vh;
  padding               : 16px;
  justify-content       : center;
  grid-gap              : 16px;
  grid-template-columns : repeat(4, 1fr);
  grid-template-rows    : repeat(24, 1fr);
  /**
  * min-height
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  * : 540px;
  */
}

#about-dublin__header {
  align-self  : center;
  grid-column : span 4;
  grid-row    : 2/3;
}

#about-dublin__header > h1 {
  /* width: 136px; */
  margin         : 0;
  color          : #6fd1f6;
  font-size      : 24px;
  font-weight    : bold;
  line-height    : 0.73;
  letter-spacing : -0.5px;
}

#about-dublin__card {
  padding     : 16px 16px 0 16px;
  overflow-y  : scroll;
  grid-column : span 4;
  grid-row    : 3/9;
}

#about-dublin__card > p {
  /* width: 296px; height: 371px; */
  color          : rgba(255, 255, 255, 0.87);
  font-size      : 14px;
  font-weight    : 500;
  line-height    : 1.71;
  letter-spacing : 0.5px;
}

#la-map__header {
  text-align  : left;
  align-self  : center;
  grid-column : span 4;
  grid-row    : 9/11;
}

#la-map__header > h1 {
  /* width: 326px; */
  /* min-height: 50px; */
  margin         : 0;
  color          : #6fd1f6;
  font-size      : 16px;
  font-style     : normal;
  font-weight    : 500;
  font-stretch   : normal;
  line-height    : 1.5;
  letter-spacing : 1.5px;
}

#la-map__map {
  border      : dashed 1px;
  grid-column : span 4;
  grid-row    : 11/17;
}

#la-info__map {
  border      : solid 2px;
  grid-column : span 4;
  grid-row    : 17 / 22;
}

#la-info__card {
  padding     : 16px;
  overflow-y  : scroll;
  border      : solid 2px;
  grid-column : span 4;
  grid-row    : 22 / 25;
}

#la-info__card__header {
  padding-bottom : 16px;
}

#la-info__card__header > h1 {
  margin         : 0;
  color          : #6fd1f6;
  font-size      : 24px;
  font-weight    : 500;
  line-height    : 24px;
  letter-spacing : 0.18px;
}

#la-info__card__body {}

#la-info__card__body > p {
  margin         : 0;
  color          : rgba(255, 255, 255, 0.87);
  font-size      : 14px;
  font-weight    : 500;
  line-height    : 24px;
  letter-spacing : 0.5px;
}

#about-dublin-dashboard {
  display               : grid;
  width                 : 100vw;
  min-width             : 360px;
  height                : 100vh;
  min-height            : 540px;
  padding               : 16px;
  justify-content       : center;
  grid-gap              : 16px;
  grid-template-columns : repeat(4, 1fr);
  grid-template-rows    : repeat(8, 1fr);
}

#about-dublin-dashboard__header {
  align-self  : center;
  grid-column : span 4;
  grid-row    : 2/3;
}

#about-dublin-dashboard__header > h1 {
  /* width: 271px; height: 18px; */
  margin         : 0;
  color          : #6fd1f6;
  font-size      : 24px;
  font-style     : normal;
  font-weight    : bold;
  font-stretch   : normal;
  line-height    : 0.73;
  letter-spacing : -0.5px;
}

#about-dublin-dashboard__twitter {
  display : none;
}

#about-dublin-dashboard__card {
  padding     : 16px 16px 0 16px;
  overflow-y  : scroll;
  grid-column : span 4;
  grid-row    : 3/9;
}

#about-dublin-dashboard__card > p {
  /* width: 296px; height: 371px; */
  color          : rgba(255, 255, 255, 0.87);
  font-size      : 14px;
  font-weight    : 500;
  line-height    : 1.71;
  letter-spacing : 0.5px;
}

/* s: 768px -> 1024px x 1400px (intermediate) */

@media
  only screen
  and (min-width : 768px) {
}

/* m: 1024 x 1400px <MOCKUP> */

@media
  only screen
  and (min-width : 1024px) {
  #hero {
    min-height       : 1400px;
    background-image : url('../images/home/hero-background-image-tablet.png');
  }

  #hero-grid {
    padding-right         : 24px;
    padding-left          : 24px;
    grid-gap              : 24px;
    grid-template-columns : repeat(12, 1fr);
    grid-template-rows    : repeat(12, 1fr);
  }

  #hero-title {
    /* width: 453px; height: 180px; */
    padding-left   : 24px;
    border         : none;
    text-align     : left;
    align-self     : top;
    font-size      : 76px;
    grid-column    : 1 / 6;
    grid-row       : 2 / 3;
    line-height    : 0.73;
    letter-spacing : -0.5px;
  }

  #hero-title > div {
    transform : translate(0, 0);
  }

  #hero-time-weather {
    justify-content : flex-start;
    grid-column     : 6 / 13;
    grid-row        : 2 / 4;
    transform       : translate(24px,0);
  }

  #hero-time {
    display         : -ms-flexbox;
    display         : flex;
    justify-content : flex-end;
  }

  #hero-time__box {
    /* border: solid 2px; */
    /* max-width: 400px; */
    display          : flex;
    display          : -ms-flexbox;
    width            : 325px;
    height           : 64px;
    background-color : rgba(142, 191, 214, 0.08);
    background-color : rgba(142, 191, 214, 0.08);
    align-items      : center;
    font-style       : normal;
    font-weight      : 500;
    font-stretch     : normal;
    flex-wrap        : nowrap;
    justify-content  : space-around;
    line-height      : 1.2;
    letter-spacing   : 0.15px;
  }

  #hero-time__clock {
    width     : 80px;
    height    : 22px;
    color     : #6fd1f6;
    font-size : 20px;
  }

  #hero-time__date {
    width       : 109px;
    height      : 22px;
    color       : rgba(255, 255, 255, 0.6);
    font-size   : 20px;
    font-weight : 300;
  }

  #hero-weather {
    display         : -ms-flexbox;
    display         : flex;
    justify-content : flex-end;
  }

  #hero-weather__box {
    display            : -ms-flexbox;
    display            : flex;
    width              : 366px;
    height             : 64px;
    background-color   : rgba(142, 191, 214, 0.08);
    font-style         : normal;
    -ms-flex-direction : row;
    flex-direction     : row;
    flex-wrap          : nowrap;
    justify-content    : space-evenly;
    word-wrap          : break-word;
  }

  #hero-weather__left-top {
    height         : 20px;
    color          : #6fd1f6;
    font-size      : 20px;
    font-weight    : 500;
    line-height    : 1.2;
    letter-spacing : 0.15px;
  }

  #hero-weather__left-bottom {
    display        : -ms-flexbox;
    display        : flex;
    color          : rgba(255, 255, 255, 0.6);
    font-size      : 18px;
    font-weight    : 500;
    line-height    : 1.33;
    letter-spacing : 0.15px;
  }

  #hero-weather__symbol {
    width  : 48px;
    height : 48px;
  }

  #hero-weather__right-top {
    height         : 20px;
    font-size      : 20px;
    font-weight    : 500;
    line-height    : 1.2;
    letter-spacing : 0.15px;

  }

  #hero-weather__right-top img {
    width  : 24px;
    height : 24px;
  }

  #hero-weather__right-bottom {
    display        : -ms-flexbox;
    display        : flex;
    color          : rgba(255, 255, 255, 0.6);
    font-weight    : 500;
    line-height    : 1.33;
    letter-spacing : 0.15px;
    /**
    * height
    *
    *
    *
    *
    *
    *
    *
    * : 18px;
    */
    /**
    * text-align
    *
    *
    *
    * : center;
    */
    align-items: center;
  }

  #hero-carousel {
    /* border      : solid 2px; */
    grid-column : span 12;
    grid-row    : 4 / 10;
  }

  .carousel {
    margin     : 0 20px;
    background : transparent;

    /* space for prev/next buttons */
  }

  .carousel-cell {
    width             : 50%;
    height            : 256px;
    margin-right      : 16px;
    border-radius     : 4px;
    background        : transparent;
    /* counter-increment : gallery-cell; */
    /* gap between cards */
  }

  /* cell number */

  .carousel-cell:before {
    /**
    * content
    *
    *
    *
    * : counter(gallery-cell); display
    *
    *
    *
    * : block; color
    *
    *
    *
    *
    *
    * : white; text-align
    *
    * : center; font-size
    *
    * : 80px; line-height : 200px;
    */
  }



  /* smaller, dark, rounded square */

  .flickity-button {
    background : transparent;
  }

  .flickity-button:hover {
    /* background: #F90; */
    background : transparent;
  }

  .flickity-prev-next-button {
    width         : 24px;
    height        : 24px;
    border-radius : 4px;
  }

  /* icon color */

  .flickity-button-icon {
    /* fill : #6fd1f6; */
    fill : grey;
  }

  /* position outside */

  .flickity-prev-next-button.previous {
    left : -32px;
  }

  .flickity-prev-next-button.next {
    right : -32px;
  }

  .flickity-button:focus {
    /* outline: none; box-shadow: 0 0 0 5px #19F; */
  }

  .hero-carousel__card {}


  #hero-icon-navs {
    display            : -ms-flexbox;
    display            : flex;
    border             : none;
    align-self         : center;
    -ms-flex-direction : row;
    flex-direction     : row;
    justify-content    : space-around;
    grid-column        : span 12;
    grid-row           : 10 / 12;
  }

  .icon-nav a {
    text-decoration : none;
  }

  .icon-nav a:hover {
    background-color : red;
    text-decoration  : none;
  }

  .icon-nav__box {
    display            : -ms-flexbox;
    display            : flex;
    width              : 165px;
    height             : 72px;
    margin             : 0;
    padding            : 0;
    border             : none;
    border-radius      : 4px;
    background-color   : rgba(142, 191, 214, 0.12);
    align-items        : center;
    -ms-flex-direction : row;
    flex-direction     : row;
    justify-content    : space-around;
  }

  .icon-nav__icon {
    width  : 48px;
    height : 48px;
    border : none;
    /* background-color : rgba(155, 155, 155, 0.0); */
  }

  .icon-nav__title {
    width          : 62px;
    height         : 16px;
    color          : #6fd1f6;
    border         : none;
    font-size      : 14px;
    font-style     : normal;
    font-weight    : 500;
    line-height    : 1.14;
    letter-spacing : 1.25px;
  }

  .icon-nav__text {
    display        : flex;
    width          : 165px;
    height         : 40px;
    color          : rgba(255, 255, 255, 0.6);
    font-size      : 14px;
    font-weight    : 300;
    line-height    : 1.43;
    letter-spacing : 0.25px;
  }

  #hero-scroll-arrow {
    grid-column : 6/8;
    grid-row    : 12 / 13;
  }
  /* About Dublin * */

  #about-dublin {
    height                : 100vh;
    padding               : 24px;
    justify-content       : center;
    grid-gap              : 24px;
    grid-template-columns : repeat(12, 1fr);
    grid-template-rows    : repeat(12, 1fr);
  }

  #about-dublin__header {
    text-align  : center;
    align-self  : center;
    grid-column : 1/5;
    grid-row    : 2/3;
  }

  #about-dublin__header > h1 {
    margin         : 0;
    font-size      : 34px;
    line-height    : 1.06;
    letter-spacing : 0.5px;
    /* width: 333px; height: 34px; */
  }

  #about-dublin__card {
    padding     : 32px;
    overflow-y  : auto;
    grid-column : 2/12;
    grid-row    : 3/6;
  }

  #about-dublin__card > p {
    /* width: 746px; height: 246px; */
    font-size   : 16px;
    line-height : 1.5;
  }

  #la-map__header {
    display     : none;
    grid-column : 2 / 6;
    grid-row    : 8/9;
  }

  #la-map__header > h1 {
    /* width: 326px; */
    /* min-height: 50px; */
    margin         : 0;
    color          : #6fd1f6;
    font-size      : 16px;
    font-style     : normal;
    font-weight    : 500;
    font-stretch   : normal;
    line-height    : 1.5;
    letter-spacing : 1.5px;
  }

  #la-map__map {
    display : none;
  }

  #la-info {
    display               : grid;
    width                 : 100vw;
    min-width             : 360px;
    height                : 100vh;
    min-height            : 540px;
    padding               : 16px;
    border                : dashed 2px;
    justify-content       : center;
    grid-gap              : 16px;
    grid-template-columns : repeat(4, 1fr);
    grid-template-rows    : repeat(8, 1fr);
  }

  #la-info__map {
    border      : dashed 1px;
    grid-column : 7 / 13;
    grid-row    : 6/12;
  }

  #la-info__card {
    padding     : 16px;
    overflow-y  : scroll;
    border      : dashed 2px;
    grid-column : 2/7;
    grid-row    : 7 / 10;
  }

  #la-info__card__header {
    padding-bottom : 16px;
  }

  #la-info__card__header > h1 {
    margin         : 0;
    color          : #6fd1f6;
    font-size      : 24px;
    font-weight    : 500;
    line-height    : 24px;
    letter-spacing : 0.18px;
  }

  #la-info__card__body {}

  #la-info__card__body > p {
    margin         : 0;
    color          : rgba(255, 255, 255, 0.87);
    font-size      : 14px;
    font-weight    : 500;
    line-height    : 24px;
    letter-spacing : 0.5px;
  }

  #about-dublin-dashboard {
    height                : 50vh;
    min-height            : 700px;
    padding               : 24px;
    grid-gap              : 24px;
    grid-template-columns : repeat(12, 1fr);
    grid-template-rows    : repeat(6, 1fr);
  }

  #about-dublin-dashboard__header {
    text-align  : center;
    grid-column : 1 / 7;
    grid-row    : 2/3;
  }

  #about-dublin-dashboard__header > h1 {
    /* width: 388px; height: 34px; */
    margin         : 0;
    font-size      : 34px;
    font-weight    : 500;
    line-height    : 1.06;
    letter-spacing : -0.5px;
    /**
    * font-stretch
    *
    * : normal;
    */
  }

  #about-dublin-dashboard__twitter {
    display     : inline;
    text-align  : center;
    align-self  : flex-end;
    grid-column : 7 / 13;
    grid-row    : 2/3;
  }

  #about-dublin-dashboard__twitter > p {
    /* width: 303px; height: 24px; */
    color          : #6fd1f6;
    font-size      : 18px;
    font-style     : normal;
    font-weight    : 500;
    font-stretch   : normal;
    line-height    : 1.33;
    letter-spacing : 0.18px;
  }

  #about-dublin-dashboard__card {
    padding     : 24px;
    overflow-y  : scroll;
    grid-column : 2 / 12;
    grid-row    : 3/7;
  }

  #about-dublin-dashboard__card > p {
    /* width: 746px; height: 256px; */
    font-size      : 16px;
    letter-spacing : 0.5px;
  }
}

/* m-l: 1224px (intermediate) */

@media
  only screen
  and (min-width : 1224px) {
}

/* l-xl: 1025px -> 1920px (intermediate) */

@media
  only screen
  and (min-width : 1025px) {
  /**
  * #hero-title { padding-left
  *
  * : 64px; font-size
  *
  *
  *
  *
  *
  * : 144px; grid-column
  *
  *
  *
  * : 1 / 6; grid-row
  *
  *
  *
  *
  *
  * : 2 / 4; line-height
  *
  *
  *
  * : 103.5px; letter-spacing : -0.5px; }
  */
}

/* xl: 1920px v 1080px <MOCKUP> */

@media
  only screen
  and (min-width : 1920px) {
  #hero {
    position         : relative;
    width            : 100vw;
    height           : 100vh;
    min-height       : 1080px;
    background-image : url('../images/home/hero-background-image-mobile.png');
  }

  #hero-grid {
    padding               : 24px;
    grid-gap              : 24px;
    grid-template-columns : repeat(12, 1fr);
    grid-template-rows    : repeat(8, 1fr);
  }

  #hero-title > div {
    transform : translate(0, 0);
  }

  #hero-title {
    padding-left   : 0px;
    align-self     : top;
    font-size      : 144px;
    grid-column    : 2 / 6;
    grid-row       : 2 / 4;
    line-height    : 0.72;
    letter-spacing : -0.5px;
  }

  #hero-time-weather {
    justify-content : flex-start;
    grid-column     : 6 / 13;
    grid-row        : 2 / 4;
    transform       : translate(24px,0);
  }

  #hero-time {
    display         : -ms-flexbox;
    display         : flex;
    justify-content : flex-end;
  }

  #hero-time__box {
    /* border: solid 2px; */
    /* max-width: 400px; */
    display          : flex;
    display          : -ms-flexbox;
    width            : 325px;
    height           : 64px;
    background-color : rgba(142, 191, 214, 0.08);
    background-color : rgba(142, 191, 214, 0.08);
    align-items      : center;
    font-style       : normal;
    font-weight      : 500;
    font-stretch     : normal;
    flex-wrap        : nowrap;
    justify-content  : space-around;
    line-height      : 1.2;
    letter-spacing   : 0.15px;
  }

  #hero-time__clock {
    width     : 80px;
    height    : 22px;
    color     : #6fd1f6;
    font-size : 20px;
  }

  #hero-time__date {
    width       : 109px;
    height      : 22px;
    color       : rgba(255, 255, 255, 0.6);
    font-size   : 20px;
    font-weight : 300;
  }

  #hero-weather {
    display         : -ms-flexbox;
    display         : flex;
    justify-content : flex-end;
  }

  #hero-weather__box {
    display            : -ms-flexbox;
    display            : flex;
    width              : 366px;
    height             : 64px;
    background-color   : rgba(142, 191, 214, 0.08);
    font-style         : normal;
    -ms-flex-direction : row;
    flex-direction     : row;
    flex-wrap          : nowrap;
    justify-content    : space-evenly;
    word-wrap          : break-word;
  }

  #hero-weather__left-top {
    /**
    * height
    *
    *
    *
    *
    *
    *
    *
    * : 24px; color
    *
    *
    *
    *
    *
    *
    *
    *
    *
    * : #6fd1f6; font-size
    *
    *
    *
    *
    *
    * : 24px; font-weight
    *
    *
    *
    * : 500; line-height
    *
    *
    *
    * : 1.2; letter-spacing : 0.15px;
    */
  }

  #hero-weather__left-bottom {
    /**
    * height: 20px; display
    *
    *
    *
    *
    *
    *
    *
    * : -ms-flexbox; display
    *
    *
    *
    *
    *
    *
    *
    * : flex; color
    *
    *
    *
    *
    *
    *
    *
    *
    *
    * : rgba(255, 255, 255, 0.6); font-size
    *
    *
    *
    *
    *
    * : 20px; font-weight
    *
    *
    *
    * : 500; line-height
    *
    *
    *
    * : 1.33; letter-spacing : 0.15px;
    */
  }

  #hero-weather__symbol {
    width  : 48px;
    height : 48px;
  }

  #hero-weather__right-top {
    /**
    * height
    *
    *
    *
    *
    *
    *
    *
    * : 24px; /* color
    *
    *
    *
    *
    *
    *
    *
    *
    *
    * : #6fd1f6;
    */
    /**
    * font-size
    *
    *
    *
    *
    *
    * : 24px; font-weight
    *
    *
    *
    * : 500; line-height
    *
    *
    *
    * : 1.2; letter-spacing : 0.15px;
    */

  }

  #hero-weather__right-top img {
    width  : 24px;
    height : 24px;
  }

  #hero-weather__right-bottom {
    /**
    * display
    *
    *
    *
    *
    *
    *
    *
    * : -ms-flexbox; display
    *
    *
    *
    *
    *
    *
    *
    * : flex; height
    *
    *
    *
    *
    *
    *
    *
    * : 1px; color
    *
    *
    *
    *
    *
    *
    *
    *
    *
    * : rgba(255, 255, 255, 0.6); /* text-align
    *
    *
    *
    * : center;
    */
    /* align-items: center; */
    /**
    * font-size:
    *
    * 20px; font-weight
    *
    *
    *
    * : 500; line-height
    *
    *
    *
    * : 1.33; letter-spacing : 0.15px;
    */
  }

  #hero-carousel {
    grid-column : span 12;
    grid-row    : 4 / 7;

  }



  .carousel {
    box-sizing: border-box;
    margin     : 0 24px;
    height: 100%;

    /* space for prev/next buttons */
  }

  .carousel-cell {
    width             : 426px; /*set as per card size*/
    min-height            : 308px;
    margin-right      : 24px;
    border-radius     : 4px;

    /* counter-increment : gallery-cell; */

  }



  .carousel-cell:before {
    /**
    * content
    *
    *
    *
    * : counter(gallery-cell); display
    *
    *
    *
    * : block; color
    *
    *
    *
    *
    *
    * : white; text-align
    *
    * : center; font-size
    *
    * : 80px; line-height : 200px;
    */
  }

  .carousel .flickity-viewport {
  position: absolute;
  width: 100%;
  height: 100%;
}


  /* smaller, dark, rounded square */

  .flickity-button {
    background : transparent;
  }

  .flickity-button:hover {
    /* background: #F90; */
    background : transparent;
  }

  .flickity-prev-next-button {
    width         : 24px;
    height        : 24px;
    border-radius : 4px;
  }

  /* icon color */

  .flickity-button-icon {
    /* fill : #6fd1f6; */
    fill : grey;
  }

  /* position outside */

  .flickity-prev-next-button.previous {
    left : -24px;
  }

  .flickity-prev-next-button.next {
    right : -32px;
  }

  .flickity-button:focus {
    /* outline: none; box-shadow: 0 0 0 5px #19F; */
  }

  .hero-carousel__card {}






  #hero-icon-navs {
    align-self      : top;
    justify-content : space-between;
    grid-column     : 3 / 11;
    grid-row        : 7 / 8;
  }

  #hero-scroll-arrow {
    grid-column : 6/8;
    grid-row    : 8 / 9;
  }

  #about-dublin {
    height                : 100vh;
    padding               : 24px;
    justify-content       : center;
    grid-gap              : 24px;
    grid-template-columns : repeat(12, 1fr);
    grid-template-rows    : repeat(8, 1fr);
  }

  #about-dublin__header {
    text-align  : left;
    align-self  : flex-end;
    grid-column : 2/4;
    grid-row    : 1/2;
  }

  #about-dublin__header > h1 {
    font-size      : 34px;
    line-height    : 1.06;
    letter-spacing : 0.5px;
    /* width: 333px; height: 34px; */
  }

  #about-dublin__card {
    padding     : 32px;
    overflow-y  : auto;
    grid-column : 2/7;
    grid-row    : 2/5;
  }

  #about-dublin__card > p {
    /* width: 702px; height: 245px; */
    font-size      : 16px;
    line-height    : 1.5;
    letter-spacing : 0.5px;
  }

  #la-map__header {
    display     : flex;
    display     : none;
    grid-column : 3 / 7;
    grid-row    : 6/7;
  }

  #la-map__header > h1 {
    /* width: 326px; */
    /* min-height: 50px; */
    margin         : 0;
    color          : #6fd1f6;
    font-size      : 16px;
    font-style     : normal;
    font-weight    : 500;
    font-stretch   : normal;
    line-height    : 1.5;
    letter-spacing : 1.5px;
  }

  #la-map__map {
    display : none;
  }

  #la-info__map {
    border      : dashed 1px;
    grid-column : 8 / 12;
    grid-row    : 2/9;
  }

  #la-info__card {
    display     : block;
    padding     : 32px;
    overflow-y  : auto;
    border      : dashed 2px;
    grid-column : 2/7;
    grid-row    : 5/8;
  }

  #la-info__card__header {
    padding-bottom : 32px;
  }

  #la-info__card__header > h1 {
    font-size      : 24px;
    font-weight    : 500;
    line-height    : 1.5;
    letter-spacing : 0.5px;
  }

  #la-info__card__body {}

  #la-info__card__body > p {
    font-size      : 16px;
    font-weight    : 500;
    line-height    : 24px;
    letter-spacing : 0.5px;
  }

  #about-dublin-dashboard {
    height                : 50vh;
    min-height            : 700px;
    padding               : 32px;
    grid-gap              : 32px;
    grid-template-columns : repeat(12, 1fr);
    grid-template-rows    : repeat(6, 1fr);
  }

  #about-dublin-dashboard__header {
    text-align  : center;
    grid-column : 1 / 5;
    grid-row    : 2/3;
  }

  #about-dublin-dashboard__header > h1 {
    /* width: 388px; height: 34px; */
    margin         : 0;
    font-size      : 34px;
    font-weight    : 500;
    line-height    : 1.06;
    letter-spacing : -0.5px;
    /**
    * font-stretch
    *
    * : normal;
    */
  }

  #about-dublin-dashboard__twitter {
    display     : inline;
    text-align  : right;
    align-self  : flex-end;
    grid-column : 9 / 12;
    grid-row    : 2/3;
  }

  #about-dublin-dashboard__twitter > p {
    /* width: 303px; height: 24px; */
    color          : #6fd1f6;
    font-size      : 18px;
    font-style     : normal;
    font-weight    : 500;
    font-stretch   : normal;
    line-height    : 1.33;
    letter-spacing : 0.18px;
  }

  #about-dublin-dashboard__card {
    padding     : 32px;
    overflow-y  : auto;
    grid-column : 2 / 12;
    grid-row    : 3/7;
  }

  #about-dublin-dashboard__card > p {
    /* width: 746px; height: 256px; */
    font-size      : 16px;
    line-height    : 1.5;
    letter-spacing : 0.5px;
  }
}
