/* Icon Navigation Component */

.icon-nav{
    text-align: center;
    display: block;
}

.icon-nav__link{
    display: block;
    border: none;
}

.q-mark {
    width:20px;
}

.icon {
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    max-width: 50px;
    max-height: 50px;
}

.icon--small{
    max-width: 1.5rem;
    max-height: 1.5rem;
    stroke-width: 2px;
    stroke:#d1d1d1cf;
    float: left;
    margin-right: 1rem;
    margin-top: .25rem;
}