

.bg-img {
    /* min-height: 662px; */
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.content-wrapper{
    width: 100%;
    margin: auto;
}

.content-wrapper--grad-overlay{
    color: var(--white);
}

.content-wrapper--grad-overlay::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    /* background-image: -webkit-linear-gradient(top, rgba(20, 27, 46, 0.15) 0%,rgba(20, 27, 46, 0.3) 10%,rgba(20, 27, 46, 0.25) 60%,#001f35 100%),
                      -webkit-linear-gradient(top, rgba(0,31,53,1) 0%, rgba(20, 27, 46,0) 100%); */
    background-image: -webkit-linear-gradient(top, rgba(20, 27, 46, 0.98) 0%,rgba(20, 27, 46, 0) 10%,rgba(20, 27, 46, 0.14) 50%,#001f35 100%),
                      -webkit-linear-gradient(top, rgba(0,31,53,1) 0%, rgba(20, 27, 46, 0.6) 100%)
  }

.content-wrapper--darkblue{
    background: var(--dark-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.content-wrapper--very-dark-blue{
    background: var(--very-dark-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.content-wrapper--blackblue{
    background: var(--black-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}




/* #region__total-population, #region__total-house, #region__total-vacant{
    font-weight: 600;
} */

/* #region__population, #region__house, #region__vacant, .map span{
    font-weight: 600;
} */

/* #local__title{
    color:#f8f8f8;
} */

/* #local__title__small, #local__open, #dublin-text p{
    color: #f8f8f8;
    font-weight: 100;
} */

/* #lp-tabs{
  display: flex;

} */


/* default adjusted in media query min 992 */
.columns-2{
    column-count: 1;
}
