.hero {
    position: relative;
    padding-top: 1rem;
}

.hero__title{
    font-weight: 500;
    letter-spacing: .25rem;
    font-size: 1.25rem;
}

.bg-img {
    min-height: 662px;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.content-wrapper--grad-overlay{
    color: var(--white);
}

.content-wrapper--grad-overlay::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    /* background-image: -webkit-linear-gradient(top, rgba(20, 27, 46, 0.15) 0%,rgba(20, 27, 46, 0.3) 10%,rgba(20, 27, 46, 0.25) 60%,#001f35 100%),
                      -webkit-linear-gradient(top, rgba(0,31,53,1) 0%, rgba(20, 27, 46,0) 100%); */
    background-image: -webkit-linear-gradient(top, rgba(20, 27, 46, 0.98) 0%,rgba(20, 27, 46, 0) 10%,rgba(20, 27, 46, 0.14) 50%,#001f35 100%),
                      -webkit-linear-gradient(top, rgba(0,31,53,1) 0%, rgba(20, 27, 46, 0.39) 100%)
  }

.content-wrapper--darkblue{
    background: var(--very-dark-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.content-wrapper--blackblue{
    background: var(--black-blue);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.about__header{
    font-size:2rem;
    text-transform:uppercase;
}

#region__total-population, #region__total-house, #region__total-vacant{
    font-weight: 600;
    color: var(--vivid-cyan);
}

#region__population, #region__house, #region__vacant{
    font-weight: 600;
    color: var(--vivid-cyan);
}

.region-on{
    fill: #16c1f3;
}

.lp-map__compare{
    visibility: hidden;
}

@media (min-width: 576px){
    .hero__title{
        font-size: 2.5rem;
    }

    .hero{
        padding-top: 2rem;
    }
}
