.axis {
  font: 10px sans-serif;
}


.line {
  fill: none;
  stroke-width: 2px;
}

.overlay, .overlay2 {
  fill: none;
  pointer-events: all;
}

.focus-circles {
  stroke-width: 2px;
}
  
.focus_line {
  stroke: #c4cdd5;
  stroke-width: 1px;
  /* stroke-dasharray: 5,5; */
}

.tool-tip {
  position: absolute;
  width: 290px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid rgb(210, 214, 223);
  border-radius: 5px;
  pointer-events: none;
  font-family: sans-serif;
  font-size: .75rem;
  line-height: 1.25rem;
  color: #313131;
  opacity: 1;
  padding-right: 0;
}

.tip-box{
  opacity: 0.75;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  float: left;
}

.tooltip-body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.bcd-dot{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  float: left;
  margin-right: 6px;
  margin-top: 4px;
}

.bcd-rect{
  height: 12px;
  width: 12px;
  float: left;
  margin-right: 6px;
  margin-top: 4px;
}

.bcd-text{
  font-size: .75rem;
  margin: 0;
  display: flex;
  width: 92%;
}

.bcd-text-rate, .bcd-text-value, .bcd-text-slice{
  flex: 0 0 22.5%;
  max-width: 22.5%;
  text-align: right;
  /* border-left: 1px solid #c4cdd5; */
  /* padding: 0 1px; */
}

.bcd-text-indicator{
  flex: 0 0 5%;
  max-width: 5%;
  text-align: right;
}

/* {
  flex: 0 0 20%;
  max-width: 20%;
  text-align: right;
} */

.bcd-text-title{
  flex: 0 0 45%;
  max-width: 45%;
}

.legend.active{
  opacity: .25;
}

/* .tip-text{
  line-height: 1.25rem;
} */