/* Typography*/
/* font size based on perfect fourth*/
html{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.618;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
  /*Check compatibility*/
  /* scroll-behavior:smooth; */
}

.page{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.3;
  color: inherit;
}

h1, .h1 {
  font-size: 2.827rem;
}

h2, .h2 {
  font-size: 1.999rem;
}

h3, .h3 {
  font-size: 1.414rem;
}

p, .p{
    font-size: 1rem;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.p--lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.header{
  padding: 1rem 0;
}

.header__h1{

}

.header__h2{
  text-align: center;
}

.header__lead{
  font-size: 1.375rem;
  font-weight: 300;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* custom typography */
.something .lead{
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin-bottom: 1.875rem;
}

.bold-text{
  font-weight: 600;
}

.n-text{
  font-weight: 100;
  font-style: normal;
  
}

/* end typography */
