/* Typography*/
/* font size based on perfect fourth*/ 
html{
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.618;
}

.page{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.3;
  color: inherit;
}

h1, .h1 {
  font-size: 2.827rem;
}

h2, .h2 {
  font-size: 1.999rem;
}

h3, .h3 {
  font-size: 1.414rem;
}

p, .p{
    font-size: 1rem;
}

.p--lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.header{
  padding: 1rem 0;
}

.header__h1{

}

.header__h2{
  text-align: center;
}

.header__lead{
  font-size: 1.375rem;
  font-weight: 300;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* end typography */