.LTR {
    font-size: 11px;
    padding: 6px 8px;
    background: white;
    background: rgba(252, 250, 250, 0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.LTR h8 {
    margin: 0 0 1px;
    color: #000;
}
