<div class="wrapper">
    <div class='context-text'>
        <h1>Dublin Health Centers</h1>
        <p> The map shows the locations of a variety of health 
            service types across the county, including hospitals, 
            pharmacies, dentists etc. <br></p>

        <div class='dc-data-count'>
            <p>Currently showing<br><span class='filter-count'></span>
                <span class="filter-text" id="type-filter-text"></span>
                <br>out of a total of<br><span class='total-count'></span><br> 
                health locations.
            </p>
        </div>
    </div>
    <div class="button-table">
        <table style="width:100%; text-align:center; 
               font-family: 'Proxima Nova', sans-serif; font-weight: normal; font-size: 12pt;">
            <tr>
                <td>
                    <input type="image" src="/images/themes/health/Hospital.png" id="hospital_button" style="width:60px; height:60px"/>
                </td>
                <td>
                    <input type="image" src="/images/themes/health/GP.png" id="gp_button" style="width:60px; height:60px"/>
                </td>
                <td>
                    <input type="image" src="/images/themes/health/Dentist.png" id="dentist_button" style="width:60px; height:60px"/>
                </td>
                <td>
                    <input type="image" src="/images/themes/health/Pharmacy.png" id="pharmacy_button" style="width:60px; height:60px"/>
                </td>

                <td>
                    <input type="image" src="/images/themes/health/HealthCenter.png" id="healthCenter_button" style="width:60px; height:60px"/>
                </td>
                <td>
                    <input type="image" src="/images/themes/health/All.png" id="all_button" style="width:60px; height:60px"/>
                </td>
            </tr>
            <tr>
                <td><div id="buttonHead0" >Hospital</div></td>
                <td><div id="buttonHead1" >General<br>Practice</div></td>
                <td><div id="buttonHead2" >Dentist</div></td>
                <td><div id="buttonHead3" >Pharmacy</div></td>
                <td><div id="buttonHead4" >Health<br>Center</div></td>
                <td><div id="buttonHead5" >Show<br>All</div></td>
            </tr>
        </table>
    </div>            
    <div class='viz1'>
        <div id='map'></div>
    </div>
    <div class="viz2">
        
    </div>
</div>

