.theme
    +theme__header('economy-header',
    'Economy',
    '***economy description here***',
    '',
    '')
    
    +theme__text-chart(
    'employment',
    [{ link:'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=QLF08&PLanguage=0',
    name: 'CSO'}],
    'Persons aged 15 and over in the labour force',
    'Employment grew steadily throughout the Celtic Tiger period up until 2007, then fell in the wake of the financial crash, recovering after 2012 as the economy started to grow again. The pattern in Dublin mirrored that of the rest of the country. ',
    '',
    ['chart-employment', 'chart-emp-rate']
    )
    
    +theme__text-chart(
    'unemployment',
    [{ link:'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=QLF08&PLanguage=0',
    name: 'CSO'}],
    'Unemploy',
    '<p> *** content tbc *** </p>',
    '',
    ['chart-unemployment', 'chart-unemp-rate']
    )

        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
