.theme
    +theme__header('economy-header',
    'Economy',
    'Economic trends for Dublin, highlighting employment patterns.',
    '',
    '')
    
    +theme__text-chart(
    'employment',
    [{ link:'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=QLF08&PLanguage=0',
    name: 'CSO'}],
    'Persons aged 15 and over in the labour force',
    '<p>Employment grew steadily throughout the Celtic Tiger period up until 2007, then fell in the wake of the financial crash, recovering after 2012 as the economy started to grow again. The pattern in Dublin mirrored that of the rest of the country. </p>',
    '',
    ['chart-employment', 'chart-emp-rate'],
    [{
    id: 'employment-count-btn',
    name: 'Number employed'
    },{
    id: 'employment-rate-btn',
    name: 'Annual % change'
    }]
    )
    
    +theme__text-chart(
    'unemployment',
    [{ link:'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=QLF08&PLanguage=0',
    name: 'CSO'}],
    'Unemployed persons aged 15 or over',
    '<p>From 2000 to 2008 the unemployment rate in Ireland and Dublin was between 4 and 5 percent. As the financial crisis hit, the unemployment rate rose steadily to reach 15 percent nationally and 13 percent in Dublin. From the end of 2012 as the economy recovered it fell steadily. </p>',
    '',
    ['chart-unemployment', 'chart-unemp-rate'],
    [{
    id: 'unemployment-count-btn',
    name: 'Number unemployed'
    },{
    id: 'unemployment-rate-btn',
    name: 'Unemployment rate'
    }]
    )
    
    +theme__text-chart(
    'employment-sector',
    [{ link:'https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=QNQ40&PLanguage=0',
    name: 'CSO'}],
    'Employment by Broad Sector',
    '<p> </p>',
    '',
    ['chart-employment-sector']
    )
    
    //- //emp sector data.gov version
    //- +theme__text-chart(
    //- 'employment-sector',
    //- [{ link:'https://data.gov.ie/dataset/dublin-economic-monitor/resource/b12a5b77-37dd-4e3f-bb4b-199ba35e94a5',
    //-     name: 'data.gov'
    //- },{ link:'https://data.smartdublin.ie/dataset/4997223b-13b2-4c97-9e88-cd94c6d35aec/resource/b12a5b77-37dd-4e3f-bb4b-199ba35e94a5/download/indicator-2-employment-by-sector.csv',
    //- name: 'download as csv'
    //- }],
    //- 'Employment by Broad Sector',
    //- '<p> </p>',
    //- '',
    //- ['chart-employment-sector']
    //- )
    
    +theme__text-chart(
    'employment-size',
    [{ link:'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=BRA08&PLanguage=0',
    name: 'CSO'}],
    'Number of Employees by Size of Company',
    '<p> </p>',
    '',
    ['chart-employees-by-size', 'chart-engaged-by-size', 'chart-active-enterprises'],
    [{
    id: 'btn-employees-by-size',
    name: 'Employees'
    },{
    id: 'btn-engaged-by-size',
    name: 'Persons engaged'
    },{
    id: 'btn-active-enterprises',
    name: 'Active enterprises'
    }]
    )
    
    +theme__text-chart(
    'grossValue',
    [{ link:'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=raa01',
    name: 'CSO'}],
    'Gross Value Added per Capita at Basic Prices',
    '<p> </p>',
    '<p> </p>',
    ['chart-gva']
    )
    //- [{
    //- id: 'unemployment-count-btn',
    //- name: 'Number unemployed'
    //- },{
    //- id: 'unemployment-rate-btn',
    //- name: 'Unemployment rate'
    //- }]
    
    +theme__text-chart(
    'indicator-airport',
    [{ link:'https://data.gov.ie/dataset/dublin-economic-monitor/resource/f6297d1e-2d25-4a35-a499-164f24511dd7',
    name: 'data.gov'},
    { link:'https://data.smartdublin.ie/dataset/4997223b-13b2-4c97-9e88-cd94c6d35aec/resource/f6297d1e-2d25-4a35-a499-164f24511dd7/download/indicator-.9.-dublin-airport-pax.csv',
    name: 'download'}
    ],
    'Dublin Airport Passengers',
    '<p> </p>',
    '',
    ['chart-indicator-airport']
    )
    
    
    

        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
