.theme
    +theme__header('education-header',
    'Education',
    '***education description here***',
    '',
    '')
    
    +theme__text-chart-chart(
    'pupil-numbers',
    [{ link:'https://www.cso.ie/en/statistics/education/',
    name: 'CSO'}],
    'Pupil Numbers',
    '<p> These charts from the CSO show the numbers of <b>primary</b> and <b>secondary</b> school pupils across the four Dublin local authorities </p>',
    '',
    ['chart-pupilsFirstLevel', 'chart-pupilsSecondLevel']
    )
    

        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
