.theme
    +theme__header('economy-header',
    'Economy',
    '***economy description here***',
    '',
    '')

        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
