.theme
    +theme__header('housing-header',
    'Homes & Housing',
    'The housing data highlights the distribution of residential properties throughout Dublin and seeks to highlight the current housing supply and affordability',
    'For more information on housing please click on this link <a href="../stories"> Housing Stories </a> ',
    '')

        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
