.theme
    +theme__header('education-header',
    'Education',
    '***education description here***',
    '',
    '')

        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
