
.theme
    
    +theme__header(
      'transport-header',
      'Transport',
      'Travel and transport trends for Dublin',
      '',
      'transport_background_mobile.png')
      
    
    //- 'For comprehensive and up-to-date travel information including live availablity, arrivals and departures, and Real-Time Passenger Information, see our Getting Around query',
    
    #ArrowtDiv.theme-scroll-arrow
      +hrfm('#public-transport-trips') 
    +theme__text-chart(
      'public-transport-trips',
      [{ 
      link:'https://data.gov.ie/dataset/dublin-economic-monitor/resource/2da5e1ce-2a77-40f8-8d8d-c7f03885ab6b',
      name: 'data.gov'},
      { 
      link:'https://data.smartdublin.ie/dataset/4997223b-13b2-4c97-9e88-cd94c6d35aec/resource/2da5e1ce-2a77-40f8-8d8d-c7f03885ab6b/download/indicator-.8.-public-transport.csv',  
      name: 'download'
      }],
      'Public Transport Usage',
      '<p>Public transport is a key mode of travel in the city and has been growing across bus, train and Luas over the past decade, with the exception of Bus Eireann which remains relatively stable. As the city grows, along with the need to address climate change, these modes need to continue to expand, along with cycling and walking.</p>',
      '<img src = "../images/transport/bus-w-15.svg"><h3>39.5 Million </h3><p> trips were taken on <b>Dublin Bus</b> in the last quarter of 2019</p>',
      ['chart-public-transport-trips']
      )
    #ArrowtDiv.theme-scroll-arrow  
      +hrfm('#dublin-bikes') 
    +theme__text-chart(
      'dublin-bikes',
      [{
      link: 'https://dublinbikes.staging.derilinx.com/',
      name: 'Derilinx API'},
      {
      link: 'http://www.dublinbikes.ie/',
      name: 'dublinbikes.ie'
      }],
      'Dublin Bikes',
      '<p>Just Eat dublinbikes is a self-service bike rental system open to everyone from 14 years of age. Users can travel through the city centre, commute between home and work and get out and about to enjoy Dublin City at their leisure. Visit the <a href = \'http://www.dublinbikes.ie/\' target=\"blank\"\'>Dublin Bikes website</a> for more information </p>',
      '<p>The chart shows the general trend of bikes availability for the past day, week and month- click on a button to move between views</p>',
      ['chart-dublinbikes'],
      [{
      id: 'dublinbikes_day',
      name: 'Yesterday'
      },{
      id: 'dublinbikes_week',
      name: 'Week'
      },
      {
      id: 'dublinbikes_month',
      name: 'Month'
      }]
      )
    #ArrowtDiv.theme-scroll-arrow
      +hrfm('#traffic-counters')
    +theme__text-chart(
      'traffic-counters',
      [{
      link: 'https://www.nratrafficdata.ie/c2/gmapbasic.asp?sgid=ZvyVmXU8jBt9PJE$c7UXt6',
      name: 'NRA Traffic Data'
      },{
      link: 'https://data.tii.ie/',
      name: 'TII Data Portal'
      }],
      'Traffic Counters',
      '<p>Transport Infrastructure Ireland (TII) maintains traffic sensors along motorways to count the number of vehicles. Vehicle sensors help track changes in road usage over time and estimate traffic volumes. This data is released as a yearly average daily number of vehicles.</p> <p> Use the map to compare the <b>Daily Vehicle Count</b> at sensors around the M50 over the past 6 months, up to the latest data available. Click on a car icon to open a summary popup chart</p>',
      '',
      ['map-traffic-counters']
      )
    #ArrowtDiv.theme-scroll-arrow  
      +hrfm('#environment')    


        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
