.theme
    +theme__header('environment-header',
    'Environment',
    'Explore the sensors placed throughout Dublin to monitor environmental conditions, and charts presenting historical statistics collected on various environmental factors.',
    '',
    '')

        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
