.theme
    +theme__header('demographics-header',
    'Demographics',
    'Statistical data relating to the population and particular groups within it',
    '',
    '')
    
    +theme__text-chart(
    'population',
    'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=CNA13&PLanguage=0',
    'CSO',
    '',
    '',
    'Population of Dublin',
    '<p>The population of Dublin has grown steadily in the past 100 years. The chart shows the total population of Dublin, with the numbers of females and males shown. These figures come from the national census, which is currently carried out every 5 years</p>',
    '',
    'chart-population'
    )

        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
