.theme
    +theme__header('housing-header',
    'Housing',
    'Housing trends for Dublin, highlighting affordability and housing supply',
    '',
    'housing_background.png')
    #hero-scroll-arrow.home-scroll-arrow
      +hrfm('#average-house-prices')
    
    +theme__text-chart(
    'average-house-prices',
    [{
    link :'https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=HPM05&PLanguage=0',
    name: 'CSO'
    }],
    'House Prices',
    '<p>Over the past decade property prices initally fell following the financial crash of 2008, then exhibitied a period of recovery. This chart shows mean and median house prices nationally ("All") and across the four Dublin local authorities for each month since the beginning of 2010. </p>',
    '',
    ['chart-house-price-mean', 'chart-house-price-median'],
    [{
    id: 'btn-house-price-mean',
    name: 'Mean price'
    },{
    id: 'btn-house-price-median',
    name: 'Median price'
    }]
    )
    #hero-scroll-arrow.home-scroll-arrow
      +hrfm('#house-rppi')
    +theme__text-chart(
    'house-rppi',
    [
    {
    link :'https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=HPM09&PLanguage=0',
    name: 'CSO'
    }],
    'Property Price Index',
    '<p>When comparing house price figures from one period to another, it should be noted that changes in the mix of dwellings for sale (houses vs apartments, number of bedrooms) has an effect. The CSO monthly residential property price index (RPPI) shown here gives the average property price change specific to houses, from a baseline of 100 established in 2015.</p>',
    '',
    ['chart-house-rppi']
    )
    #hero-scroll-arrow.home-scroll-arrow
      +hrfm('#monthly-rent-prices-private')
    +theme__text-chart(
    'monthly-rent-prices-private',
    [{
    link :'https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=RIQ02&ProductID=DB_RI&PLanguage=0',
    name: 'RTB/CSO'
    }],
    'Monthly Rent Prices for Private Dwellings',
    '<p> The \'Rent price\' tab shows the average monthly rent being paid in Dublin since 2008. This price fell in the wake of the financial crash, before rising steadily, so that it is now back above the peak of a decade ago. The \'By no. of bedrooms\' tab shows standardised rent broken down by the number of bedrooms for the data available.  A decline in some categories of accomodation is visible towards the end of 2019. </p>',
    '',
    ['chart-rent-prices', 'chart-rent-by-beds'],
    [{
    id: 'btn-rent-prices',
    name: 'Rent price'
    },{
    id: 'btn-rent-by-beds',
    name: 'By no. of bedrooms'
    }]
    )
    #hero-scroll-arrow.home-scroll-arrow
      +hrfm('#quarterly-new-dwelling-completions')
    +theme__text-chart(
    'quarterly-new-dwelling-completions',
    [{
    link :'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=NDQ06&PLanguage=0',
    name: 'CSO'}],
    'Quarterly New Dwelling Completions by Type',
    '<p>The chart shows the house unit completion data for each of the Dublin local authorities, categorised by type of dwelling as <ul><li>\'House\': a single house build</li><li> \'Scheme\': house build as part of a scheme</li><li>\'Apartment\': an apartment completion.</li></ul></p>',
    '',
    ['chart-completions-house', 'chart-completions-scheme', 'chart-completions-apartment'],
    [{
    id: 'btn-completions-house',
    name: 'House'
    },{
    id: 'btn-completions-scheme',
    name: 'Scheme'
    },{
    id: 'btn-completions-apartment',
    name: 'Apartment'
    }]
    )
    #hero-scroll-arrow.home-scroll-arrow
      +hrfm('#economy')
    
    //- +theme__text-chart(
      'available-housing-land',
      [{
      link :'https://www.housing.gov.ie/search/archived/current?query=residential%20land%20survey',
      name: 'DHPCLG'
      }],
      'Available Supply of Housing Land (2014)',
      '<p>The <b>2014 Residential Land Availability Survey</b> measured the total amount of lands that had at that time been development plans and that were the highest priority for development. In effect, these lands were the areas within which much, if not all, new urban housing in the state was expected to be provided in the five or six years following the survey completion</p> <p>The area of such lands amounted to <b>17,434 hectares</b>, which gave a range of densities appropriate to whether the areas were in small villages or larger towns and cities and, as determined by the relevant local authorities, could theoretically enable the construction of over <b>414,000 dwellings</b></p>',
      '',
      'chart-houseSupply'
      )
    


        
block append scripts
    script(src="/lib/d3v5/d3.js" type="text/javascript")
    //- script(src="/javascripts/themes/housing.js" type="text/javascript")
