header.header
  .row
    .col-lg-12
      h1 Education <img height='15px' width='15px' src='/images/calendar-w.svg'>
      //- p.lead Education data coming soon!
      p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
article.article
  .section-body.row.wrapper
    .col-lg-4
      h3 Highest Level of Education <img height='15px' width='15px' src='/images/calendar-w.svg'>
      p Source: 
        a(href="https://www.cso.ie/en/statistics/education/" target="blank") CSO  
      p Highest Level of Education for Persons aged 15 years and over (2011)
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      .pt-2
        //- <button type="button" class="btn btn-bcd active employment-btn employment_count" value="">Count</button>
        //- <button type="button" class="btn btn-bcd employment-btn employment_qrate" value="">Rate</button>
      div#chart-educationLevel.chart-holder

  .section-body.row.wrapper
    .col-lg-4
      h3 Primary School Pupil Numbers <img height='15px' width='15px' src='/images/calendar-w.svg'>
      p Source: 
        a(href="https://www.cso.ie/en/statistics/education/" target="blank")  CSO  
      p Number of Pupils in First Level School by Council. 
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.

    .col-lg-8
      .pt-2
        //- <button type="button" class="btn btn-bcd active">Count</button>
      #chart-pupilsFirstLevel.chart-holder

  .section-body.row.wrapper
    .col-lg-4
      h3 Second Level School Pupil Numbers <img height='15px' width='15px' src='/images/calendar-w.svg'>
      p Source: 
        a(href="https://www.cso.ie/en/statistics/education/" target="blank") CSO
      p Number of Pupils in Second Level School by Council
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      .pt-2
        //- <button type="button" class="btn btn-bcd active">Count</button>
      #chart-pupilsSecondLevel.chart-holder
  
  .section-body.row.wrapper
    .col-lg-4
      h3 Number of Special National Schools <img height='15px' width='15px' src='/images/calendar-w.svg'>
      p Source: 
        a(href="https://www.cso.ie/en/statistics/education/" target="blank") CSO  
      p Special Schools (Number) by Year and Councils
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      .pt-2
        //- <button type="button" class="btn btn-bcd active">Count</button>
      #chart-specialSchoolsLevel.chart-holder