.theme
    +theme__header('demographics-header',
    'Demographics',
    'Statistical data relating to the population and particular groups within it',
    '',
    '')
    
    +theme__text-chart(
    'population',
    'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=CNA13&PLanguage=0',
    'CSO',
    '',
    '',
    'Population of Dublin',
    '<p>The population of Dublin has grown steadily in the past 100 years. The chart shows the total population of Dublin, with the numbers of females and males shown. These figures come from the national census, which is currently carried out every 5 years</p>',
    '',
    'chart-population'
    )
    
    +theme__text-chart(
    'population',
    'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=CD101&PLanguage=0',
    'CSO',
    '',
    '',
    'Population Born Outside the State',
    '<p>***Content needed*** </p><p>The chart excludes members of the population born in Northern Ireland</p>',
    '',
    'chart-bornOutsideState'
    )
    
    +theme__text-chart(
    'population',
    'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=CNA33&PLanguage=0',
    'CSO',
    '',
    '',
    'Number of Households in Dublin',
    '<p>The number of households in Dublin has grown in the past 40 years or so. The chart shows the number of households as measured by the census since 1986, and is broken down by the four Dublin local authorities.</p> <p>We can see that the Dublin city center region has often had as many households as the other local authorities combined</p>',
    '',
    'chart-households'
    )
    
    +theme__text-chart(
    'population',
    'https://www.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=CD101&PLanguage=0',
    'CSO',
    '',
    '',
    'Households by Number of Persons (2016)',
    '<p>This chart from the 2016 census shows the number of private permanent households with a given number of persons resident. It is broken down for the four Dublin local authorities</p> <p>It can show us that, for example, the majority of properties in the Dublin city center region have 1 or 2 occupants, whereas the outer locales have a broader spread of household composition</p>',
    '',
    'chart-householdComposition'
    )

        
block append scripts
  //- script(src="/javascripts/themes/transport/transport_traffic.js" type="module")
