header.header
  .row
    .col-lg-12
      h1 Health <img height='15px' width='15px' src='/images/calendar-w.svg'>
      p.lead Health data coming soon!
      //p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.

//article.article
  //.row
    .col-lg-12
      h2.header__h2.mb-2 Health Statistics

  .section-body.row.wrapper
    .col-lg-4
      h3 No. of Patients Waiting on Trolleys (30 Weekday Rolling Average)  <img height='15px' width='15px' src='/images/calendar-w.svg'>
      p Source: 
        a(href="https://health.gov.ie/publications-research/statistics/weekly-inmo-trolley-report/" target ="blank") Dept. of Health 
          img(src='../images/external-link.svg' height='11px' width='11px') 
        
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      .pt-2
        //- <button id="t2016" type="button" class="btn btn-bcd active" value="">Count</button>
        //- <button id="t2015" type="button" class="btn btn-bcd" value="">2015</button>
        //- <button id="t2014" type="button" class="btn btn-bcd" value="">2014</button>
        //- <button id="t2013" type="button" class="btn btn-bcd" value="">2013</button>
      #chart-trolleys.chart-holder

  .section-body.row.wrapper
    .col-lg-4
      h3 Population Health in 2011  <img height='15px' width='15px' src='/images/calendar-w.svg'>
      p Source: 
        a(href="https://www.cso.ie/px/pxeirestat/Database/eirestat/Profile%208%20Our%20Bill%20of%20Health/Profile%208%20Our%20Bill%20of%20Health_statbank.asp?SP=Profile%208%20Our%20Bill%20of%20Health&Planguage=0" target="blank")  CSO  
          img(src='../images/external-link.svg' height='11px' width='11px') 
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        |nisi ut aliquip ex ea commodo consequat.
    .col-lg-8
      //- div.pt-2
      //-   <button id="hlevels_count" type="button" class="btn btn-bcd active" value="">Count</button>
      //-   <button id="hlevels_rate" type="button" class="btn btn-bcd" value="">Rate</button>
      div#chart-healthlevels.chart-holder